@page {margin: 2cm;}
* {float: none !important; position: relative !important; display: block !important; line-height: 1.3 !important; font-size: 12pt;}
.nav-primary, .nav-secondary, #tipenven, .title, script, style, #beretningtop, .retsinfolink, iframe {display: none !important;}
a {text-decoration: none;}
.teaser, #beretningtop {font-size: 18pt;}
.header_blue, .header_white {font-weight: bold;}
#container {width: auto !important; height: auto !important;}
.footer {page-break-before: always;}