

  #logo {float: right; width: 240px; margin-right: 56px;}
  #beretningtop h1, #feature2 h1 {color: #999; font-size: 19px; width: 180px; padding: 0 0 0 56px; position: absolute; top: 42px;}
  .nav-secondary, .beretning-nav {float: none; width: auto; border: none; padding: 20px 56px 40px; display: block;}
  .nav-secondary li, .beretning-nav li {float: left; width: auto; border: none;}
  .nav-secondary li a, .beretning-nav li a {font-size: 11px; padding: 2px 5px; margin-right: 8px;}
  .beretning-nav  {position: absolute; top: 160px; left: 50%; width: 300px; margin-left: -413px; padding: 0;}
  #main {float: none; width: 100%; margin: 20px 0;}
  .content {border: none;}
  .teaser {padding: 20px 56px;}
  #article {padding: 0 112px;}
  .article_list li {padding: 10px 20px;}
  .teaser img {margin-top: -20px;}
  .header_white, .header_blue {position: absolute; top: 230px; left: 50%; margin-left: -360px; width: 400px;}
  .teaser_white, .teaser_blue {position: absolute; top: 350px; left: 50%; margin-left: -360px; width: 400px; font-size: 14px;}
  .header_white, .teaser_white {color: #fff;}
  .header_blue, .teaser_blue {color: #004687;}
  #tipenven {left: 50%; margin: 0 0 0 -414px; position: absolute; top: 420px; padding: 0;}
  #tipenven a {display: block; padding: 2px 5px; font-size: 11px;}
  #feature2 {margin: 0; width: 940px; padding: 0;}
  #feature2 .aside {margin: -42px 56px 20px; padding: 8px 0 0; width: auto; background: url("http://www.ombudsmanden.dk/images/beretning2011/forsidebg.jpg") no-repeat scroll left top transparent; border: none;}
  #feature2 .aside h2 {display: none;}
  #frontpage {background: #004687; margin: 40px 0 20px;}
  #frontpage .news {width: 940px; margin: 0; padding: 0; display: block;}
  #frontpage .newsbox {background-color: #1C5A94; border: solid 2px #fff; border-width: 2px 0; width: 191px; margin: 0 20px 20px 0; font-size: 12px;}
  #frontpage .newsbox:first-child {margin-left: 56px;}
  #frontpage .newsbox * {color: #fff;}