/* Styles for Beretning microsite */
/* Frank Thomsen @ Magenta ApS, 2012 */

body {background-image: none; background-color: #fff;}
.nav-primary, #news .headergroup, #subsitefpsearch, h1.title {display: none;}
#beretningtop h1 {font-size: 1em; margin: 0; font-weight: normal; color: #005A99;}
#logo {margin: 38px 0 0 0; background-color: #fff;}
#main {background: #F1F2F3;} 
#article, .teaser {background: transparent;}
#tipenven {background: #A0A5A8;}
#tipenven a {color: #fff;}
#tipenven a:hover, #tipenven a:active, #tipenven a:focus {background-color: #004687;}
.beretning-nav ul {display: block !important; border: none;}
.beretning-nav li {border: none;}
.article_list {list-style: none; padding: 0; margin: 0 !important;}

a, a:link, a:visited, a:hover, a:active, h1, h2, h3, h4 {color: #005A99;}
.nav h3 {background-color: #005A99;}
.odd, .even {padding: 1em;}
.odd {background: #fff;}
.nav-secondary li a, .nav-secondary li.backlink a, .beretning-nav a {background-color: #A0A5A8; color: #fff; background-image: none;}
.nav-secondary li.active a, .nav-secondary li a:hover, .nav-secondary li a:active, .nav-secondary li a:focus,
.nav-secondary li.backlink a:hover, .nav-secondary li.backlink a:active, .nav-secondary li.backlink a:focus,
.beretning-nav a:hover, .beretning-nav a:active, .beretning-nav a:focus {color: #fff; background-color: #004687; background-image: none;}

@media only screen and (max-width: 959px) {
  #logo {margin: 1em 1em 0; position: static;}
  .nav-secondary {padding-bottom: 1em; position: static;}
  #beretningtop {margin: 0 1em;}
  #beretningtop h1 {padding: 1em 0; font-size: 1.5em;}
  .beretning-nav {display: block; margin: 0 1em;}
  .beretning-nav li {float: left; width: 50%;}
  .beretning-nav li a {margin-left: 1em;}
  .beretning-nav li:first-child a {margin-left: 0;}
  .header_white, .header_blue {margin: 0; font-size: 1.2em; padding: 0 1em;}
  .teaser img {max-width: 100%;}
  #feature2 h1 {font-size: 1.5em;}
  .content {border: none;}
}
@media only screen and (min-width: 700px) and (max-width: 959px) {
  #logo {margin: 1em 2em 0;}
  #beretningtop h1 {margin: 0 0.75em;}
  .nav-secondary {margin: 0; width: auto;}
  #features {padding: 0 2em 2em;}
  .beretning-nav {margin: 1em 2em;}
}
@media only screen and (min-width: 960px) {
  #logo {float: right; width: 240px; margin-right: 56px;}
  #beretningtop h1, #feature2 h1 {color: #999; font-size: 19px; width: 180px; padding: 0 0 0 56px; position: absolute; top: 42px;}
  .nav-secondary, .beretning-nav {float: none; width: auto; border: none; padding: 20px 56px 40px; display: block;}
  .nav-secondary li, .beretning-nav li {float: left; width: auto; border: none;}
  .nav-secondary li a, .beretning-nav li a {font-size: 11px; padding: 2px 5px; margin-right: 8px;}
  .nav-secondary li.backlink a {font-size: 11px; padding: 2px 5px;}
  .beretning-nav  {position: absolute; top: 160px; left: 50%; width: 300px; margin-left: -413px; padding: 0;}
  #main {float: none; width: 100%; margin: 20px 0;}
  .content {border: none;}
  .teaser {padding: 20px 56px;}
  #article {padding: 0 112px;}
  .article_list li {padding: 10px 20px;}
  .teaser img {margin-top: -20px;}
  .header_white, .header_blue {position: absolute; top: 230px; left: 50%; margin-left: -360px; width: 400px;}
  .teaser_white, .teaser_blue {position: absolute; top: 350px; left: 50%; margin-left: -360px; width: 400px; font-size: 14px;}
  .header_white, .teaser_white {color: #fff;}
  .header_blue, .teaser_blue {color: #004687;}
  #tipenven {left: 50%; margin: 0 0 0 -414px; position: absolute; top: 420px; padding: 0;}
  #tipenven a {display: block; padding: 2px 5px; font-size: 11px;}
  #feature2 {margin: 0; width: 940px; padding: 0;}
  #feature2 .aside {margin: -42px 56px 20px; padding: 8px 0 0; width: auto; background: url("http://www.ombudsmanden.dk/images/beretning/forsidebg.jpg") no-repeat scroll left top transparent; border: none;}
  #feature2 .aside h2 {display: none;}
  #frontpage {background: #004687; margin: 40px 0 20px;}
  #frontpage .news {width: 940px; margin: 0; padding: 0; display: block;}
  #frontpage .newsbox {background-color: #1C5A94; border: solid 2px #fff; border-width: 2px 0; width: 191px; margin: 0 20px 20px 0; font-size: 12px;}
  #frontpage .newsbox:first-child {margin-left: 56px;}
  #frontpage .newsbox * {color: #fff;}
}
