// Functions
@import "functions";

// Variables
@import "vars";

// Merriweather font from Google Fonts
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700');

// Scene Medium from Fonts.com

/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://www.fonts.com
*/

@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=0b54d051-d668-475e-8a25-100eeaa9aea6");
    @font-face{
        font-family:"Scene W01 Medium";
        src:url("../fonts/scene/6af08f3c-05b2-4e6b-aaf7-a668cc3e49d6.eot?#iefix");
        src:url("../fonts/scene/6af08f3c-05b2-4e6b-aaf7-a668cc3e49d6.eot?#iefix") format("eot"),url("../fonts/scene/21de521b-9a9c-40f2-8875-128463acc7e1.woff2") format("woff2"),url("../fonts/scene/450240f1-1aea-4607-9214-4900314554eb.woff") format("woff"),url("../fonts/scene/4fd2d398-0c6e-48e2-b861-caed5594111b.ttf") format("truetype"),url("../fonts/scene/05d6041a-e3ca-4420-9857-20aeb1c06219.svg#05d6041a-e3ca-4420-9857-20aeb1c06219") format("svg");
    }
