// Grid
$grid-max-width: 1200px;
$grid-gutter-width-px: 40px;
$grid-max-width-effective: $grid-max-width + 2 * $grid-gutter-width-px;
$grid-gutter-width: $grid-gutter-width-px / $grid-max-width * 100%; // 3.33% = 40px gutter at 1200px max width. But we also need to account for the outer gutter, so we add 2x gutter to the max width
$grid-num-cols: 12;
$grid-col-width: (100% - $grid-gutter-width * ($grid-num-cols - 1)) / $grid-num-cols;

// Flyout
$flyout-width:45%;
$flyout-max-width-px:540px;

$spacing: 3.75rem; // 60 px at 16px/rem

// Fonts
$serif: 'Merriweather', serif;
$sans: 'Scene W01 Medium', sans-serif;
$simple-line: 'simple-line-icons';

$font-large: 16px;
$font-medium: 13px;
$font-small: 10px;

// Colors
$white: #fff;

$darkgrey: #252525; // body text
$midgrey: #f3f3f3; // fakta background
$lightgrey: #f9f9f9; // footer bg
$greywhite: #fcfcfc; // bg for full width spot boxes

$darkblue: #002d65; // original dark blue from SortHvid
// $darkblue: darken(#1B609E, 10%); // headings, footer text etc; new logo color from Kontrapunkt, darkened 10%
$midblue: #1a4677; // line icons (arrow in spotbox list)
$lightblue: #7c92a6; // newsletter box bg
$skyblue: #edf4fe; // bg for magnifying glass (search icon), revised search item, document icon
$bluewhite: #f8fbff; // bg for front page spotboxes, hero no img (borger), teaserbox etc

$mistyrose: #fdf3f3; // examples, related content

$darkkhaki: #736f5f; // spots, at 5% opacity
$lightkhaki: darken(#8a877a, 10%); // buttons

$linkcolor: adjust-color($midblue, $saturation: -10%, $lightness: 15%);

// :focus style for form elements
$focusshadow: 0 0 .4em 0em $midblue;

// standard box shadow from table style
$boxshadow: 0 .75rem 5rem rgba(0,0,0,.15);

// Breakpoints (from Bootstrap)
$sm:576px;
$md:768px;
$lg:992px;
$mx:1600px;

// Animation durations
$anim-short: 150ms;
$anim-mid: 350ms;
$anim-long: 550ms;

// Dotted SVG border
$dot-svg: url('data:image/svg+xml;base64,' + base64Encode('<svg xmlns="http://www.w3.org/2000/svg" width="5" height="1" viewBox="0 0 5 1"><circle fill="' + $darkblue + '" cx=".5" cy=".5" r=".5"/></svg>'));

// Document icon SVG
$doc-svg: url('data:image/svg+xml;base64,' + base64Encode('<svg xmlns="http://www.w3.org/2000/svg" width="14.957" height="13.606" viewBox="0 0 14.957 13.606"><path fill="' + $darkblue + '" d="M14.582 1.653h-.965c-.207 0-.375.159-.375.355s.168.355.375.355h.59v10.531H3.364v-.641c0-.131-.079-.241-.19-.303h8.793c.207 0 .375-.158.375-.355V.355c0-.195-.168-.355-.375-.355H.375C.167 0 0 .16 0 .355v11.241c0 .195.167.355.375.355h2.431c-.112.062-.19.172-.19.303v.996c0 .195.167.355.375.355h11.592c.205 0 .375-.159.375-.355V2.008c-.001-.196-.169-.355-.376-.355zM.749 11.242V.711H11.59v10.531H.749zm8.942-8.763H2.99c-.207 0-.375.159-.375.355 0 .196.167.355.375.355h6.702c.207 0 .375-.159.375-.355s-.169-.355-.376-.355zm0 2.48H2.99c-.207 0-.375.159-.375.355 0 .197.167.355.375.355h6.702c.207 0 .375-.159.375-.355-.001-.196-.169-.355-.376-.355zm0 2.479H2.99c-.207 0-.375.158-.375.355 0 .195.167.355.375.355h6.702c.207 0 .375-.158.375-.355-.001-.195-.169-.355-.376-.355z"/></svg>'));
$doc-svg-white: url('data:image/svg+xml;base64,' + base64Encode('<svg xmlns="http://www.w3.org/2000/svg" width="14.957" height="13.606" viewBox="0 0 14.957 13.606"><path fill="' + $white + '" d="M14.582 1.653h-.965c-.207 0-.375.159-.375.355s.168.355.375.355h.59v10.531H3.364v-.641c0-.131-.079-.241-.19-.303h8.793c.207 0 .375-.158.375-.355V.355c0-.195-.168-.355-.375-.355H.375C.167 0 0 .16 0 .355v11.241c0 .195.167.355.375.355h2.431c-.112.062-.19.172-.19.303v.996c0 .195.167.355.375.355h11.592c.205 0 .375-.159.375-.355V2.008c-.001-.196-.169-.355-.376-.355zM.749 11.242V.711H11.59v10.531H.749zm8.942-8.763H2.99c-.207 0-.375.159-.375.355 0 .196.167.355.375.355h6.702c.207 0 .375-.159.375-.355s-.169-.355-.376-.355zm0 2.48H2.99c-.207 0-.375.159-.375.355 0 .197.167.355.375.355h6.702c.207 0 .375-.159.375-.355-.001-.196-.169-.355-.376-.355zm0 2.479H2.99c-.207 0-.375.158-.375.355 0 .195.167.355.375.355h6.702c.207 0 .375-.158.375-.355-.001-.195-.169-.355-.376-.355z"/></svg>'));

// External link svg
$external-svg: url('data:image/svg+xml;base64,' + base64Encode('<svg xmlns="http://www.w3.org/2000/svg" width="14.003" height="13.576" viewBox="0 0 14.003 13.576"><g fill="none" stroke="' + $darkblue + '" stroke-width=".71" stroke-linecap="round" stroke-linejoin="round"><path d="M11.947 6.056v7.165H.354V2.057h7.592M13.647.355L5.185 8.817M9.647.355h4v4"/></g></svg>'));
$external-svg-white: url('data:image/svg+xml;base64,' + base64Encode('<svg xmlns="http://www.w3.org/2000/svg" width="14.003" height="13.576" viewBox="0 0 14.003 13.576"><g fill="none" stroke="' + $white + '" stroke-width=".71" stroke-linecap="round" stroke-linejoin="round"><path d="M11.947 6.056v7.165H.354V2.057h7.592M13.647.355L5.185 8.817M9.647.355h4v4"/></g></svg>'));

// HTML icon svg
$html-svg: url('data:image/svg+xml;base64,' + base64Encode('<svg xmlns="http://www.w3.org/2000/svg" width="13.799" height="6.603" viewBox="0 0 13.799 6.603"><g fill="none" stroke="' + $darkblue + '" stroke-width=".71" stroke-linecap="round" stroke-linejoin="round"><path d="M4.18 5.654L.355 3.74 4.18 1.83M9.62 5.654l3.824-1.913L9.62 1.83M8.58.355L5.63 6.247"/></g></svg>'));
$html-svg-white: url('data:image/svg+xml;base64,' + base64Encode('<svg xmlns="http://www.w3.org/2000/svg" width="13.799" height="6.603" viewBox="0 0 13.799 6.603"><g fill="none" stroke="' + $white + '" stroke-width=".71" stroke-linecap="round" stroke-linejoin="round"><path d="M4.18 5.654L.355 3.74 4.18 1.83M9.62 5.654l3.824-1.913L9.62 1.83M8.58.355L5.63 6.247"/></g></svg>'));

// Envelope graphic
$envelope: url('data:image/svg+xml;base64,' + base64Encode('<svg xmlns="http://www.w3.org/2000/svg" width="584.018" height="364.016" viewBox="0 0 584.018 364.016"><path fill="none" stroke="' + $darkgrey + '" stroke-width="35" stroke-linejoin="round" d="M566.518 346.516H17.5V17.5h549.018v329.016zM17.5 17.5l274.12 252.904L565.737 17.5H17.5zm274.12 252.904l-100.055-92.31L17.5 346.515h548.28L391.696 178.073l-100.076 92.33z" transform="rotate(-15)"/></svg>'));
$envelope: url('data:image/svg+xml;base64,' + base64Encode('<svg xmlns="http://www.w3.org/2000/svg" width="661.656" height="502.767" viewBox="0 0 218.346 502.767"><path fill="none" stroke="' + $darkgrey + '" stroke-width="35" stroke-linejoin="round" d="M566.518 346.516H17.5V17.5h549.018v329.016zM17.5 17.5l274.12 252.904L565.737 17.5H17.5zm274.12 252.904l-100.055-92.31L17.5 346.515h548.28L391.696 178.073l-100.076 92.33z" transform="rotate(-15 584.018 70)"/></svg>'));
