@font-face {
  font-family: 'omb-icons';
  src: url('../fonts/omb-icons/omb-icons.eot?49749934');
  src: url('../fonts/omb-icons/omb-icons.eot?49749934#iefix') format('embedded-opentype'),
       url('../fonts/omb-icons/omb-icons.woff2?49749934') format('woff2'),
       url('../fonts/omb-icons/omb-icons.woff?49749934') format('woff'),
       url('../fonts/omb-icons/omb-icons.ttf?49749934') format('truetype'),
       url('../fonts/omb-icons/omb-icons.svg?49749934#omb-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'omb-icons';
    src: url('../font/omb-icons.svg?49749934#omb-icons') format('svg');
  }
}
*/

 [class^="omb-"]:before, [class*=" omb-"]:before {
  font-family: "omb-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

}

.omb-download:before { content: '\e802'; } /* '' */
.omb-print:before { content: '\e801'; } /* '' */
.omb-share:before { content: '\e800'; } /* '' */

/* Hover styles */
.omb-print {
  &:before {
    padding: .5rem;
    width: 100%;
    border: solid 1px transparent;
    border-radius: 2px;
  }
  &:hover:before,
  &:active:before,
  &:focus:before {
    border-color: $linkcolor;
  }
}