<tr width="100%" valign="top">
<td width="5%" align="right"><strong>$(CURRENT)</strong></td>
<td width="95%" align="left"><strong><a href="$(URL)">$(TITLE)</a></strong>
$(STARSLEFT)</td>
</tr>

<tr width="100%" valign="top">
<td width="5%" align="right">$(PERCENT)%</td>
<td width="95%" align="left"><p class="small">$(EXCERPT)<br />
<em><a href="$(URL)">$(URL)</a>, $(SIZEK)Kb</em></p></td>
</tr>

<tr width="100%" valign="top">
<td width="100%" colspan="2"></td>
</tr>

