<!--@COUNT=0 -->

<table border=0 width="60%" cellspacing="0" cellpadding="3">
<tr>
<td colspan="2" class="@SECTION@">
<div class="title_search">@TITLE@</div></td>
</tr>

<tr>
<td width="15%">&nbsp;</td>
<td width="85%">Intet fundet under "@TITLE@"</td>
</tr>
</table>
