<!--@COUNT=$(MATCHES) -->

  <table class="searchmatches" border="0" cellspacing="0" cellpadding="0" width="60%">

    <tr>
      <td align="left" class="search@TITLE@" colspan="2">
        <table border="0" cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td class="search@TITLE@" align="left">
                    <b>@TITLE@</b>
                </td>
                <td class="search@TITLE@" align="right">
                    Fundne sider i alt: $(MATCHES)
                    <!--@NEXTPAGE $(NEXTPAGE) -->
                    &nbsp;
                </td>
            </tr>
        </table>
      </td>
    </tr>

    <!--@PAGELIST  -->
    <tr>
      <td colspan="2" align="center" class="prevpagenextpage">
        $(PREVPAGE)&nbsp;&nbsp;&nbsp;$(PAGELIST)&nbsp;&nbsp;&nbsp;$(NEXTPAGE)
      </td>
    </tr>
    <!--/@PAGELIST  -->

    $(HTSEARCH_RESULTS)
  
  </table>

