body {
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 12px;
  color: #000000;
	background-color: #ffffff;
}

a:link { color: #3f5577 }

p {
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 12px;
	/* XXX: */
  color: #000
}

hr {
	border-style: solid;
	border-width:1px;
  height:1px

  color: #003366;
}

table	{
	font-family: Verdana,arial,sans-serif
	border-style: none;
}

tr {
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 12px;
  /* XXX: */
  color: #000
}

td {
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 12px;
  /* XXX: */
  color:#000
}

ul {
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 12px;
  /* XXX: */
  color:#000
}

h1 {
	font-weight: bold;
	font-size: 12px;
  /* XXX: */
  color:#000
}

h2 {
	font-size:12px;
  /* XXX: */
  color: #000
}

h3 {
	font-size:13px;
  /* XXX: */
  color: #000
}

h4.admin {
	font-size: 12px;
  /* XXX: */
  color: #000;
  margin-top: 10px;
  margin-bottom: 7px;
}


.inputlille {
	font-family: Verdana, Arial, Sans-Serif;
	font-size:10px;
  border:1px outset #000;
  /* XXX: */
  color:#000;
}

.gron			{ background-color: #BCF596; } /* Where? */
.graa			{ background-color: #DADADA; }

.mork			{ background-color: #003366; } /* Where? */

/* Editpage-bar: */
.lys			{ background-color: #C0C0C0; }

/* Topbar: #02365B */
.megetlys	{ background-color: #f0f0f0 }
.megetlyslink	{ text-decoration:underline; background-color: #f0f0f0; }

.heltlys      { background-color: #ECF4F9; }  /* Where? */
.mellemstr		{ border-bottom: 1px solid #ECF4F9; }  /* Where? */

.nav1         { background-color: #C6D3F0; }
.nav2         { background-color: #EBEFFA; }
.navselected  { background-color: #5b7aae; }
.navtop       { background-color: #f0f0f0; }
.navheader    { background-color: #c0c0c0; }

.box1	  { border-bottom: 1px solid #A2BFDF; border-top: 1px solid #F0F5FB;
			    border-left: 1px solid #A2BFDF; border-right: 1px solid #A2BFDF;
			    background-color: #DDE8F4; }
.box1-	{ border-bottom: 1px solid #A2BFDF; border-top: 1px solid #A2BFDF;
			    border-left: 1px solid #A2BFDF; border-right: 1px solid #A2BFDF;
			    background-color: #C6D8EC; }

span.over	{ font-size:12px; font-weight:bold }

div.pagenav { margin-top: 0.4em }
div.pagenavbuttons { margin-top: 1em }

.ghosted { color: #b0b0b0 }
.ghostedgraa { color: #b0b0b0; background-color: #DADADA }

.moredocuments { font-size: 11px; font-style: italic }
.ghostedmoredocuments { color: #b0b0b0; font-size: 11px; font-style: italic }

.error { margin-top: 1em; padding: 0.5em;
         border: 1px solid #727272; background-color: #cccccc; color: #c93a3a;
         font-size: 14px; font-weight: bold }

.seqselectdoc { border-bottom: 1px solid #0f0f0f; padding-bottom: 2px; padding-top: 2px }
.seqselecthidden { background-color: #f2f2f2 }

p.obviusnotice {
 color: gray;
 background: inherit;
 border: 1px solid lightgray;
 margin-top: 2em;
 padding: 0.75em;
 width: 40em;
}

div.content {
  font-size: 12px;
}

/*
 Local Variables: ***
 mode:c ***
 tab-width:2 ***
 End: ***
*/
