/* Standards-compliant stuff that legacy browser, such as Netscape 4,
	 doesn't grok: */

.venstreknap		{border:1px outset #000000; font-family:Verdana, Arial, Sans-Serif;
			 font-size:12px; background: #f0f0f0; }
.topknap		{border:1px outset #f0f0f0; font-family:Verdana, Arial, Sans-Serif;
 			 font-size:11px; color:#000000; background:#c0c0c0; }
.ghostedtopknap		{border:1px outset #909090; font-family:Verdana, Arial, Sans-Serif;
			 font-size:11px; color:#aaaaaa; background:#cccccc; }
.okknap		        {border:1px outset #003366; font-family:Verdana, Arial, Sans-Serif;
 			 font-size:12px; color:#000000; background:#90ce9f; }
.cancelknap		{border:1px outset #EA8C00; font-family:Verdana, Arial, Sans-Serif;
			 font-size:12px; color:#000000; background:#d67d71; }
.ghostedknap		{border:1px outset #909090; font-family:Verdana, Arial, Sans-Serif;
			 font-size:12px; color:#aaaaaa; background:#cccccc; }
.normalknap		{border:1px outset #797979; font-family:Verdana, Arial, Sans-Serif;
			 font-size:12px; color:#000000; background:#dcdcdc; }
/* legacy: */
.button		        {border:1px outset #797979; font-family:Verdana, Arial, Sans-Serif;
			 font-size:12px; color:#000000; background:#dcdcdc; }

input			{font-family:Verdana, Arial, Sans-Serif; font-size:12px; color:#000;}
select			{font-family:Verdana, Arial, Sans-Serif; font-size:12px; color:#000;}
textarea		{font-family:Verdana, Arial, Sans-Serif; font-size:12px; color:#000; background:#fff}

#viewpublicversionbutton { width: 70px }
#publishbutton { width: 71px }
#hidebutton { width: 34px }
#sendbutton { width: 34px }
#renamebutton { width: 69px }
#newlanguagebutton { width: 60px }
#newdoctypebutton { width: 88px }
#deletebutton { width: 27px }


/*
Local Variables: ***
mode:c ***
tab-width:2 ***
End: ***
*/
