a:link { color: #9f1a34; background: transparent; text-decoration: none;}
a:visited { color: #9f1a34; background: transparent; text-decoration: none;}
a:active { color: #9f1a34; background: transparent; text-decoration: none;}
a:hover { color: #9f1a34; background: transparent; text-decoration: underline;}

H1 {font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 1.1666em; /* 14px; */ font-weight: bold; margin-top: 0.7143em; /* 10px */ margin-bottom: 0.5714em; /* 8px */ }
H2 {font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 1em; /* 12px; */ font-weight: bold; }
H3 {font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 1em; /* 12px; */ font-weight: bold; }
H4 {font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 1em; /* 12px; */ font-weight: bold; }
H5 {font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 1em; /* 12px; */ font-weight: bold; }
H6 {font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 1em; /* 12px; */ font-weight: normal;}

H1.title {font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 1.16666em; /* 14px; */ font-weight: bold; margin-top: 0.7143em; /* 10px */ margin-bottom: 0.5714em; /* 8px */ }

.content {
  color: #49382a;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 0.75em; /* 12px; */
  line-height: 1.4em;
}

img {
    border: none;
}

img.design {
    display: block;
}

a.skiplink:link, a.skiplink:visited {
 position: absolute;
 left: 2em;
 color: #ffffff;
}

a.hiddenhelp 
{
 display: none;
}

ul.show_subdocs
{
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}


/* Hovedregisteret */

ul.kategorier {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    padding-top: 0.8333em;    /* 10px (rel. to 12px) */
    padding-bottom: 0.8333em; /* 10px */
}

ul.kategorier a:link, ul.kategorier a:visited {
    color: #000000;
}

/* MSIE does not implement this; adding it in Mason instead:
ul.kategorier li.active:before {
  content: "\00BB \0020";
}
*/

ul.kategorier li.active a {
    font-weight: bold;
}

ul.kategorier li.normal a:link, ul.kategorier li.normal a:visited,
 ul.kategorier li a.teasers:link, ul.kategorier li a.teasers:visited,
 ul.kategorier ul.kategoridokumenter a:link, ul.kategorier ul.kategoridokumenter a:visited {
    background-color: inherit;
    color: inherit;
    font-weight: normal;
}

ul.kategorier ul.kategoridokumenter a:link, ul.kategorier ul.kategoridokumenter a:visited {
  color: #9f1a34;
  text-decoration: underline;
}

ul.kategorier ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 2em;
}

ul.kategorier li {
    padding-left: 0;
    padding-top: 2px; /* Small padding stays thin when zoomed (rounding error-prevention) */
    padding-bottom: 2px;
}

ul.kategorier li span.num {
  font-weight: bold;
}

ul.kategorier li h2 
{
	margin-bottom: 0em;
	margin-top: 0.83em;
}

ul.kategorier ul.kategoridokumenter {
    background-color: white;
    padding-left: 0;
    margin-left: 2em;
}

ul.kategorier ul.kategoridokumenter {
  list-style-type: circle;
  padding-left: 2em;
}

ul.kategoridokumenter div.teaser {
  display: none;
  padding-top: 0;
}

ul.kategoridokumenter div.teaser p, ul.kategoridokumenter div.teaservisible p {
  margin-top: 0;
  margin-bottom: 0.25em;
}

ul.kategoridokumenter div.teaservisible {
  display: block;
  padding-top: 0;
}

/* Beretningssag dokumenttypen */
div.sagsheader {
	margin-top: 0.8333em;     /* 10px (rel. to 12 px) */
	margin-bottom: 0.4166em;  /* 5px */
	
	border-left: 1px solid #9f1a34; /* Borders stay thin when zoomed (rounding error-prevention) */
	border-bottom: 1px solid #9f1a34;
	
	padding-left: 0.4166em;   /* 5px */
	padding-bottom: 0.4166em; /* 5px */
}

div.retsinfolink {
	text-align: right;
	margin-left: 1.6666em; /* 20px */
  color: #9f1a34;
}

div.retsinfolink a {
    color: #9f1a34;
}

.beretningssagcontent {
  margin-right: 17.3333em; /* 208px; */
}

#relvidenbox {
    float: right;
  width: 15.8333em;      /* 190px */
  margin-top: 2em;       /* 24px */ /* MSIE needs extra */
  margin-left: 0.8333em; /* 10px */
}

#dbsearch select {
  width: 14em; /* 168px */
  border: 1px solid #9F1A34;
}

#dbsearch input {
  background: transparent;
  border: 1px solid #9F1A34;
}

#dbsearch label input {
  color: #9f1a34;
  text-transform: uppercase;
}

#dbsearch table p.beforebullets {
  margin: 0;
}

#dbsearch table ul {
  padding: 0;
  margin: 0;
}

#dbsearch table ul li {
  display: inline;
  padding-right: 1em;
  padding-top: 0;
  margin-top: 0;
}

#dbsearch table p span.arrow, #dbsearch table ul li {
  color: #9f1a34;
}

#dbsearch table ul li a:link, #dbsearch table ul li a:visited {
  color: #49382a;
}

h2.relvidenheader {
    border: 1px solid #9f1a34;

    background-color: #E2DEDF;

    text-align: center;
    text-transform: uppercase;

    font-weight: bold;
    font-size: 0.8333em;    /* 10px; */

    padding-top: 0.3em;     /* 3px */
    padding-bottom: 0.3em;  /* 3px */

    margin-bottom: 0;
}

.relvidencontent {
    border-left: 1px solid #9f1a34;
    border-right: 1px solid #9f1a34;
    border-bottom: 1px solid #9f1a34;

    padding: 0.8333em; /* 10px */

    color: #000000;
}

.relvidencontent ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.relvidencontent ul li {
  margin-bottom: 0.8333em; /* 10px */
}

.relvidenupperbox a {
    color: #000000;
}

.relvidencontent dl {
  margin: 0;
}

.relvidencontent dl dd {
  margin: 0;
  font-size: 0.833em; /* 10px; */
	padding-bottom: 0.5em;
}

.relvidencontent dl dd ul li {
  font-size: 1em; /* Stay at ten, override ul li above! */
}

.relvidencontent dt {
	font-size: 0.833em; /* 10px; */
	padding-top: 0.5em; /* 5px; */
  color: #49382a;
	text-transform: uppercase;
}

.relvidencontent ul li {
	font-size: 0.833em; /* 10px; */
	margin-bottom: 0;
	text-transform: none;
}

a.hovedreglink 
{
	font-weight: bold;
}

div.dbsearch h2 {
  margin-bottom: 0.5em;
}

div.dbsearch ul {
  margin-top: 0;
}

table.searchoverview tr td {
  border-bottom: 1px solid #aaa;
}

table.searchoverview, table.searchmatches {
  margin-bottom: 2em;
}

table.searchmatches tr td.prevpagenextpage {
  padding-bottom: 0.5em;
}

span.search-navigation-text {
  color: #cccccc;
}

/* Stikordsregisteret */
div.letterlist {
	text-align: center;
	margin-top: 0.8333em; /* 10px; */
	margin-bottom: 1px;
	word-spacing: 0.2em;
}

/* Hacks for Microsoft Internet Explorer 6 */
.content table {
  font-size: 1em; /* 12px */
}

/* BeretningsOversigt */

div.BeretningsOversigt div.years  {
	text-align: center;
	margin-top: 0.8333em; /* 10px */
	margin-bottom: 1px;
	word-spacing: 0.2em;
}

div.BeretningsOversigt dl dt
{
	margin-top: 0.4166em; /* 5px */
}

div.BeretningsOversigt dl dd
{
	margin-left: 0;
}

/* Subscription pages - should eventually end up in common.css on all sites. */
div.subscriptions * h2
{
	margin-bottom: 0em;
}

div.subscriptions * fieldset
{
 border: none;
}

div.subscriptions * fieldset.hidden
{
 display: none;
}

div.subscriptions * input[type=submit]
{
	margin-top: 10px;
}

/* InspektionsOversigt */
ul.InspektionsOversigt
{
	margin-bottom: 2.0em;
}

div.show_inspektion h2
{
	margin-bottom: 0px;
}
div.show_inspektion ul
{
	margin-top: 0px;
}

/*
 Local Variables: ***
 mode:c ***
 tab-width:2 ***
 End: ***
*/
