body, .content {
  color: #000000;
  background: #ffffff;
  line-height: 1.3333em;
}

a, a:link, a:visited {
  text-decoration: underline;
}

div.topbar, #middle, #bund {
  background: #ffffff;
}

div.topbar img, #topmenu, #topmenuleftpic, #topmenuindhold, #path, #leftmenu, #searchbox, #relvidenbox, #bund img {
  display: none;
}

#subsite {
  margin: auto;
}

#bund {
  text-align: center;
}

/*
 Local Variables: ***
 mode:c ***
 tab-width:2 ***
 End: ***
*/
