body {
  color: #49382a;
  background: #ffffff;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
}

.height100 {
 height: 100%;
}

div.topbar {
  background: url(/grafik/top/default.png);
    background-repeat: no-repeat;
    background-position: top right;

  height: 5em; /* 80px */
}

/* These override topbar in the different sections: */
div.topbar-udtalelser    { background-image: url(/grafik/top/udtalelser.png); }
div.topbar-inspektioner  { background-image: url(/grafik/top/inspektioner.png); }
div.topbar-egen_drift    { background-image: url(/grafik/top/egen_drift.png); }
div.topbar-om_at_klage   { background-image: url(/grafik/top/om_at_klage.png); }
div.topbar-ombudsmanden  { background-image: url(/grafik/top/ombudsmanden.png); }
div.topbar-publikationer { background-image: url(/grafik/top/publikationer.png); }
div.topbar-aarsberetning { background-image: url(/grafik/top/aarsberetning.png); }
div.topbar-nyt_og_presse { background-image: url(/grafik/top/nyt_og_presse.png); }

#topmenu {
  background: url(/grafik/topmenu/background.png);
  background-repeat: repeat-x;
    text-align: right;
  height: 2.375em; /* 38px */
}

#topmenuleftpic {
    float: left;
}

#topmenuindhold {
    background: url(/grafik/topmenu/left.png);
    background-repeat: no-repeat;
    background-position: top left;

  height: 2.375em; /* 38px */

    text-align: right;
    text-transform: uppercase;

  padding-right: 0.75em;
}

#topmenuindhold ul, #topmenuindhold li {
  display: inline;
}

#topmenuindhold li a {
  font-size: 0.6em;
  padding-left: 0.75em;
}

#topmenuindhold li a:link, #topmenuindhold li a:visited {
  color: #000000;
}

#topmenuindhold li a.english:link, #topmenuindhold li a.english:visited {
  color: #9f1a34;
}

div.breadcrumbs {
  background: url(/grafik/leftmenu/background.png);
  background-repeat: repeat-y;
  background-position: top left;
  font-size: 0.5625em;      /* 9px */
  padding-left: 13.3333em;  /* 120px */
  margin-right: 22.2222em;  /* 200px */
  height: 1.1111em;         /* 10px */ /* Without this, MSIE fails to draw the background and the start of the crumbs, sometimes */
}

#toplogo {
  position: absolute;
  left: 0;
  top: 0;
}

#searchbox {
    position: absolute;
  float: right;
    right: 0;
  top: 7.375em;     /* 118px */

  width: 12.5em;    /* 200px */
  height: 2.1875em; /* 35px */

    text-align: right;
    padding-right: 1.25em;
}

#searchbox form {
  margin: 0;
  padding: 0;
}

#searchbox div img {
    vertical-align: middle;
}

#searchbox div input {
  padding: 0;
  margin: 0;

    vertical-align: middle;
    font-size: 0.625em; /* 10px */

  /* height: 0.625em; */ /* 14px */
  width: 14em; /* 140px */

  border: 1px solid #9F1A34; /* Borders stay thin when zoomed (rounding error-prevention) */
}

#searchbox div label input {
  height: auto;
  width: auto;
  color: #9f1a34;
  background: #ffffff;
  font-size: 0.5625em; /* 9px */
  text-transform: uppercase;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  margin-top: 1px;
}

#searchbox div.searchbottom {
    font-size: 0.625em;
    text-transform: uppercase;
    text-align: center;
}

#searchbox h2.relvidenheader {
  font-size: 0.625em;
}

#searchbox div.relvidencontent {
  font-size: 0.8em;
  text-align: left;
}

#searchbox div.searchhelp {
  font-size: 0.8em;
  text-align: left;
  padding-top: 1em;
  padding-left: 1em;
}

#path {
}

div.middle {
    background: url(/grafik/leftmenu/background.png);
    background-repeat: repeat-y;
}

#leftmenu {
    font-size: 0.625em; /* 10px; */
    background: url(/grafik/leftmenu/background.png);
    background-repeat: repeat-y;

    float:left;

/*  width: 18.3em; */       /* 183px */
    width: 183px;

  padding-top: 1em;     /* 10px */
  padding-left: 1.6em;  /* 16px */
}

ul.leftmenu {
    font-weight: bold;
    text-transform: uppercase;

    list-style-type: none;
    margin-left: 0.8em; /* 8px */
    padding-left: 0;
}

ul.leftmenu a:link, ul.leftmenu a:visited {
    color: #49382A;
}

ul.leftmenu li {
  padding-top: 0.6em; /* 6px */
}

ul.leftmenu li.hiddenhelp {
  display: none;
}

ul.leftmenu ul {
    font-weight: normal;
    text-transform: none;

    list-style-type: none;
  margin-left: 1em; /* 10px */
    padding-left: 0;

    margin-top: 0;
    padding-top: 0;
}

ul.leftmenu ul li {
  padding-top: 0;
  padding-bottom: 0.5em;
}

ul.leftmenu li a.submenu_active {
  padding-bottom: 1px;
  border-bottom: 1px solid #9f1a34;
}

ul.leftmenu li img {
  vertical-align: top;
  margin-left: -15px; /* Placement of zig-zag; purely cosmetic */
}

ul.leftmenu li ul li a.submenu_active {
  margin-left: 0;
  padding-bottom: 0;
  border: 0;
}

#subsite {
    margin-left: 11.8125em; /* 189px */ /* #leftmenu.width+#leftmenu.padding-left-#subsite.padding 183+16-10 (was: 167+16-10) */
    padding: 0.625em;       /* 10px; */
}

#subsitenews {
    margin-left: 11.8125em; /* 189px; */ /* #leftmenu.width+#leftmenu.padding-left-#subsite.padding 183+16-10 (was: 167+16-10) */
		margin-right: 14em; /* 208px; */ /* To clear space below the newsbox */
    padding: 0.625em; /* 10px; */
}


#bund {
    background: url(/grafik/leftmenu/background.png);
    background-repeat: repeat-y;

    clear: both;
  padding-top: 1.875em; /* 30px */
}

address {
  display: inline;
  font-size: 0.625em;
  font-style: normal;
  vertical-align: top;
}

address span {
  padding-left: 1em;
}

div.middle {
  min-height: 25em; /* 400px */ /* Chosen somewhat arbitrarily; short pages should look nice */
}

/* Newsbox */
#newsbox {
 float: right;
  width: 11.875em;       /* 190px */
  margin-top: 1.375em;   /* 22px */
  margin-left: 0.625em;  /* 10px */
  margin-right: 0.625em; /* 10px */
}

h2.newsboxheader 
{
 border: 1px solid #9f1a34;

 background-color: #E2DEDF;
 
 text-align: center;
 text-transform: uppercase;

 font-weight: bold;
 font-size: 0.625em; /* 10px */

 padding-top: 0.3em; /* 3px */
 padding-bottom: 0.3em; /* 3px */

 margin-bottom: 0;
}

div.newsboxcontent
{
	border-left: 1px solid #9f1a34;
	border-right: 1px solid #9f1a34;
	border-bottom: 1px solid #9f1a34;
  padding: 0.625em; /* 10px */
  color: #000000;
}
div.newsboxcontent dl {
  margin: 0;
}

div.newsboxcontent dl dt
{
	font-size: 0.625em; /* 10px; */
	font-weight: bold;
}

div.newsboxcontent dl dd
{
	margin-left: 0;
	font-size: 0.625em; /* 10px; */
	font-weight: normal;
}

/* Newsbox - end*/

div.bare {
  margin-left: 2em;
}


/* Hacks for Microsoft Internet Explorer: */

div.middle {
  height: 25em;
}

div[class].middle { /* set height back to auto for Mozilla and Opera: */
  height: auto;
}

/* Hide from MSIE5-mac. Only MSIE-win sees this. \*/
 
* html #leftmenu {
  margin-right: -189px; /* #subsite-left-margin */
}

/* End hide from IE5/mac */


/*
 Local Variables: ***
 mode:c ***
 tab-width:2 ***
 End: ***
*/
