/* 
    ============================     
    DEFAULT CSS FOR COOKIE POPUP
    ============================

    - Copyright (C) 2021 Magenta ApS, http://magenta.dk.
    - Contact: info@magenta.dk.
    -
    - This Source Code Form is subject to the terms of the Mozilla Public
    - License, v. 2.0. If a copy of the MPL was not distributed with this
    - file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

#cookie-popup {
    background-color: #f3f3f3;
    padding: 2.5rem;
    z-index: 999;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    box-sizing: border-box;
    bottom: 0;
    max-height: 100vh;
    overflow: auto;
}

#cookie-popup div[role="document"] {
    max-width: 45rem;
    margin: 0 auto;
}

.cp-title {
    font-size: 1.625rem;
    line-height: 2.5rem;
    margin-bottom: 1.25rem;
}

.cp-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cp-list-item {
    margin: 0;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjEiIHZpZXdCb3g9IjAgMCA1IDEiPjxjaXJjbGUgZmlsbD0iIzAwMmQ2NSIgY3g9Ii41IiBjeT0iLjUiIHI9Ii41Ii8+PC9zdmc+");
    background-repeat: repeat-x;
    background-size: auto 1px;
    background-position: 0 0;
    overflow: hidden;
}

.cp-list-item .cp-table {
    display: none;
}

.cp-list-item-open .cp-table {
    display: table;
}

button.cp-select {
    color: #002d65 !important;
    background-color: transparent !important;
    outline: inherit;
    appearance: none;
    font-family: "Scene W01 Medium", sans-serif !important;
    position: relative;
    transition: all 150ms ease-in !important;
    margin: .75rem 0;
    padding: .25rem 0 .75rem 2rem !important;
    border: solid 1px transparent !important;
    width: auto !important;
    text-align: left !important;
    font-size: 100% !important;
}

button.cp-select:hover,
button.cp-select:focus {
    border-bottom-color: #336cab !important;
    color: #336cab !important;
}

button.cp-select::before {
    content: "";
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -75%);
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTYgOSI+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAyZDY1IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZD0iTTE1IDFMOCA4IDEgMSIvPjwvc3ZnPg==");
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
    opacity: .6;
    transition: transform 150ms ease-in;
}

.cp-list-item-open button.cp-select::before {
    transform: translate(0, -75%) rotate(180deg);
}

.cp-table {
    margin: 0 0 1rem;
    box-shadow: none;
}

.cp-table th {
    text-align: left;
    padding: 1rem 1.8125rem;
}

.cp-buttons {
    margin: 1rem 0 0;
}

.cp-btn {
    margin: 0 .75rem 1rem 0;
}

.cp-table caption,
.cp-category-description {
    display: none;
}

.cp-checkbox {
    margin: 0 1rem 0 0;
}

.cp-check-label { /* Only visible for screen readers */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.cookie-popup-link {
    font-size: 1rem !important;
    padding: 0 !important;
    border: none !important;
    background-color: transparent !important;
    color: #336cab !important;
    transition: color .3s !important;
    text-align: left !important;
}

.cookie-popup-link:hover,
.cookie-popup-link:focus {
    color: #002d65 !important;
}

@media screen and (max-width: 40rem) {
    .cp-list-item .cp-category-description {
        display: none;
    }

    .cp-list-item-open .cp-category-description {
        display: block;
    }
}