<h1>Tilføj nyt nyhedsbrev-område</h1>
<& snippets/errors.mason.html, errors=>\@validation_errors &>
<form name="area-form" action="./" method="POST">
    <input type="hidden" name="obvius_command_subscription_areas" value="1" />
    <input type="hidden" name="mode" value="add_area" />
<%method form_fields>
<%args>
$existing
</%args>\
    <div class="form-field">
        <label for="area-name">Navn på område</label>
        <input id="area-name" type="text" name="title" value="<% $existing->{title} |h %>" />
    </div>
    <div class="form-field">
        <label for="area-subject">Emne i e-mail</label>
        <input id="area-subject" type="text" name="subject" value="<% $existing->{subject} |h %>" />
    </div class="form-field">
    <div class="form-field">
        <label for="area-path">Sti hvor nyhedsbrevet skal afsendes fra</label>
        <input id="area-path" type="text" name="path" value="<% $existing->{path} |h %>" />
        <& snippets/navigator_button.mason.html,
            target_id => "area-path",
            existing_path => $existing->{path},
            fieldname => "path"
        &>
    </div>
    <div class="form-field">
        <label for="area-banner-text-background">Tekst i top-banner</label>
        <textarea
            id="area-banner-text-background"
            name="banner_text"
            cols="50"
            rows="10"
        ><% Obvius::CharsetTools::mixed2perl($existing->{banner_text}) |h %></textarea>
    </div>
    <div class="form-field">
        <label for="area-header-background">Baggrundsfarve for header</label>
        <input id="area-header-background" type="text" name="header_background_color" value="<% $existing->{header_background_color} |h %>" />
    </div>
    <div class="form-field">
        <label for="area-header-image">Billede bag header</label>
        <select id="area-header-image" name="header_image">
            <option value="">Intet header-billede</option>
%           foreach my $name (qw(fagligopdatering ledigestillinger nyheder skat)) {
%           my $selected = $existing->{header_image} eq $name ? ' selected="selected"' : '';
            <option value="<% $name %>"<% $selected %>><% $name %>.png</option>
%           }
        </select>
    </div>
</%method>
<& SELF:form_fields, existing => \%existing &>
    <div class="form-field">
        <input type="submit" name="confirm" value="Opret" class="obvius-command-do" />
        <input type="submit" name="cancel" value="Annullér" class="obvius-command-cancel" />
    </div>
</form>
<%init>
my $tool = Ombudsmanden::Nyhedsbrev::MasonTools->instance;
my @validation_errors;
my %existing = ( header_image => '' );
if($r->method eq 'POST') {
    if($r->param('cancel')) {
        return $tool->redirect_with_message("Annulerede oprettelse af område");
    }
    foreach my $key (qw(
        title subject header_background_color header_image path banner_text
    )) {
        $existing{$key} = $r->param($key);
    }
    if(!$existing{title}) {
        push(@validation_errors, "Du skal angive et navn for området");
    }
    if(!$existing{subject}) {
        push(@validation_errors, "Du skal angive et e-mail emne");
    }
    my $path = $existing{path};
    if(!$path) {
        push(@validation_errors, "Du skal angive en sti");
    } else {
        my $path_doc = $obvius->lookup_document($path);
        if(!$path_doc) {
            push(@validation_errors, "Stien skal pege på et dokument");
        } else {
            $existing{root_docid} = $path_doc->Id;
        }
    }
    if(!@validation_errors) {
        $existing{config_name} = '';
        $tool->data->create_area(\%existing);
        return $tool->redirect_with_message(
            sprintf('Område "%s" oprettet', $existing{title})
        );
    }
}
</%init>
