<h1>Tilføj ny nyhedsbrev-sti</h1>
<& snippets/errors.mason.html, errors=>\@validation_errors &>
<p>
    Tilføj stil til sektionen "<% $section->{area_title} %>".
</p>
<form name="area-form" action="./" method="POST">
    <input type="hidden" name="obvius_command_subscription_areas" value="1" />
    <input type="hidden" name="mode" value="add_path" />
    <input type="hidden" name="section_id" value="<% $section->{id} %>" />
<%method form_fields>
<%args>
$existing
</%args>\
    <div class="form-field">
        <label for="newsletter-path">Sti</label>
        <input id="newsletter-path" type="text" name="path" value="<% $existing->{path} |h %>" />
        <& snippets/navigator_button.mason.html,
            target_id => "newsletter-path",
            existing_path => $existing->{path},
            fieldname => "path"
        &>
    </div>
</%method>
<& SELF:form_fields, existing => \%existing &>
    <div class="form-field">
        <input type="submit" name="confirm" value="Opret" class="obvius-command-do" />
        <input type="submit" name="cancel" value="Annullér" class="obvius-command-cancel" />
    </div>
</form>
<%init>
my $tool = Ombudsmanden::Nyhedsbrev::MasonTools->instance;
my $section_id = $r->param('section_id');
if(!$section_id) {
    return $tool->redirect_with_message("Ingen sektion angivet");
}
my $section = $tool->data->get_section(id => $section_id);
if(!$section) {
    return $tool->redirect_with_message("Sektion ikke fundet");
}
my @validation_errors;
my %existing = (
    section_id => $section->{id},
);
if($r->method eq 'POST') {
    if($r->param('cancel')) {
        return $tool->redirect_with_message("Annulerede oprettelse af sti");
    }
    foreach my $key (qw(path)) {
        $existing{$key} = $r->param($key);
    }
    if(!@validation_errors) {
        $tool->data->create_path(\%existing);
        return $tool->redirect_with_message("Sti oprettet");
    }
}
</%init>
