<h1>Tilføj ny nyhedsbrev-sektion</h1>
<& snippets/errors.mason.html, errors=>\@validation_errors &>
<p>
    Tilføj sektion til nyhedsbrevet "<% $area->{title} %>".
</p>
<form name="area-form" action="./" method="POST">
    <input type="hidden" name="obvius_command_subscription_areas" value="1" />
    <input type="hidden" name="mode" value="add_section" />
    <input type="hidden" name="area_id" value="<% $area->{id} %>" />
<%method form_fields>
<%args>
$existing
</%args>\
    <div class="form-field">
        <label for="area_title">Navn på sektion</label>
        <input id="area_title" type="text" name="area_title" value="<% $existing->{area_title} |h %>" />
    </div>
</%method>
<& SELF:form_fields, existing => \%existing &>
    <div class="form-field">
        <input type="submit" name="confirm" value="Opret" class="obvius-command-do" />
        <input type="submit" name="cancel" value="Annullér" class="obvius-command-cancel" />
    </div>
</form>
<%init>
my $tool = Ombudsmanden::Nyhedsbrev::MasonTools->instance;
my $area_id = $r->param('area_id');
if(!$area_id) {
    return $tool->redirect_with_message("Intet område angivet");
}
my $area = $tool->data->get_area(id => $area_id);
if(!$area) {
    return $tool->redirect_with_message("Område ikke fundet");
}
my @validation_errors;
my %existing = (
    area_id => $area->{id},
);
if($r->method eq 'POST') {
    if($r->param('cancel')) {
        return $tool->redirect_with_message("Annulerede oprettelse af sektion");
    }
    foreach my $key (qw(area_title)) {
        $existing{$key} = $r->param($key);
    }
    if(!@validation_errors) {
        $tool->data->create_section(\%existing);
        return $tool->redirect_with_message(sprintf(
            'Sektion "%s" oprettet for "%s"',
            $existing{area_title},
            $area->{title}
        ));
    }
}
</%init>
