<h1>Slet nyhedsbrev-sektion</h1>
<p>
    Er du sikker på at du vil slette nyhedsbrev-sektionen "<% $section->{area_title} %>"?
</p>
<form name="area-form" action="./" method="POST">
    <input type="hidden" name="obvius_command_subscription_areas" value="1" />
    <input type="hidden" name="mode" value="delete_section" />
    <input type="hidden" name="section_id" value="<% $section->{id} %>" />
    <div class="form-field">
        <input type="submit" name="confirm" value="Ja, slet sektionen" class="obvius-command-do" />
        <input type="submit" name="cancel" value="Annullér" class="obvius-command-cancel" />
    </div>
</form>
<%init>
my $tool = Ombudsmanden::Nyhedsbrev::MasonTools->instance;
my $id = $r->param('section_id');
if(!$id) {
    return $tool->redirect_with_message("Ingen sektion angivet");
}
my $section = $tool->data->get_section(id => $id);
if(!$section) {
    return $tool->redirect_with_message("Sektion ikke fundet");
}
if($r->method eq 'POST') {
    if($r->param('cancel')) {
        return $tool->redirect_with_message("Annulerede sletning af sektion");
    }
    if($r->param('confirm')) {
        $tool->data->delete_sections(id => $section->{id});
        return $tool->redirect_with_message("Sektion slettet");
    }
}
</%init>