<h1>Slet nyhedsbrev-område</h1>
<p>
    Er du sikker på at du vil slette nyhedsbrev-området "<% $area->{title} %>"?
</p>
<form name="area-form" action="./" method="POST">
    <input type="hidden" name="obvius_command_subscription_areas" value="1" />
    <input type="hidden" name="mode" value="delete_area" />
    <input type="hidden" name="area_id" value="<% $area->{id} %>" />
    <div class="form-field">
        <input type="submit" name="confirm" value="Ja, slet området" class="obvius-command-do" />
        <input type="submit" name="cancel" value="Annullér" class="obvius-command-cancel" />
    </div>
</form>

<%init>
my $tool = Ombudsmanden::Nyhedsbrev::MasonTools->instance;
my $id = $r->param('area_id');
if(!$id) {
    return $tool->redirect_with_message("Intet område angivet");
}
my $area = $tool->data->get_area(id => $id);
if(!$area) {
    return $tool->redirect_with_message("Område ikke fundet");
}
if($r->method eq 'POST') {
    if($r->param('cancel')) {
        return $tool->redirect_with_message("Annulerede sletning af område");
    }
    if($r->param('confirm')) {
        $tool->data->delete_areas(id => $area->{id});
        return $tool->redirect_with_message("Område slettet");
    }
}
</%init>