<h1>Slet nyhedsbrev-sti</h1>
<p>
    Er du sikker på at du vil slette nyhedsbrev-sti "<% $path->{path} %>"?
</p>
<form name="area-form" action="./" method="POST">
    <input type="hidden" name="obvius_command_subscription_areas" value="1" />
    <input type="hidden" name="mode" value="delete_path" />
    <input type="hidden" name="path_id" value="<% $path->{id} %>" />
    <div class="form-field">
        <input type="submit" name="confirm" value="Ja, slet stien" class="obvius-command-do" />
        <input type="submit" name="cancel" value="Annullér" class="obvius-command-cancel" />
    </div>
</form>
<%init>
my $tool = Ombudsmanden::Nyhedsbrev::MasonTools->instance;
my $id = $r->param('path_id');
if(!$id) {
    return $tool->redirect_with_message("Ingen sti angivet");
}
my $path = $tool->data->get_path(id => $id);
if(!$path) {
    return $tool->redirect_with_message("Sti ikke fundet");
}
if($r->method eq 'POST') {
    if($r->param('cancel')) {
        return $tool->redirect_with_message("Annulerede sletning af sti");
    }
    if($r->param('confirm')) {
        $tool->data->delete_paths(id => $path->{id});
        return $tool->redirect_with_message(sprintf(
            'Sti "%s" slettet',
            $path->{path}
        ));
    }
}
</%init>