<div id="subscriptionareaoverview">
<h1>Overblik over nyhedsbrev-områder</h1>
<p>
<a href="<% $base_url %>add_area"><button>Tilføj nyt område</button></a>
</p>
<ul class="areas">
%foreach my $newsletter ($areas->newsletters) {
%   my $sub_uri = $newsletter->{subscription_uri} || $newsletter->{sections}->[0]->{uris}->[0];
    <li>
        <h1
           class="area-header <% $tool->hex2titleclass($newsletter->{header_background_color}) %>"
           style="background-color: <% $newsletter->{header_background_color} %>;"
        >
           <% $newsletter->{title} %>
           <div class="button-controls">
                <a href="<% $base_url %>edit_area&area_id=<% $newsletter->{id} %>"><button>Redigér</button></a>
                <a href="<% $base_url %>delete_area&area_id=<% $newsletter->{id} %>"><button>Slet</button></a>
           </div>
        </h1>
        <div class="info">
        <div><strong>Emne i e-mail</strong>: <% $newsletter->{subject} %></div>
        <div>
            <strong>Udsendes via</strong>:
            <a href="/admin<% $sub_uri %>"><% $sub_uri %></a>
        </div>
        <div><strong>Billede i header</strong>: <% $newsletter->{header_image} %>.png</div>
        <div style="clear: both;">
            <strong>Sektioner</strong>:
            <ul>
%           foreach my $section (@{ $newsletter->{sections} }) {
                <li class="section">
                    <h2 class="section-header">
                        <% $section->{area_title} || "&lt;Ingen titel&gt;" %>
                        <div class="button-controls">
                            <a href="<% $base_url %>edit_section&section_id=<% $section->{id} %>"><button>Redigér</button></a>
                            <a href="<% $base_url %>delete_section&section_id=<% $section->{id} %>"><button>Slet</button></a>
                        </div>
                    </h2>
                    <div class="info">
                        <strong>Stier</strong>:
                        <ul>
%                       foreach my $p (@{ $section->{path_data} }) {
                            <li>
                                <a href="/admin<% $p->{path} %>"><% $p->{path} %></a>
                                -
                                <a href="<% $base_url %>edit_path&path_id=<% $p->{id} %>"><button>Redigér</button></a>
                                <a href="<% $base_url %>delete_path&path_id=<% $p->{id} %>"><button>Slet</button></a>
                            </li>
%                       }
                        </ul>
                        <hr />
                        <a href="<% $base_url %>add_path&section_id=<% $section->{id} %>"><button>Tilføj ny sti</button></a>
                    </div>
                </li>
%           }
            </ul>
            <hr />
            <a href="<% $base_url %>add_section&area_id=<% $newsletter->{id} %>"><button>Tilføj ny sektion</button></a>
        </div>

        </div>

    </li>
%}
</ul>
<p>
    <a href="<% $base_url %>add_area"><button>Tilføj nyt område</button></a>
</p>
</div>
<%init>
my $tool = Ombudsmanden::Nyhedsbrev::MasonTools->instance;
my $areas = $tool->data;
my $base_url = "?obvius_command_subscription_areas=1&mode=";
</%init>
