<h1>Redigér nyhedsbrev-sti</h1>
<& snippets/errors.mason.html, errors=>\@validation_errors &>
<form name="area-form" action="./" method="POST">
    <input type="hidden" name="obvius_command_subscription_areas" value="1" />
    <input type="hidden" name="mode" value="edit_path" />
    <input type="hidden" name="path_id" value="<% $path->{id} %>" />
<& add_path.mason.html:form_fields, existing => \%existing &>
    <div class="form-field">
        <input type="submit" name="confirm" value="Gem" class="obvius-command-do" />
        <input type="submit" name="cancel" value="Annullér" class="obvius-command-cancel" />
    </div>
</form>
<%init>
my $tool = Ombudsmanden::Nyhedsbrev::MasonTools->instance;
my $id = $r->param('path_id');
if(!$id) {
    return $tool->redirect_with_message("Ingen sti angivet");
}
my $path = $tool->data->get_path(id => $id);
if(!$path) {
    return $tool->redirect_with_message("Sti ikke fundet");
}
my %existing = %$path;
my @validation_errors;
if($r->method eq 'POST') {
    if($r->param('cancel')) {
        return $tool->redirect_with_message("Annulerede redigering af sti");
    }
    foreach my $key (qw(path)) {
        $existing{$key} = $r->param($key);
    }
    if(!@validation_errors) {
        $tool->data->update_paths(
            \%existing,
            {id => $id}
        );
        return $tool->redirect_with_message('Sti opdateret');
    }
}
</%init>