<h1>Redigér nyhedsbrev-sektion</h1>
<& snippets/errors.mason.html, errors=>\@validation_errors &>
<form name="area-form" action="./" method="POST">
    <input type="hidden" name="obvius_command_subscription_areas" value="1" />
    <input type="hidden" name="mode" value="edit_section" />
    <input type="hidden" name="section_id" value="<% $section->{id} %>" />
<& add_section.mason.html:form_fields, existing => \%existing &>
    <div class="form-field">
        <input type="submit" name="confirm" value="Gem" class="obvius-command-do" />
        <input type="submit" name="cancel" value="Annullér" class="obvius-command-cancel" />
    </div>
</form>
<%init>
my $tool = Ombudsmanden::Nyhedsbrev::MasonTools->instance;
my $id = $r->param('section_id');
if(!$id) {
    return $tool->redirect_with_message("Ingen sektion angivet");
}
my $section = $tool->data->get_section(id => $id);
if(!$section) {
    return $tool->redirect_with_message("Sektion ikke fundet");
}
my %existing = %$section;
my @validation_errors;
if($r->method eq 'POST') {
    if($r->param('cancel')) {
        return $tool->redirect_with_message("Annulerede redigering af sektion");
    }
    foreach my $key (qw(area_title)) {
        $existing{$key} = $r->param($key);
    }
    if(!@validation_errors) {
        $tool->data->update_sections(
            \%existing,
            {id => $id}
        );
        return $tool->redirect_with_message('Sektion opdateret');
    }
}
</%init>