<h1>Redigér nyhedsbrev-område</h1>
<& snippets/errors.mason.html, errors=>\@validation_errors &>
<form name="area-form" action="./" method="POST">
    <input type="hidden" name="obvius_command_subscription_areas" value="1" />
    <input type="hidden" name="mode" value="edit_area" />
    <input type="hidden" name="area_id" value="<% $area->{id} %>" />
<& add_area.mason.html:form_fields, existing => \%existing &>
    <div class="form-field">
        <input type="submit" name="confirm" value="Gem" class="obvius-command-do" />
        <input type="submit" name="cancel" value="Annullér" class="obvius-command-cancel" />
    </div>
</form>
<%init>
my $tool = Ombudsmanden::Nyhedsbrev::MasonTools->instance;
my $id = $r->param('area_id');
if(!$id) {
    return $tool->redirect_with_message("Intet område angivet");
}
my $area = $tool->data->get_area(id => $id);
if(!$area) {
    return $tool->redirect_with_message("Område ikke fundet");
}
my %existing = %$area;
my @validation_errors;
if(my $docid = $existing{root_docid}) {
    if(my $doc = $obvius->get_doc_by_id($docid)) {
        $existing{path} = $obvius->get_doc_uri($doc);
    }
}
if($r->method eq 'POST') {
    if($r->param('cancel')) {
        return $tool->redirect_with_message("Annulerede redigering af område");
    }
    foreach my $key (qw(
        title subject banner_text header_background_color header_image path
    )) {
        $existing{$key} = $r->param($key);
    }
    if(!$existing{title}) {
        push(@validation_errors, "Du skal angive et navn for området");
    }
    if(!$existing{subject}) {
        push(@validation_errors, "Du skal angive et e-mail emne");
    }
    my $path = $existing{path};
    if(!$path) {
        push(@validation_errors, "Du skal angive en sti");
    } else {
        my $path_doc = $obvius->lookup_document($path);
        if(!$path_doc) {
            push(@validation_errors, "Stien skal pege på et dokument");
        } else {
            $existing{root_docid} = $path_doc->Id;
        }
    }
    if(!@validation_errors) {
        $existing{config_name} = '';
        $tool->data->update_areas(
            \%existing,
            {id => $id}
        );
        return $tool->redirect_with_message(
            sprintf('Område "%s" opdateret', $existing{title})
        );
    }
}
</%init>