#above-content {
  margin-top:0;
  font-family:$sans;
  font-size:.875rem;
  color:$darkblue;
  line-height:1rem;
  padding-top:1.1875rem;
  padding-bottom:1.1875rem;
  //margin-bottom:-2.3125rem;
  a,
  button {
    cursor:pointer;
    border-bottom:0;
    transition:border-color $anim-short ease-in;
    @extend .link-inverse;
  }
}
