#breadcrumbs {
  @media all and(max-width:$sm) {
    padding-right:calc(0.9375 * #{$grid-gutter-width} + 3.5rem);
    margin-bottom: 0;
  }
  ol {
    list-style:none;
    padding:0;
    margin:0;
    @extend .clearfix;
    li {
      float:left;
      vertical-align:middle;
      &::after {
        content: "\203a";
        padding: 0 .5rem;
        font-size: 1.5rem;
        line-height: .55em;
        display: inline-block;
        height: 1rem;
        vertical-align: text-top;
      }
      &:last-child::after {
        content:none;
      }
    }
  }
}
.splash #breadcrumbs {
  display: none;
}