#cookie_box {
  position:fixed;
  z-index:9999;
  bottom:0;
  left:0;
  right:0;
  background-color:$midgrey;
  padding:2.5rem;
  text-align:center;
  p {
    max-width:33rem;
    margin-left:auto;
    margin-right:auto;
  }
  h2 {
    font-family:$sans;
    color:$darkblue;
    font-weight:normal;
    font-size:1.625rem;
    line-height:2.5rem;
    margin-bottom:1.25rem;
    margin-top:0;
  }
}
