#site-footer {
  font-family:$sans;
  color:$darkblue;
  font-size: .875rem;
  > .row {
    padding-bottom:$spacing - 2rem;
  }
  address {
    font-style:normal;
  }
  p {
    margin-top:0;
    margin-bottom:2rem;
  }
  h3 {
    font-size:1rem;
    font-style:normal;
    margin: 0;
    font-weight: normal;
  }
  .col-3:not(#footer-logo) {
    margin-bottom:0;
  }
  a {
    @extend .link-noborder;
  }
}
#footer-logo {
  @media all and(max-width:$sm){
    width:calc(30% + 3rem);
    flex-basis:calc(30% + 3rem);
  }
  img {
    width:100%;
    height:auto;
    max-width:none;
  }
  .row {
    margin-top:0;
  }
  margin-bottom:2rem;
}
#contact-info::after {
  content:"";
  display:block;
  width:5rem;
  height:1px;
  background-color:$darkblue;
  margin:2rem 0;
  @media all and(min-width:$sm){
    content:none;
  }
}
