#globalnav-wrapper {
  margin-right:0;
  padding-right:0;
  border-right:none;
}
#globalnav-toggle {
  font-family:$sans;
  font-size:.875rem;
  display:inline-block;
  @media all and(min-width:$sm){
    display:none;
  }
  &::after {
    margin-bottom:-.5rem;
    display:inline-block;
    vertical-align:sub;
    font-size:1rem;
    padding-left:.25rem;
    content:"\e601";
    font-family:"simple-line-icons";
    background-image:none;
  }
  .dropdown-wrapper.open > &::after {
    transform:none;
  }
}
#globalnav {
  margin:0;
  padding-left:0;
  list-style:none;
  background-color:$bluewhite;
  ul {
    list-style:none;
  }
  position:absolute;
  left:0;
  right:0;
  top:100%;
  z-index:30;
  @media all and(min-width:$sm){
    background-color:transparent;
    flex-grow:1;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    position:static;
  }
}

.dropdown-wrapper {
  z-index:20;
  padding:1.25rem;
  @media all and(min-width:$sm){
    border-right:1px solid transparentize($darkblue, .85);
    padding:0 1.25rem 0 0;
    margin-right:1.25rem;
  }
}
.dropdown-toggle {
  color:$darkblue;
  cursor: pointer;
  user-select:none;
  &:not(#globalnav-toggle){
    display:inline-block;
  }

  &::after {
    content:"";
    width:1rem;
    height:1rem;
    background-image: caret-svg(2, $darkblue);
    display:inline-block;
    background-repeat:no-repeat;
    background-size:75%;
    background-position:50% 55%;
    margin-left:.25rem;
    opacity:.6;
  }
  .dropdown-wrapper.open > &::after {
    transform:rotate(180deg);
  }
}
.dropdown-content {
  display:none;
  @media all and(min-width:$sm){
    position:absolute;
    top:100%;
  }
  background-color:$bluewhite;
  color:$darkblue;
  list-style:none;
  margin:0;
  font-family:$sans;
  z-index:20;
  .dropdown-wrapper.open > & {
    display:block;
  }
}
