@include col-x;

#container {
  transition-property:margin-left; // for use with expanding/collapsing fly-outs
  transition-duration:$anim-short;
  transition-timing-function:ease-in;
  flex:1 0 auto; // make footer sticky
  margin-left:0; // give something to animate from when opening a flyout
  @media all and(max-width:$sm) {
    width:100%; // prevent squishing animation when opening a flyout
  }
}

#obviusbareoutput {
  flex: 1 0 auto; // also make footer sticky on bare-output pages
}

#content-wrapper {
  position:relative;
}

#content {
  margin-top: 3.3125rem;
  > .row:first-of-type {
    margin-top:0;
  }
}

#aside {
  @media all and(min-width:$sm){
    padding-top:14.375rem; // 230 px;
  }
  @media all and(max-width:$sm) {
    margin-bottom:0;
  }
  body.flyout-open:not(.transitioning) #content & {
    
    overflow:hidden;
    flex-basis:0;
    width:0;
    max-width:0;
    
  }
}

// regular rows
.row {
  margin:1.5*$spacing 0 0;
  padding-left:.9375 * $grid-gutter-width;
  padding-right:.9375 * $grid-gutter-width;
  @include row-padding;
  // @media all and(min-width:$grid-max-width-effective) {
  //   padding-left: calc((100vw - #{$grid-max-width}) / 2 - #{$factor} * (100vw - 100%) / #{$flyout-max-width-px/1px});
  //   padding-right: calc((100vw - #{$grid-max-width}) / 2 - #{$factor} * (100vw - 100%) / #{$flyout-max-width-px/1px});
  // }
  @media screen {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
  }
  @media print {
    &::after {
      content:"";
      display:table;
      clear:both;
    }
  }
}

// rows that center their content. Use this if we need to have less than 12 columns in a row, then put another row inside the .row-center
.row-center {
  @extend .row;
  justify-content:center;
}

.row-left {
  @extend .row;
  justify-content: flex-start;
}

.row-right {
  @extend .row;
  justify-content:flex-end;
}
// @TODO: Not all subgrids work in all widths. e.g. a col-10 with col-9 and col-3 inside breaks the grid
