#site-header {
  margin-top:0;
  align-items:center;
  padding-top:.75rem;
  padding-bottom:.75rem;
  position:static;
  align-content:flex-start; // make IE11 behave
  flex:0 0 auto; // container should *not* be allowed to expand or contract
  z-index:100;
  background-color:$white;
  transition:top $anim-short ease-in;
  &.is_stuck {
    width:100%;
  }
  &.is-hidden {
    top:calc(-1 * (((100vw - 3.125vw * 2) * .28) * 55/128 + 2 * .75rem)) !important; // *blushes* but necessary to override negative top value set by sticky JS plugin
  }
}
#site-logo {
  margin-bottom:0;
  @media all and(max-width:$lg){
    width:25%;
    flex-basis:25%;
    max-width:25%;
  }
  @media all and(max-width:$md){
    width:35%;
    flex-basis:35%;
    max-width:35%;
  }
  @media all and(max-width:$sm){
    width:40%;
    flex-basis:40%;
    max-width:40%;
  }
  img {
    width:100%;
    height:auto;
    max-width:none;
    display:block;
  }
  a {
    border-bottom:none;
    display:block;
    width:83%;
  }
}
