.clearfix::after {
  content:"";
  display:table;
  clear:both;
}
.sr-only {
  // From Bootstrap 4
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}
.icon-arrow {
  content:"\e079";
  font-family:'simple-line-icons';

  /* from _simple-line-icons.scss */
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.with-margin { // convenience class for .col-4 columns that need their margin explicitly set due to there not always being 3 items in a row, meaning we have to align left and thus manually add spacing
  @media all and(min-width:$sm) {
    margin-left:$grid-gutter-width/2;
    margin-right:$grid-gutter-width/2;
  }
  &:nth-child(3n) {
    margin-right:0;
  }
  &:nth-child(3n+1) {
    margin-left:0;
    @media print {
      clear:left;
    }
  }
}
.bg {
  padding:$spacing;
  @media all and(max-width:$sm) {
    padding-left:3.125vw; // match percentage-based padding on outer rows for small screens
    padding-right:3.125vw;
    margin-left:-3.125vw;
    margin-right:-3.125vw;
  }
  @media print {
    background-color:transparent !important;
  }
}
.bg-mistyrose {
  @extend .bg;
  background-color:$mistyrose;
}
.bg-lightblue {
  @extend .bg;
  background-color:$lightblue;
}
.bg-bluewhite {
  @extend .bg;
  background-color:$bluewhite;
}
.bg-greywhite {
  @extend .bg;
  background-color:$greywhite;
}
.bg-lightgrey {
  @extend .bg;
  background-color:$lightgrey;
}
.bg-midgrey {
  @extend .bg;
  background-color:$midgrey;
}
.horz-scroll-outer {
  overflow-y:hidden;
  overflow-x:scroll;
  -webkit-overflow-scrolling:touch;
  position:absolute;
  left:0;
  right:0;
  height:calc(100% + 2em); // make sure the scrollbar is hidden by adding some extra height
}
.horz-scroll-inner {
  display:inline-block;
  position:relative;
  white-space:nowrap;
  overflow:hidden;
}
.badge-document {
  content:"";
  border-radius:50%;
  background-color:$skyblue;
  background-image:$doc-svg;
  background-position:center;
  background-size:42%;
  background-repeat:no-repeat;
  @media print {
    background-color:#666;
    background-image:url('data:image/svg+xml;base64,' + base64Encode('<svg xmlns="http://www.w3.org/2000/svg" width="14.957" height="13.606" viewBox="0 0 14.957 13.606"><path fill="' + $white + '" d="M14.582 1.653h-.965c-.207 0-.375.159-.375.355s.168.355.375.355h.59v10.531H3.364v-.641c0-.131-.079-.241-.19-.303h8.793c.207 0 .375-.158.375-.355V.355c0-.195-.168-.355-.375-.355H.375C.167 0 0 .16 0 .355v11.241c0 .195.167.355.375.355h2.431c-.112.062-.19.172-.19.303v.996c0 .195.167.355.375.355h11.592c.205 0 .375-.159.375-.355V2.008c-.001-.196-.169-.355-.376-.355zM.749 11.242V.711H11.59v10.531H.749zm8.942-8.763H2.99c-.207 0-.375.159-.375.355 0 .196.167.355.375.355h6.702c.207 0 .375-.159.375-.355s-.169-.355-.376-.355zm0 2.48H2.99c-.207 0-.375.159-.375.355 0 .197.167.355.375.355h6.702c.207 0 .375-.159.375-.355-.001-.196-.169-.355-.376-.355zm0 2.479H2.99c-.207 0-.375.158-.375.355 0 .195.167.355.375.355h6.702c.207 0 .375-.158.375-.355-.001-.195-.169-.355-.376-.355z"/></svg>'));
  }
}
.sr-skip-link {
  position: absolute;
  top: 0;
  left: -10rem;
  transition: all .2s ease-in-out;
  opacity: 0;
  z-index: 1000;
  &:hover,
  &:focus {
    opacity: 1;
    left: 0;
    top: 0;
    outline-color: transparent;
    border-color: #6f6d62 !important;
    background-color: #6f6d62 !important;
    color: #fff !important;
  }
  &::before {
    @extend .icon-arrow;
    margin-right: .33rem;
  }
}