%col-base {
}

@mixin col-x {
  @for $i from 1 through $grid-num-cols {
    .col-#{$i} {
      width:100%;
      max-width:100%;
      // flex: 0 0 100%;
      @media screen {
        flex:0 0 auto;
      }
      transition:flex-basis $anim-short ease-in, width $anim-short ease-in, max-width $anim-short ease-in, margin-left $anim-short ease-in;
      @extend %col-base !optional;
      @media all and(max-width:$sm) {
        margin-bottom:$spacing;
        &:last-child {
          margin-bottom:0;
        }
        &.bg-mistyrose,
        &.bg-lightblue,
        &.bg-bluewhite,
        &.bg-midgrey,
        &.bg-lightgrey,
        &.bg-greywhite {
          width:calc(100% + 3.125vw * 2);
          max-width:calc(100% + 3.125vw * 2);
        }
      }
      @media screen and(max-width:$sm) {
        flex: 0 0 calc(100% + 3.125vw * 2);
      }
      @media print and(max-width:$sm) { // flex doesn't print properly in Firefox, so we split the declarations into media screen and media print
        float:left;
      }
      $margin-corrected-sm: (.9375 * $grid-gutter-width) / ((100% - 2 * (.9375 * $grid-gutter-width)) / 100%); // .9375 * $grid-gutter-width is the default padding of rows on displays smaller than grid max width effective
      &.pull-right {
        margin-right:calc(-1 * #{$margin-corrected-sm});
        width:calc(100% + #{$margin-corrected-sm});
        max-width:calc(100% + #{$margin-corrected-sm});
      }
      &.pull-left {
        margin-left:calc(-1 * #{$margin-corrected-sm});
        width:calc(100% + #{$margin-corrected-sm});
        max-width:calc(100% + #{$margin-corrected-sm});
      }
      &.pull-both {
        margin-right:calc(-1 * #{$margin-corrected-sm});
        margin-left:calc(-1 * #{$margin-corrected-sm});
        width:calc(100% + 2 * #{$margin-corrected-sm});
        max-width:calc(100% + 2 * #{$margin-corrected-sm});
      }
      @media screen {
        &.pull-right,
        &.pull-left {
          flex-basis:calc(100% + #{$margin-corrected-sm});
        }
        &.pull-both {
          flex-basis:calc(100% + 2 * #{$margin-corrected-sm});
        }
      }
      @media print {
        &.pull-right,
        &.pull-left {
          float:left;
        }
      }

      $width: $grid-col-width * $i + $grid-gutter-width * ($i - 1);
      @media all and(min-width:$sm){
        width: $width;
        max-width:$width;
        .row-left &,
        .row-right & {
          margin-left:$grid-gutter-width;
        }
        .row-left &:first-child,
        .row-right &:first-child {
          margin-left:0;
        }
        body.flyout-open:not(.transitioning) #content & { // side-by-side columns when flyout is open
          $width_resized: #{100% * ($i / $grid-num-cols) - $grid-gutter-width};
          width: $width_resized;
          max-width: $width_resized;
        }
        body.flyout-open:not(.transitioning) #content #aside + & { // side-by-side columns immediately following aside when flyout is open
          $width_plus_aside_fraction: $width + ($grid-col-width * 2 + $grid-gutter-width) / $i; // ($grid-col-width * 2 + $grid-gutter-width) is the width of the aside, which we need to divide into pieces and add to each remaining col
          width: $width_plus_aside_fraction;
          max-width: $width_plus_aside_fraction;
        }
        body.flyout-open:not(.transitioning) #content &:only-child,
        body.flyout-open:not(.transitioning) #content #aside + &:last-child { // singular columns when flyout is open, OR singular column immediately following aside
          width:100%;
          max-width:100%;
          margin-left:0;
        }
      }
      @media screen and(min-width:$sm) {
        flex: 0 0 $width;
        body.flyout-open:not(.transitioning) #content & { // side-by-side columns when flyout is open
          $width_resized: #{100% * ($i / $grid-num-cols) - $grid-gutter-width};
          flex-basis: $width_resized;
        }
        body.flyout-open:not(.transitioning) #content #aside + & { // side-by-side columns immediately following aside when flyout is open
          $width_plus_aside_fraction: $width + ($grid-col-width * 2 + $grid-gutter-width) / $i; // ($grid-col-width * 2 + $grid-gutter-width) is the width of the aside, which we need to divide into pieces and add to each remaining col
          flex-basis: $width_plus_aside_fraction;
        }
        body.flyout-open:not(.transitioning) #content &:only-child,
        body.flyout-open:not(.transitioning) #content #aside + &:last-child { // singular columns when flyout is open, OR singular column immediately following aside
          flex-basis:100%;
        }
      }
      @media print and(min-width:$sm) {
        float:left;
      }
      $margin-corrected-lg: "((100vw - #{$grid-max-width}) / 2) / (#{$width/1%} / 100)"; // first take the remaining page width from max width to 100%; then divide this by width of current element, which might not be 100% wide. Divide by 1% to get unit-less value
      @media all and(min-width:$grid-max-width-effective) {
        &.pull-right {
          margin-right:calc(-1 * #{unquote($margin-corrected-lg)});
          width:calc(100% + #{unquote($margin-corrected-lg)});
          max-width:calc(100% + #{unquote($margin-corrected-lg)});
        }
        &.pull-left {
          margin-left:calc(-1 * #{unquote($margin-corrected-lg)});
          width:calc(100% + #{unquote($margin-corrected-lg)});
          max-width:calc(100% + #{unquote($margin-corrected-lg)});
        }
        &.pull-both {
          margin-right:calc(-1 * #{unquote($margin-corrected-lg)});
          margin-left:calc(-1 * #{unquote($margin-corrected-lg)});
          width:calc(100% + 2 * #{unquote($margin-corrected-lg)});
          max-width:calc(100% + 2 * #{unquote($margin-corrected-lg)});
        }
      }
      @media screen and(min-width:$grid-max-width-effective) {
        &.pull-right {
          flex-basis:calc(100% + #{unquote($margin-corrected-lg)});
        }
        &.pull-left {
          flex-basis:calc(100% + #{unquote($margin-corrected-lg)});
        }
        &.pull-both {
          flex-basis:calc(100% + 2 * #{unquote($margin-corrected-lg)});
        }
      }
      @media print and(min-width:$grid-max-width-effective) {
        &.pull-right,
        &.pull-left {
          float:left;
        }
      }
      > .row {
        padding:0;
        @for $j from 1 through $grid-num-cols {
          > .col-#{$j} {
            // we need to adjust the percentages because we're suddenly inside a smaller container
            $ratio: ($j/$grid-num-cols*$i);
            $nested-width: ($grid-col-width * $ratio + $grid-gutter-width * ($ratio - 1)) / ($width/100%);
            @media all and(min-width:$sm){
              width: $nested-width;
            }
            @media screen and(min-width:$sm){
              flex-basis: $nested-width;
            }
            @media print and(min-width:$sm){
              float:left;
            }
          }
        }
      }
    }
  }
}

@mixin row-padding {
  @for $j from 0 through 9 {
    @media all and(min-width:$grid-max-width-effective + $j * 40) {
      padding-left: calc((100vw - #{$grid-max-width}) / 2 - #{$j * 20} * (100vw - 100%) / #{$flyout-max-width-px/1px});
      padding-right: calc((100vw - #{$grid-max-width}) / 2 - #{$j * 20} * (100vw - 100%) / #{$flyout-max-width-px/1px});
    }
  }
}
