#share-icons {
  text-align:right;
  font-size:1rem;
  list-style:none;
  padding:0;
  margin:-.5rem 0 0;
  display:none;
  @media all and(min-width:$sm){
    display:block;
  }
  li {
    display:inline-block;
    vertical-align:middle;
    padding-left:1rem;
    &:first-child {
      padding-left:0;
    }
  }
}
