h1.obvius-logo img {
  display: block;
  border: 0;
  width: 83px;
  height: 50px;
  padding-top: 15px;
  padding-left: 15px;
}

#newslettertimetable,
#submitted_complaints_main,
#submitted_complaints_details,
#validation_errors_details {
  border-collapse: collapse;
  border: 1px solid black;
  font-size: 0.8em;
}

#newslettertimetable thead th,
#submitted_complaints_main thead th,
#submitted_complaints_details thead th,
#validation_errors_details th {
  text-align: left;
  border: 2px solid black;
  font-weight: bold;
  padding: 1em;
}

#newslettertimetable td,
#submitted_complaints_main td,
#submitted_complaints_details td,
#validation_errors_details td {
  border: 1px solid black;
  padding: 1em;
}

.accordion {
  border: dashed 1px #c1272d;
  padding: 0 0.5em 0.5em 0.5em;
}

.accordion > *:first-child {
  background-color: #c1272d;
  color: #fff;
  padding: 0.5em;
}

/*============================================================================*/
/* GRIDCONTENT ADMIN STYLES                                                   */
/*============================================================================*/

.obvius-common .gridcontent {
  width: auto !important;
  padding: 0 1em;
}

.obvius-common .gridcontent .gcrow:first-child {
  clear: none;
}

.obvius-common .gridcontent:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#obvius_gridcontent_gridcontent {
  margin-bottom: 7em;
}
#obvius_gridcontent_gridcontent_addrow2 {
  position: relative;
  bottom: 6em;
}

table.gcedit {
  width: 783px !important;
  margin: 0.5em 0;
  padding: 0 !important;
  border-collapse: collapse;
  background: #fff;
  border-spacing: 0;
}
table.gcedit thead th {
  display: none;
}
table.gcedit tbody th input {
  font-size: 0.8em;
}
table.gcedit .icon {
  display: inline-block;
  height: 22px;
  width: 22px;
  text-indent: -1000em;
  text-transform: capitalize;
  margin: 0.5em 0 0.5em 0.5em;
  background: url(/grafik/jquery-ui-icons-black.png) no-repeat 0 0 #ddd;
}
table.gcedit tr.rowheading th {
  border-top: solid 1em #f7f7ef;
}
table.gcedit tbody th input.moveup {
  background-position: 2px -14px;
}
table.gcedit tbody th input.movedown {
  background-position: -62px -14px;
}
table.gcedit tbody th input.close {
  position: absolute;
  right: 0;
  margin: 0.5em;
  background-position: -94px -126px;
}
table.gcedit tbody td {
  vertical-align: top;
}
table.gcedit tbody tr.rowcontent {
  background: #fff;
  border: dashed 0 1px 1px grey;
}
table.gcedit td.gccolumn {
  background: #fff;
  display: block;
  float: left;
  outline:1px dotted #bbb;
}
table.gcedit td.gccolumn ul.gclist {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 1.2em 1.2em 0;
}
table.gcedit td.gccolumn ul li.gcboxitem {
  min-height: 5em;
  position: relative;
  background-color: #fff;
  margin-bottom: 2.34em;
  overflow: hidden;
}
table.gcedit td.gccolumn .addmoreitems-wrapper {
  border: dashed 1px grey;
  background-color: transparent !important;
  margin: 0 1.2em 1.2em;
}
table.gcedit td.gccolumn .addmoreitems {
  cursor: pointer;
  background-position: -30px -126px;
}
table.gcedit td.gccolumn .gccolumn-bgselect {
  padding:1.2em;
  border-top:1px dotted #bbb;
}
li.gcboxitemplaceholder {
  width: 100% !important;
  border: 1px solid #fa0 !important;
  height: 37px !important;
  background: #ffc !important;
}
table.gcedit td.gccolumn ul li div.toolbar {
  z-index: 10;
  display: none;
}
table.gcedit td.gccolumn ul li:hover div.toolbar {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
table.gcedit td.gccolumn ul li div.toolbar .edit,
table.gcedit td.gccolumn ul li div.toolbar .delete {
  position: absolute;
  z-index: 100;
  top: 0.5em;
  margin: 0;
}
table.gcedit td.gccolumn ul li div.toolbar .edit {
  background-position: -62px -110px;
  right: 3em;
}
table.gcedit td.gccolumn ul li div.toolbar .delete {
  background-position: -94px -126px;
  right: 0.5em;
}
.gccolumn a.edit-orig {
  background-position: -30px -78px;
  display: none;
  height: 20px;
  width: 20px;
  border: outset 1px #c0c0c0;
  position: absolute;
  top: 0;
  right: 5.5em;
  z-index: 100;
}
td.gccolumn .gcboxitem:hover a.edit-orig {
  display: block;
}
.gccolumn a.edit-orig:hover {
  background-color: #999;
}
table.gcedit td.gccolumn ul li div.heading {
  position: absolute;
  top: 0;
  right: 0;
  height: 22px;
  width: 22px;
  z-index: 10;
  background: #c0c0c0;
  background: url(/grafik/jquery-ui-icons-black.png) no-repeat -190px -110px #c0c0c0;
  text-indent: -100em;
}
table.gcedit td.gccolumn ul li:hover::after {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color:rgba(255,255,255,.85);
  content:"";
  border:1px dotted #bbb;
}
table.gcedit td.gccolumn ul li:hover div.heading {
  display: block;
  left: 0;
  width: auto;
  height: auto;
  background: url(/pics/transparent-black.png) repeat 0 0 transparent;
  text-indent: 0;
  color: #222;
  font-size: 1.5em;
  padding: 0.5em;
}
div.gridcontent-dialog {
  background-color: #FFBB85;
  border: 1px solid #999;
  position: fixed;
  top: 2em;
  left: 50%;
  margin-left: -300px;
  z-index: 10000;
  display: none;
  box-shadow: 0 0.5em 1em rgba(0,0,0,0.5);
}
div.gridcontent-dialog h1,
div.gridcontent-dialog .h1 {
  margin: 0;
  padding: 0.5em;
  background: #999;
  color: white;
}
.obvius-editengine form div.obvius-editengine-confirmation
div.gridcontent-dialog div {
  background-color: transparent;
}
.obvius-editengine form div.obvius-editengine-confirmation
div.gridcontent-dialog div.dialogcontent {
  padding: 0.5em;
}
.obvius-editengine form div.obvius-editengine-confirmation
div.gridcontent-dialog div.buttonrow {
  background-color: transparent;
  text-align: right;
  margin: 0;
  padding: 0.5em;
}
div.gridcontent-dialog div.buttonrow span {
  border: 1px solid black;
  padding: 0.25em 0.5em 0.25em 0.5em;
  background-color: gray;
  cursor: pointer;
}
#gridcontent-dialog-addrow {
  width: 25em;
}
#gridcontent-dialog-addrow table {
  width: 100%;
}
#gridcontent-dialog-addrow td div {
  border: 1px dashed #666;
  height: 2em;
  background: #fff;
  margin: 0 0.1em 1em;
}
#gridcontent-dialog-addrow .single-column, #gridcontent-dialog-addrow .single-column-half, #gridcontent-dialog-addrow .single-column-narrow, #gridcontent-dialog-addrow .one-one-column, #gridcontent-dialog-addrow .one-two-column, #gridcontent-dialog-addrow .two-one-column, #gridcontent-dialog-addrow .triple-column {
  cursor: pointer;
}
.gridcontent-dialog h1 .cancel,
.gridcontent-dialog .h1 .cancel {
  float: right;
  margin: -0.25em 0 0;
}
input[type="button"] {
  cursor: pointer;
}
input[type="button"]:hover {
  background-color: #666;
  color: #fff;
}
.gridcontent-dialog .defaultSkin table.mceLayout {
  padding: 0;
}
#gridcontent-dialog-addrow .dialogcontent {
  width: 10em;
  margin: 0 auto;
}
#gridcontent-dialog-additem {
  width: 32em;
}
#gridcontent-dialog-additem .dialogcontent > div {
  float: left; margin: 1em 0 1em 0.5em;
}
#gridcontent-dialog-edit-picture label {
  min-width: 5em;
  display: block;
  float: left;
}
#gridcontent-dialog-edit-picture input.textinput {
  min-width: 20em;
}
table.gcedit .rowheading th {
  position: relative;
  text-align: left;
  background: #ddd;
  display: block;
}
table.gcedit .rowcontent td {
  width: 33%;
}
table .gcedit .single-column-half td {
  width: 50%;
  margin: 0 25%;
}
table.gcedit .single-column-narrow td {
  width: 66%;
  margin:0 17%;
}
table.gcedit .single-column td {
  width: 100%;
}
table.gcedit .one-one-column td {
  width: 50%;
}
table.gcedit .one-two-column td {
  width: 66%;
}
table.gcedit .one-two-column td:first-child {
  width: 33%;
}
table.gcedit .two-one-column td:first-child {
  width: 66%;
}
.obvius-editengine form div.obvius-editengine-confirmation table.gcedit div {
  background-color: #fff;
}
table.gcedit .picture img {
  max-width: 100%;
}

#dynamic-redirects-container form {
    width: 100%;
    font-size: small;
}

#dynamic-redirects-container table {
    width: 100%
}

#subscriptionareas {
    font-size: small;
}

#subscriptionareas div.errors {
  margin: 1em 0;
  padding: 0 1em;
  border: 1px solid red;
  background-color: #FFAAAA;
}


#subscriptionareaoverview ul.areas {
  list-style: none;
  margin: 0;
  padding: 0;
}

#subscriptionareaoverview ul.areas li {
  border: 1px solid black;
  margin: 0 0 10px 0;
}

#subscriptionareaoverview h1.area-header {
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid black;
  font-size: 1.5em;
}

#subscriptionareaoverview .button-controls {
  float: right;
  margin-top: 0;
}

#subscriptionareaoverview h1.white {
  color: #FFFFFF;
}


#subscriptionareaoverview ul.areas li div.info {
  padding: 10px;
}

#subscriptionareaoverview ul.areas ul {
  list-style: none;
}

#subscriptionareaoverview ul.areas li ul li.section {
  border: 1px solid black;
}

#subscriptionareaoverview h2.section-header {
  margin: 0;
  padding: 10px;
  background-color: #eeeeee;
  border-bottom: 1px solid black;
  font-size: 1em;
}


#subscriptionareaoverview ul.areas li ul li ul li {
  border: none;
  margin: 0;
  padding: 0;
}

#subscriptionareas label {
  display: block;
  font-weight: bold;
}

#subscriptionareas div.form-field {
  margin: 0.5em 0;
}

#subscriptionareas input.obvius-command-do {
  background-color: #90ce9f;
}

#subscriptionareas input.obvius-command-cancel {
  background-color: #d67d71;
}

/*
 Local Variables: ***
 mode: css ***
 End: ***
*/
