p, li, a, h1, h2, h3{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    padding: 0px;
    margin: 10px 0px 10px 0px;
    font-size: 12px;
    color: rgb(152,0,47);
}

h2{
    padding: 0px;
    margin: 10px 0px 10px 0px;
    font-size: 11px;
    color: rgb(152,0,47);
}

h3, #content h4, #content h5, #content h6, #content h7{
    padding: 0px;
    margin: 10px 0px 10px 0px;
    font-size: 10px;
    color: rgb(152,0,47);
}





p {
margin: 10px 0px 10px 0px;
}

p, a{
    font-size: 12px;
    line-height: 16px;
}

cite {
    font-size: 12px;
}

.accordion {
    border: dashed 1px #c1272d;
    padding: 0 0.5em 0.5em 0.5em;
}

.accordion > *:first-child {
    background-color: #c1272d;
    color: #fff;
    padding: 0.5em;
}