* {zoom: 1;}

.nav-primary a, #main {background: #f9f9f8;}
.nav-primary a.selected, .nav-primary a:hover {background: #c13d42;}
#logo {background: url(/images/branding/bomaerke.png) no-repeat right center #f9f9f8;}

.help li {display: inline;}
.nav-primary .linkInfo {width: 250px !important; padding: 0; margin: -30px 0 0 !important;}
#breadcrumbs li {display: inline; padding: 0 10px 0 0;}