@import url(layout_960.css);

.nav-primary a {background: #f9f9f8;}
.nav-primary a.selected, .nav-primary a:hover {background: #c13d42;}
#logo {background: url(/images/branding/bomaerke.png) no-repeat right center #f9f9f8;}
