/* ==|== Styles for @media only screen and (min-width: 960px) ================*/

/* ==|== Typography ==========================================================*/

body, #langpick, #logo, .nav h3, .newsboxhead, h4, .nav a, .nav-primary a.selected .linkInfo, .nav-primary a:hover .linkInfo, .navlist, .enddate, .newsboxhead, .navlist a, .newsbox .date {font-size: 15px;}
h1, .splash .nav-primary a, .nav-primary a.selected {font-size: 35px; line-height: 1.2;}
h2 {font-size: 25px;}
.nav-primary a, h3, .h3, .aside h2, legend, .teaser, .headergroup h2, .nav .backlink a {font-size: 20px;}
a.btn, .nav-path li, .newsauthor, .videoNotice {font-size: 13px;}
.footer, .footer h3, .help a, .help select {font-size: 12px !important;}
.newsboxhead, .navlist a, .backlink a, .nav a, .newsbox .date {font-family: 'Scene W01 Black', 'Arial', sans-serif;}
.help a, .help select {font-family: Arial, sans-serif;}
.footer strong, .footer h3 {font-weight: bold;}



/* ==|== Layout ==============================================================*/

body {text-align: center; overflow-x: hidden; background: #ebebe8;}
#container {width: 940px; text-align: left; margin: 0 auto;}
.padding, .footer, .rightbox, h1.title, .newsauthor, #tmp_right, .enddate, #article {padding: 20px;}

/* Header */
#logo {margin: 0 0 20px; width: 300px; background-size: 86px 102px;}
#logo a {height: 120px;}
.non_da #logo {margin: 0;}
#bgImg {display: block; position: absolute; z-index: -5; top: 50px; width: 1300px; left: 50%; margin-left: -650px;}

/* Navigation general */
.nav ul, .nav li {display: block;}
.help h3, #navblock h3 {display: none;}

/* Helper navigation */
.help {text-align: right; margin: 0; height: 50px;}
.help li {display: inline-block; padding: 5px 0 0 10px;}
.help li a {display: block; padding: 10px;}
.help li a:after {content: " »";}
.help li.langpicker {float: right;}
#langpick {margin: 0; padding: 8px 0 9px 10px;}

/* Navigation nav-primary */
.nav-primary {display: block; margin-top: 50px;}

/* Navigation breadcrumb path */
#breadcrumbs {display: block; padding: 0; margin: 40px 0 20px;}
.nav-path {padding: 0;}
.nav-path li {display: inline-block;}
#breadcrumbs li a {display: block; margin: 0; padding: 0;}
.path-txt:after {content: " »";}
#breadcrumbs li:last-child .path-txt:after {content: "";}
.non_da li.youAreHere {display: none;}

/* Navigation nav-secondary */
#navblock {position: static;}
.nav-secondary {float: left; width: 300px; padding: 0;}
.nav-secondary h2 {display: none;}
.nav-secondary ul {margin: 0;}

/* Content */
#main {width: 620px; float: right; clear: none;}
.content {margin: 0;}
#article {margin-bottom: 20px;}
#tipenven {margin: 20px 20px 0 0;}
.videoFrame {margin: 0 0 0 -20px;}

/* Search */
#sagssoegning {padding: 20px; margin: 20px 0 0;}
#content #searchhelp  {width: 600px; left: 50%; margin: 0 0 0 -300px;}

/* Footer */
.footer {width: 100%; clear: both; padding: 0; margin-top: 120px;}
.footer .footerContent {padding: 20px 0 40px; margin: 0 auto; width: 940px; text-align: left;}
.footerContent div {float: left; width: 220px; margin-left: 20px;}
.footerContent div.address {margin: 0;}

/* News and news list */
.news {margin-left: -20px;}
#newslist {margin: 20px 0 0 -20px; width: 640px;}
.news .headergroup {margin-left: 20px;}
.news .headergroup a {clear: none; padding: 5px 0 5px 40px;}
.newsbox {width: 300px; float: left; height: 300px; margin: 0 0 20px 20px; overflow: hidden;}
a.morebtn {margin: 0; padding: 10px 0;}
.newsauthor span {clear: none; margin: 55px 0 0 90px; padding: 20px;}
.newsauthor hr {clear: both; width: 100%;}

/* Frontpage */
#frontpage {margin-top: 32px;}
.splash #feature2 {margin: 0 0 20px;}
.splash #feature2 p:first-child {margin-top: 0;}
.splash #feature2 p:last-child {margin-bottom: 0;}
#frontpage .nav-primary {margin: 0;}
#features {padding: 20px 0 0; width: 620px; float: left;}
#asides {padding: 20px 0; width: 300px; float: right;}
.aside {padding: 20px; margin-bottom: 20px;}
.splash a.morebtn {margin: 0 0 20px 20px;}



/* ==|== Colors and typography for @media only screen and (min-width: 960px) =============================*/

#body {background: #ebebe8;}
#container {background: transparent;}

/* Helper navigation */
.help, .help ul, .help li, .help a, .help a:hover {background: transparent;}
.help ul, .help li {border: none;}

/* Navigation nav-primary*/
.nav-primary ul {margin: 0;}
.nav-primary li {margin: 0 0 5px; width: 140px; float: none;}
.splash .nav-primary li {width: 300px;}
.nav-primary a {padding: 10px 10px 10px 20px; margin: 0;}
.splash .nav-primary a, .nav-primary a.selected {padding: 20px;}
.nav-primary a.selected, .splash .nav-primary a:hover {width: 460px;}
.linkInfo {padding-top: 13px;}
.splash .linkInfo, .nav-primary a.selected .linkInfo {padding-top: 23px;}
.nav-primary a:hover .linkInfo {display: none;}
.nav-primary a.selected .linkInfo, .splash .nav-primary a:hover .linkInfo {font-weight: normal; display: block; float: right; width: 260px; padding-right: 80px; margin: -10px 0 0;}
.nav-primary a .top-padding {background-image: url(/images/icons/bigarrow-right-red.png);}
.nav-primary a:hover .top-padding {background-image: url(/images/icons/bigarrow-right-white.png);}
.nav-primary a.selected .top-padding  {background-image: none;}

/* Navigation Breadcrumb path */
.nav-path li {background: transparent;}
.youAreHere {color: #808080;}
.nav-path li:last-child span {color: #c1272d;}

/* Navigation nav-secondary */
.nav-secondary {border-top: solid 6px #333; margin: 0;}
.nav-secondary ul {border: none;}
.nav-secondary a {padding: 10px 35px 10px 20px;}
.nav-secondary .backlink a {padding: 20px 20px 20px 50px; background-position: 10px center;}
.nav li.menuclose {display: none;}
.nav-secondary a {background-image: none;}

/* Cookie warning */
#cookie_box {left: auto; width: 30em;}
