/* ==|== Styles for @media only screen and (max-width: 699px) ================*/

/* ==|== Layout ==============================================================*/
.help {position: absolute; margin-top: 0; top: 9.75em; z-index: 100;}
.help h3 {float: right; margin: 0 1em 0 0;}
.help h3 span {}
.help.expanded h3 {width: auto; margin: 0 1em; border-radius: 0 0 1em 1em;}
.help.expanded h3 span {padding: 0.5em 1em;}

#logo {height: 5em;}

.nav-primary ul {margin-top: 1.5em;}
.nav-primary li {float: left; width: 33.33%; text-align: center;}
.nav-primary a {margin: 0 0 0 3px; padding: 0.5em; font-size: 1.5em;}
.nav-primary li:first-child a {margin: 0;}

.nav-secondary.expanded ul {z-index: 200; position: absolute; width: 100%; margin: 0; padding: 0;}
.nav-secondary li {margin: 0 1em;}

/* Frontpage */
.splash .help {top: 11.5em;}
.splash #features {margin-top: 1.75em;}

/* ==|== Colour ==============================================================*/
.help li:first-child {border-top: solid 6px #333;}
.nav-secondary li:last-child, .help li:last-child {border-bottom: solid 6px #333;}

.nav-primary a {background: #c1272d; color: #fff; box-shadow: 3px 3px 0.25em rgba(0,0,0,0.3);}
.nav-primary a:hover {background: #333;}
.nav-primary a:active, .nav-primary a:focus {background: #333;}
.nav-primary a .top-padding, .nav-primary a:hover .top-padding, .nav-primary a:active .top-padding, .nav-primary a:focus .top-padding {background-image: none;}

.nav-secondary.expanded h3 span {background-image: none;}
.nav-secondary ul {background-color: transparent;}
.nav-secondary li {background: #F9F9F8;}
