/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html {font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
body {margin: 0; font-size: 100%; line-height: 1.4;}
body, button, input, select, textarea {font-family: 'Arial', sans-serif; color: #333;}

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"], [role="button"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* Screenreader-only class from Bootstrap */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}


/* ==|== primary styles for small screens ===================================
   Author: Frank Thomsen, Toke Fritzemeier @ Magenta, 2012
   ========================================================================== */

/* ==|== Typography for small screens ========================================*/
h1, h2, h3, h4, .nav-primary, legend {font-family:'Scene W01 Black', 'Arial', sans-serif; font-weight: normal;}
label, .navlist, .enddate, .newsboxhead, .newsbox .date {font-family:'Scene W01 Bold', 'Arial', sans-serif; font-weight: normal;}
.nav-primary .linkInfo, .teaser {font-family:'Scene W01 Light', 'Arial', sans-serif;}
.footer h3 {font-family: 'Arial', sans-serif;}

body, #langpick, .footer strong, .footer h3, #logo, .nav h2, h4, .nav a, .newsboxhead {font-size: 1em;}
h1, .nav-primary a {font-size: 1.9em;}
h2, legend {font-size: 1.5em;}
h3, .aside h2, .teaser, .enddate {font-size: 1.1em;}
.footerContent, a.btn, .newsauthor, .videoNotice {font-size: 0.9em;}

h1, h2, h3, .h3 {line-height: 1.2;}



/* ==|== Layout for small screens ============================================*/

.padding, .footer, .rightbox {padding: 1em;}
.btn {width: auto; display: inline-block; padding: 0.5em 1em;}

/* Header */
.header {margin: 0; width: 100%; display: block;}
#logo {margin: 1em 1em 0;}
#logo a {display: block; width: 100%; height: 57px;}
#bgImg {display: none;}

/* Navigation general */
.nav h2 {display: block; cursor: pointer; margin: 0 1em; padding: 0;}
.nav h2 button {color: #fff; text-align: left; border: none; background-color: transparent; border-radius: 0; width: 100%; display: block; padding: 0.5em 3em 0.6em 1em;}
.nav ul, .nav-primary ul {list-style: none; margin: 0; padding: 0;}
.nav.expanded ul {display: block; margin: 0 1em; padding: 0;}

/* Navigation nav-primary */
.nav-primary {display: none;}
.nav-primary ul {margin: 0.25em 1em 0; padding: 0;}
.nav-primary li {margin: 0; line-height: 1;}
.nav-primary a {margin: 0.25em 0 0;}

.linkInfo {display: none;}

/* Breadcrumb path */
#breadcrumbs {display: none;}

/* Content */
#main {clear: both;}
.content {margin: 1em;}
.teaser, #article {padding: 1em; margin: 1em 0 0;}
.teaser > .teaser {padding: 0; margin: 0;}
h1.title {padding: 0.4em; margin: 0;}
#tipenven {margin: 0 1.2em 1.2em;}
#tmp_right {float: right; width: auto; padding: 1em;}
.videoFrame {margin: 0; max-width: 100%;}
.sagscontent {padding: 1em;}
.linkbox ul {list-style: none; margin: 0.5em 0; padding: 0; text-align: left;}

/* Search and forms */
#sagssoegning {padding: 1em; margin: 1em 0 0;}

/* Footer */
.footer {padding-bottom: 3em;}
.footer h2 {margin: 0; padding: 0.8em 0; width: auto;}
.footer div {padding: 0 0 1em;}
.footer h3 {margin: 0; padding: 0;}
.footer span {display: block;}

/* Frontpage */
.splash .nav-primary {display: block;}
.splash .help {top: 338px;}
#features {padding: 0 1em;}
#feature2 img {width: 100%;}
#frontpage .newsbox .date {display: none;}
#asides {padding: 0 1em;}
.aside {padding: 1em; margin-bottom: 1em;}
.aside h2 {margin: 0; padding: 0 0 1em;}

/* News and news list */
.news .headergroup {margin: 0 0 1em; padding: 1em;}
.news h2 {margin: 0; padding: 0; float: left;}
.news .headergroup a {display: block; float: right; padding: 0.5em 0; clear: right;}
#newslist {list-style: none; margin: 1em 0 0; padding: 0;}
.newsbox {margin: 0 0 1em 0;}
.newsbox h3 {margin: 0;}
.newsboxhead {margin: 0; padding: 0;}

/* Newsletter subscriptions */
.subscriptions {padding: 1em;}
.subscribe_areas label, .subscribe_subjects label {display: inline;}


/* ==|== Colors for small screens ============================================*/

body {color: #333; background: #282828;}
#container {background: #ebebe8;}
h1, h2, h3 {color: #c1272d;}

/* Normal links */
a:link {color: #c1272d; text-decoration: none;}
a:visited {color: #c1272d; text-decoration: none;}
a:hover {color: #333; outline: 0; text-decoration: none;}
a:active {color: #333; outline: 0; text-decoration: none;}
a:focus {color: #c1272d; outline: thin dotted;}

/* Navigation buttons */
.nav h2 {color: #fff; background: #c1272d;}
.nav h2 button {background: url(/images/icons/arrow-down-white.png) no-repeat right 1em center transparent;}
.nav.expanded h2 button {background-image: url(/images/icons/arrow-up-white.png);}
.nav h2:hover, .nav h2:active, .nav h2:focus {background-color: #333;}
.nav ul, .linkboxnav {border-top: solid 6px #333; background: #f9f9f8;}
.nav.expanded ul {border: none;}
.nav li, .linkboxnav li {border-bottom: solid 1px #ebebe8;}
.nav li:last-child, .linkboxnav li:last-child {border-bottom: 0;}
.nav a, .linkboxnav a {background: url(/images/icons/arrow-right-red.png) no-repeat right center #f9f9f8; display: block; text-decoration: none; padding: 0.5em;}
.nav .backlink a {color: #333; background: url(/images/icons/arrow-left-grey.png) no-repeat left center #f9f9f8;}
.nav a:hover, .linkboxnav a:hover {background-image: url(/images/icons/arrow-right-grey.png)}
.nav .backlink a:hover {color: #c1272d; background-image: url(/images/icons/arrow-left-red.png);}
.nav a:active, .nav a:focus, .linkboxnav a:active, .linkboxnav a:focus {background-color: #ebebe8; color: #333;}
.nav .backlink a:active, .nav .backlink a:focus {background: url(/images/icons/arrow-left-red.png) no-repeat left center #ebebe8;}
.level0 a, .level0 a:hover, .level0 a:active, .level0 a:focus {background-image: none;}

/* Navigation elements: Helper utilities */
.help {width: 100%; margin-top: 3.25em;}
.help h3 {background: #9e9e9e; border-radius: 1em; float: right; margin-top: -2em;}
.help h3 span {background-image: none; padding: 0.5em 1em; font-size: 0.9em; font-family: arial, sans-serif; margin: 0;}
.help.expanded h3 {border-radius: 1em 1em 0 0;}
.help.expanded h3 span {background-image: none;}
.help li {background: #f9f9f8;}
#langpick {display: block; padding: 0.5em;}

/* Nav-primary buttons */
.nav-primary a {background: rgba(255,255,255, 0.8); display: block; padding: 0.5em 0 0.5em 0.5em;}
.nav-primary a .top-padding {background: url(/images/icons/arrow-right-red.png) no-repeat right center transparent; display: block;}
.nav-primary a.selected, .nav-primary a:hover {background: rgba(193,39,45,0.8); color: #fff;}
.nav-primary a.selected .top-padding, .nav-primary a:hover .top-padding {background-image: url(/images/icons/arrow-right-white.png);}
.nav-primary a:active, .nav-primary a:focus {background: #333;}

/* Nav-secondary buttons */
.nav-secondary {margin-top: 1em;}
.nav-secondary ul {margin: 0;}
.nav-secondary a {padding: 0.5em 2em;}

/* Large "add more" buttons */
a.morebtn {background: #c1272d; color: #fff; display: block; text-align: center; clear: both; margin: 0 0 1em;}
a.morebtn span {background: url(/images/icons/plus-white.png) no-repeat left center transparent; display: block; padding: 1.5em 1em 1.5em 3.5em; margin: 0 auto; width: 8em; text-align: left;}
a.morebtn:hover,
a.morebtn:focus {background: #333;}
a.morebtn:active {background: #333; color: #c1272d;}
a.morebtn:active span {background-image: url(/images/icons/plus-red.png)}

/* Button, general type */
a.btn {background-color: #9e9e9e; border-radius: 1em; line-height: 1; color: #fff; display: inline-block; width: auto; padding: 0.5em 1em;}
a.btn:hover {background-color: #c1272d;}
a.btn:active, a.btn:focus {background-color: #333;}

/* Button type A */
a.btnA {background: url(/images/icons/arrow-right-white.png) no-repeat right center #333; color: #fff; display: block; padding: 0.5em; width: auto;}
a.btnA:hover {background-color: #c1272d;}
a.btnA:active, a.btnA:focus {color: #333; background-image: url(/images/icons/arrow-right-grey.png)}

/* Header, logo, etc */
/*#logo {border-top: solid 3px #1e4387; background: url(/images/branding/bomaerke.png) no-repeat right 0 rgba(255,255,255,0.8); background-size: auto 100%;}*/
/*#logo a {background: url(/images/branding/logotype.png) no-repeat 0 0 transparent; text-indent: -100em;}*/
#logo {background-repeat:no-repeat:}
#logo a {background-image:url('/images/branding/logo-slim.svg'); background-repeat:no-repeat; background-size:100% auto; text-indent: -100em;}

/* Content */
.content, .headergroup {border-top: solid 6px #333;}
h1.title, .teaser, #article, #sagssoegning, .headergroup, #tmp_right, .sagscontent, .subscriptions {background: #f9f9f8;}
.videoNotice {color: #5e5e5e;}

/* Search and forms */
form {color: #737373;}
fieldset {display: block; margin: 0; padding: 0 0 1em; width: 100%;}
legend {color: #c1272d;}
label {color: #333; display: block;}
input {margin: 0.5em 0;}
input[type="text"] {background: #fff; outline: 1px solid #949494; padding: 1em; border: none; color: #333; display: block; max-width: 70%;}
input[type="text"]::placeholder {color: #767676;opacity:1;} /* placeholder needs a contrast of 4.5:1 to background color */
input[type="radio"] {background: #ebebe8; border: none; display: inline;}
input[type="radio"] + label {display: inline-block; margin-right: 1em;}
input[type="submit"], input[type="reset"] {color: #fff; border: none; padding: 0.5em 1em; border-radius: 1em; display: block;}
input[type="submit"] {background: #c1272d; text-transform: uppercase;}
input[type="reset"] {background: #9e9e9e;}
input[type="submit"]:hover, input[type="submit"]:active {background: #333;}
input[type="reset"]:hover {background: #c1272d;}
input[type="submit"]:active {color: #c1272d;}
input[type="reset"]:active {background: #333;}
select, textarea {max-width: 100%;}
textarea {width: 100%;}
.searchhelp {background: url(/images/icons/qmark-red.png) no-repeat center center transparent; width: 2em; height: 1.2em; text-indent: -100em; display: inline-block; vertical-align: top;}
.searchhelp:hover, .searchhelp:active {background-image: url(/images/icons/qmark-grey.png);}
.radiogroup {float: left; width: 10em;}
#content #searchhelp  {width: 100%; left: 0; margin: 0;}
.searchlist {margin: 0; padding: 0; list-style: none;}
.searchlist li {padding: 0 0 0.5em;}
.searchoverview dt, .searchoverview dd {display: block; width: 45%; float: left; padding: 0 1em 1em 0;}
.searchoverview dt {clear: left;}
.searchoverview dd {clear: right; margin: 0; padding: 0;}

/* Footer */
.footer {background: #282828; color: #5e5e5e;}
.footer h2 a {display: block; color: #fff; background: url(/images/icons/arrow-right-white.png) no-repeat 6em center transparent;}
.footerContent div {line-height: 1.2em;}
.footer strong, .footer h3 {color: #aaa; font-weight: normal;}
.footer a:hover {color: #fff;}
.footer a:active, .footer a:focus {color: #c1272d;}
.footer h2 a:hover, .footer h2 a:active {color: #c1272d; background-image: url(/images/icons/arrow-right-red.png)}

/* News and news list */
.news h2 {color: #333;}
.newsbox {background: #f9f9f8; color: #888;}
.date, .newsboxhead {color: #9e9e9e;}
.newsauthor, .enddate {padding: 1em; background: #f9f9f8; margin: 0;}
.newsauthor img {background-color: #333; float: left;}
.newsauthor span {display: block; clear: left; padding: 0.5em 0;}
.newsauthor hr {border: solid 1px #e3e3de; border-width: 1px 0 0; margin: 0; padding: 0;}
.bignewspicture {padding-bottom: 1em;}
.linkbox {text-align: right;}
.linkbox h2 {display: none;}
.linkbox a.btn {margin: 0 0 0.5em 0.5em;}
.enddate {color: #9e9e9e;}

/* Frontpage */
.aside {background: #f9f9f8; border-top: solid 6px #333;}
.aside h2 {color: #333;}
.navlist {list-style: none; margin: 0 0 0 -20px; padding: 0;}
.navlist a {display: block; padding: 0 20px 10px;}
.download a {background: url(/images/icons/download-red.png) no-repeat right center transparent;}
.download a:hover {background-image: url(/images/icons/download-grey.png);}
.navlist a:active, .navlist a:focus {background-color: #ebebe8;}

/* Form doctype */
.formIntro, .obviusform {padding: 1em; background: #f9f9f8;}
.formfielddescription > div {margin-top: 0 !important;}

/* Cookie warning */
#cookie_box {position: fixed; bottom: 0; right: 0; left: 0; background: #282828; color: #999; padding: 1em 2em; text-align: left;}
#cookie_box h2 {font-size: 1.2em;}
#cookie_box p {margin: 0 0 1em;}
#cookie_box .btn {margin: 0 1em 1em 0;}
#cookie_box .primary-btn {background: #C1272D;}
#cookie_box .primary-btn:hover, #cookie_box .primary-btn:active {background: #000;}


/* ==|== non-semantic helper classes ======================================== */

.nocallout {-webkit-touch-callout: none;}
textarea[contenteditable] {-webkit-appearance: none;}
.gifhidden {position: absolute; left: -100%;}
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }


/* Accordion foldin/foldout */
.acc-trigger {background: url(/images/icons/arrow-down-white.png) no-repeat right center #c1272d; color: #fff; padding: 0.5em 36px 0.5em 0.5em; border-right: solid 0.5em #c1272d; overflow: hidden; text-overflow: ellipsis; cursor: pointer;}
.acc-trigger:hover, .acc-trigger:active {background-color: #333; border-color: #333;}
.acc-trigger.open {background-image: url(/images/icons/arrow-up-white.png);}
