/* ==|== Styles for @media only screen and (min-width: 700px) and (max-width: 960px) ================*/

/* ==|== Typography ==========================================================*/
.nav li a {font-family:'Scene W01 Black', 'Arial', sans-serif; font-weight: normal;}

/* ==|== Layout ==============================================================*/
.help {position: absolute; top: 0; right: 1em; width: 20em; margin-top: 3em;}
.help li a, #langpick {padding: 1em;}

.header {}
#bgImg {display: block; width: 100%; margin-top: 2em;}
#logo {width: 33.33%; position: absolute; top: 2em; left: 2em; height: 7em; margin: 0;}
#logo a {height: 6em;}

.nav-secondary {position: absolute; top: 9em; left: 0; width: 100%;}
.nav-secondary h2 {width: 33.33%; margin-left: 2em;}
.nav-secondary.expanded ul {margin: 0 2em;}
.nav-secondary li a {padding: 1em 2em;}

.content {margin: 2em 2em 1em;}
#tipenven {margin: 0 0 2em 2em;}

.news .headergroup {margin-bottom: 0;}
.newsbox {margin: 3px 0 0;}
.newsbox:first-child {margin: 0;}

.footer {padding: 1em 2em;}
.footerContent div {float: left; width: 50%;}

/* Frontpage */
.splash .help {top: 0;}
.nav-primary ul {margin: 2em 2em 0;}
.nav-primary ul li {width: 33.33%; float: left;}
.nav-primary a {margin: 0 3px 0 0;}
.nav-primary li:first-child a {margin-left: 0;}
.splash #features {padding: 0 2em;}
.splash #feature2 {margin: 2em 0;}
.splash .news, .splash #asides {width: 50%; padding: 0;}
.splash .news {float: left;}
.splash .news .headergroup, .splash .news .newsbox, .splash .news .morebtn {margin-right: 1em;}
.splash .news .morebtn {margin: 1em 1em 2em 0;}
.splash #asides {float: right;}
.splash .aside {margin: 0 2em 2em 1em;}



/* ==|== Colors ==============================================================*/
.help li:first-child, .nav-secondary li:first-child {border-top: solid 6px #333;}
.help li:last-child, .nav-secondary li:last-child {border-bottom: solid 6px #333;}

.nav-primary a {background-color: #c1272d; color: #fff;}
.nav-primary a .top-padding {background-image: url("/images/icons/arrow-right-white.png");}
.nav-primary a:hover {background-color: #333;}
.nav-primary a:active, .nav-primary a:focus {background-color: #c1272d; color: #333;}

.backlink a {color: #333;}

.splash #features {background: #EBEBE8;}