* { color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
/*  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } */  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 1.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h1, h2, h3, h4, h5, h6 { page-break-after: avoid; }

body {
  display:block !important;
}

#page-heading {
  padding-bottom:0;
  padding-top:0;
}
#globalnav-wrapper,
#above-content,
#cookie-box,
#aside {
  display:none;
}
#content {
  margin-top:0;
}
#site-footer .col-3:not(#contact-info):not(#footer-logo) {
  display:none;
}

.row,
.row-center,
.row-left {
  padding-left:0 !important;
  padding-right:0 !important;
}
.row, .row-center {
  margin-top:0 !important;
}

.row-center {
  justify-content:left!important;
}

.col-8 {
  width:auto !important;
  max-width:none !important;
  float:none !important;
  margin-left:0 !important;
}

.spot-title-letter,
.spot-title-text::before {
  display:none !important;
}
.spot-title-letter,
.spot-title-text {
  margin-top:0 !important;
}
.accordion-toggle::before {
  display:none !important;
}

.accordion {
  overflow:auto !important
}
.accordion-content {
  height:auto !important;
}

.facts .accordion-toggle {
  display:none !important;
}

table.highlight-sections {
  display:table;
}

#hero {
  background-color:#eee !important;
  padding:2em;
}
#toggle-wrapper,
#header-controls-wrapper,
#header-content,
.slide-in-toggle {
  display:none !important;
}
.slide-in {
  position:static !important;
  width:100% !important;
  transform:none !important;
  overflow-x:visible !important;
  overflow-y:visible !important;
  height:auto !important;
  display:block !important;
  max-width:none!important;
}
#toc-nav .slide-in-title .sr-only {
  /* override .sr-only class */
  position:static;
  width:auto;
  height:auto;
  overflow:visible;
  clip:auto;
  white-space:normal;
  -webkit-clip-path:none;
  clip-path:none;
}
#toc-nav ol li span {
  background-color:#fff !important;
}
