@import url(layout_small.css) screen;
@import url(layout_0.css) screen and (max-width: 699px);
@import url(layout_700.css) screen and (min-width: 700px) and (max-width: 959px);
@import url(layout_960.css) screen and (min-width: 960px);

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
