*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing:border-box;
  @media all and(max-width:1600px) {
    font-size:calc(#{$font-medium} + #{($font-large - $font-medium)/1px} * (100vw - #{$sm}) / #{(1600px - $sm)/1px});
  }
  @media all and(max-width:$sm) {
    font-size:calc(#{$font-small} + #{($font-medium - $font-small)/1px} * 100vw / #{$sm/1px}); // corresponding to 16 px at device-width 576px, and minimum $min-size px. https://www.smashingmagazine.com/2016/05/fluid-typography/
  }
}

body {
  font-family:'Merriweather', serif;
  font-weight:300;
  background-color:$white;
  color:$darkgrey;
  line-height:1.875;
  font-size:1rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  min-height:100vh;
  display:flex;
  flex-direction:column;
  transition-duration:$anim-short;
  overflow-wrap: break-word;
  &.flyout-open {
    overflow-x:hidden;
    @media all and(max-width:$sm){
      overflow-y: hidden;
    }
  }
  &.globalnav-open {
    @media all and(max-width:$sm) {
      overflow:hidden;
    }
  }
  @media print {
    background:transparent;
  }
}
b, strong {
  font-weight:700;
}
img {
  max-width:100%;
  height:auto;
}
input,
textarea,
button {
  border-radius:0;
}
#content {
  // counter-reset:h1 h2 summary-list;
  counter-reset: summary-list;
}
// #content-wrapper {
//   counter-reset:summary-list;
// }
a {
  text-decoration: none;
  color: $linkcolor;
  transition: color $anim-short ease-in;
  &:focus,
  &:hover,
  &:active {
    color: $darkblue;
  }
  *::after,
  *::before {
    transition:inherit;
  }
}