h1,
.numbered-heading-level-1 {
  font-size:1.625rem;
  color:$darkblue;
  font-weight:normal;
  line-height:1.5;
  margin:1.25rem 0;
  // &:first-child {
  //   margin-top:0;
  // }
  &.numbered-heading {
    @extend .clearfix;
    // counter-increment:h1;
    // counter-reset:h2;
    position:relative;
    margin-top:5.625rem; // 90 px
    display:flex;
    padding-top:2.5rem; // make room for number and line

    > .section-anchor {
      font-size:5rem;
      flex:0 0 auto;
      color: $darkblue;
    }
    > .section-anchor::after {
      content:"";
      display:inline-block;
      background-color:$darkblue;
      width:100px;
      height:5px;
      margin-bottom:2.5rem;
      margin-right:-100px;
      margin-left:1.25rem;
      @media print {
        background-color:black;
      }
    }
  }
}
.bg-mistyrose,
.bg-bluewhite,
.bg-greywhite,
.bg-lightgrey,
.bg-midgrey {

  .numbered-heading-level-1:first-child {
    margin-top: 0; // prevent too much spacing
  }
}
h3,
.numbered-heading-level-2 {
  font-family:$sans;
  color:$darkblue;
  font-size:1.25rem;
  line-height:1.75rem;
  margin:1.25rem 0;
  font-weight:normal;
  &.numbered-heading {
    margin-top:2.5rem; // 40 px
    //line-height:2.5rem;
    // counter-increment:h2;
    // &::before {
    //   content: counter(h1) "." counter(h2) ". ";
    // }
  }
}
.numbered-heading {
  font-size:1.625rem;
  font-family:$sans;
  flex-flow: row nowrap;
  align-items: flex-start;
  line-height: 1.5;
  > a,
  > a:hover {
    transition:none;
    border-bottom:none;
  }
  > .section-anchor {
    color: $darkblue;
    margin-top: -2.5rem;
    line-height: 1;
  }
}
h4.italic {
  font-size: 1.25rem;
  font-family:$serif;
  font-style:italic;
  font-weight:400;
}
h5 {
  font-size: 1rem;
}
blockquote {
  font-size:1.875rem;
  line-height:2.75rem;
  color:$darkblue;
  font-family:$serif;
  padding-left:2.5rem;
  border-left:5px solid $darkblue;
  text-align:justify;
  margin-left:0;
  width:70%;
}
a {
  font-weight:400;
  @extend .link;
  &:hover,
  &:active,
  &:focus {
    opacity:1;
  }
  &.inverse {
    @extend .link-inverse;
  }
}
%hr {
  border:none;
  display:block;
  margin:0 auto 0 0;
}
hr.hr-bold-blue {
  @extend %hr;
  color:$darkblue;
  background-color:$darkblue;
  width:100px;
  height:5px;
  @media print {
    background-color:black;
  }
}
hr.hr-thin-black {
  @extend %hr;
  color:$darkgrey;
  background-color:$darkgrey;
  width:100px;
  height:1px;
  @media print {
    background-color:black;
  }
}
.link-internal {
  font-family:$sans !important; // nasty, but we might be inside a <span> with font-family set in inline style attribute
  color:$darkblue;
  display:inline-flex;
  align-items:center;
  line-height:1.23em;
  border-bottom:none;
  transition:opacity 0s, background-color $anim-short ease-in, background-image $anim-short ease-in, color $anim-short ease-in;
  opacity:1; // we need to set opacity 1 because we want the icon to be 100% opaque at all times. Thus, we need to do the fade effect with color:rgba() instead.
  padding-right: 1rem;
  border-radius: 1rem;
  &:hover {
    border-bottom:none;
    background-color: $skyblue;
  }
  &::before {
    @extend .badge-document;
    width:2.46rem;
    height:2.46rem;
    transition:inherit;
    display:inline-block;
    margin: -.115em .875em 0 0;
  }
  &:hover::before {
    background-color:$midblue;
    background-image:url('data:image/svg+xml;base64,' + base64Encode('<svg xmlns="http://www.w3.org/2000/svg" width="14.957" height="13.606" viewBox="0 0 14.957 13.606"><path fill="' + $white + '" d="M14.582 1.653h-.965c-.207 0-.375.159-.375.355s.168.355.375.355h.59v10.531H3.364v-.641c0-.131-.079-.241-.19-.303h8.793c.207 0 .375-.158.375-.355V.355c0-.195-.168-.355-.375-.355H.375C.167 0 0 .16 0 .355v11.241c0 .195.167.355.375.355h2.431c-.112.062-.19.172-.19.303v.996c0 .195.167.355.375.355h11.592c.205 0 .375-.159.375-.355V2.008c-.001-.196-.169-.355-.376-.355zM.749 11.242V.711H11.59v10.531H.749zm8.942-8.763H2.99c-.207 0-.375.159-.375.355 0 .196.167.355.375.355h6.702c.207 0 .375-.159.375-.355s-.169-.355-.376-.355zm0 2.48H2.99c-.207 0-.375.159-.375.355 0 .197.167.355.375.355h6.702c.207 0 .375-.159.375-.355-.001-.196-.169-.355-.376-.355zm0 2.479H2.99c-.207 0-.375.158-.375.355 0 .195.167.355.375.355h6.702c.207 0 .375-.158.375-.355-.001-.195-.169-.355-.376-.355z"/></svg>'));
  }
}
.petit {
  font-size:.875rem;
  margin-right:12%;
  line-height:1.5rem;
  &::before {
    content:"";
    width:100px;
    height:1em;
    display:block;
    border-top:1px solid $darkgrey;
  }
}
ul {
  list-style-type: none;
  list-style-image: url('data:image/svg+xml;base64,' + base64Encode('<svg width="3" height="7" xmlns="http://www.w3.org/2000/svg"><ellipse fill="#000" stroke-width="0" cx="1.5" cy="1.5" rx="1.5" ry="1.5"/></svg>'));
  &.blue-dots {
    list-style-image: url('data:image/svg+xml;base64,' + base64Encode('<svg width="3" height="7" xmlns="http://www.w3.org/2000/svg"><ellipse fill="' + $darkblue + '" stroke-width="0" cx="1.5" cy="1.5" rx="1.5" ry="1.5"/></svg>'));
  }
}
.two-columns {
  @media all and(min-width:$md) {
    column-count:2;
    column-gap:2.5rem;
    column-width:16rem; // below this and the columns will collapse
  }
}
.search-highlight {
  background-color:$mistyrose;
  @media print {
    background-color:transparent;
  }
}
.table-responsive { // from Bootstrap 4
  box-shadow:$boxshadow;
  display:block;
  width:100%;
  overflow-x:auto;
  position: relative;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  table {
    width:100%;
    max-width:100%; // responsive view
    box-shadow:none;
  }
}
table {
  border:none;
  line-height:1.375rem;
  font-size:1.0625rem;
  border-collapse:collapse;
  background-color:#fff;
  color:$darkgrey;
  box-shadow:$boxshadow;
  tr {
    padding:0;
  }
  td,
  th {
    padding:1.8125rem .9063rem;
    &:first-child {
      padding-left: 1.8125rem;
    }
    &:last-child {
      padding-right: 1.8125rem;
    }
    /* Remove unsightly extra padding, if the td content is a single <p> element */
    & > p:first-child {
      margin-top: 0;
    }
    & > p:last-child {
      margin-bottom: 0;
    }
  }
  thead {
    color:$midblue;
    font-family:$sans;
    font-size:.8rem;
    border-bottom:1px solid $darkblue;
    text-transform:uppercase;
    letter-spacing:.125rem;
    td,
    th {
      text-align: left;
      font-weight: 300;
      line-height: 1.3125;
      vertical-align: top;
    }
  }
  tbody {
    tr {
      position:relative;
      //border-bottom:1px dotted $darkblue;
      background-color:$bluewhite;
      background-image:$dot-svg;
      background-repeat:repeat-x;
      background-size:auto 1px;
      background-position:0 100%;
      font-size: .875em;
      &:last-child {
        background-image:none;
      }
      @media print {
        background-color:transparent;
      }
    }
  }
}
table.highlight-sections {
  @extend .clearfix;
  &,
  tbody {
    display:block;
    width:100%;
  }
  tr {
    display:flex;
    flex-wrap:wrap;
    width:100%;
    justify-content:center;
  }
  td {
    flex: 1 1 calc(100% / 3 - 1.8125rem * 2); // subtract padding manually because we're switching to content-box
    flex-basis: calc(100% / 3 - 1.8125rem * 2); // set basis explicitly to not confuse IE
    box-sizing:content-box;
  }
}
.ombud-progress {
  padding:0;
  margin:0;
  list-style-position:inside;
  > li { // the numbered heading
    font-size:1.25rem;
    line-height:2rem;
    font-family:$sans;
    color:$darkblue;
    padding:2.25rem 3.375rem;
    background-color:$white;
    margin-top:.625rem;
    &:first-child {
      margin-top:0;
    }
    > ul,
    > ol { // the actual content of the step
      list-style-type:none;
      list-style-image:none;
      padding:0;
      margin:0;
      font-family:$serif;
      color:$darkgrey;
      font-size:1rem;
      line-height:1.875rem;
      &::before {
        content:"";
        display:block;
        width:100px;
        height:1px;
        background-color:$darkblue;
        margin:1.25rem 0;
        @media print {
          background-color:black;
        }
      }
      > li {
        margin-top:1.875rem; // space li's in case there are more than one
        &:first-child {
          margin-top:0;
        }
      }
    }
  }
}

@media all and (max-width:$sm) {
  .numbered-heading-level-1:first-child {
    margin-top: 0; // prevent too much spacing
  }
}
