// Supplementary link styles for extension

.link {
  color: $linkcolor;
  border-bottom: solid 1px $linkcolor;
  transition: color $anim-short ease-in, border-color $anim-short ease-in;
  &:focus,
  &:hover,
  &:active {
    color: $darkblue;
    border-bottom: solid 1px $darkblue;
  }
}

.link-inverse {
  color: $darkblue;
  border-color: $darkblue;
  &:hover,
  &:active,
  &:focus {
    border-color: $linkcolor;
    color: $linkcolor;
  }
}

.link-noborder {
  border: none;
}
