.doctype-sag,
.doctype-standard {
  #aside {
    padding-top:0;
    a {
      @media all and(min-width:$sm) {
        margin:0 0 2.5rem;
      }
      // text-align:center;
      &:last-child {
        margin-bottom:0;
      }
    }
  }
}
#content-links {
  @media all and(max-width:$sm) {
    display:flex;
    justify-content:space-between;
  }
}
#same-case {
  margin-top:$spacing;
  h3 {
    @extend h1;
    margin-top:0;
    color:$darkblue;
    font-family:$sans;
    font-weight:normal;
  }
  .ul-arrow {
    margin-bottom:0;
  }
}
