input[type=submit],
input[type=button],
input[type=reset],
button,
.a-button {
  &:not(.no-styling):not(.sr-only) {
    cursor:pointer;
    line-height:1rem;
    font-size:.875rem;
    padding:0.75rem 0.71875rem 0.6875rem;
    width:12.5rem;
    max-width:100%;
    font-family:$sans;
    background-color:$lightkhaki;
    border:1px solid $lightkhaki;
    color:$white;
    text-align:center;
    transition:opacity 0s, background-color $anim-short ease-in, color $anim-short ease-in;
    display:inline-block;
    &.secondary {
      width:15rem;
    }
    &:focus,
    &:hover {
      background-color:transparent; // see feedback from Max @ SortHvid on Dec 6, 2017
      color:$darkgrey;
      opacity:inherit;
      border-color:$lightkhaki;
    }
    &:disabled,
    &.disabled {
      background-color:transparentize($lightkhaki, .6);
      border-color:transparent;
      color:$white;
      cursor:not-allowed;
    }
    @media print {
      background-color:white;
      border-color:black;
    }
  }
  &.no-styling {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font-family:inherit;
    outline:inherit;
    appearance:none; // above this is a fallback for no appearance support
    transition:opacity $anim-short ease-in;
    &:not([disabled]):focus,
    &:not([disabled]):hover {
      cursor:pointer;
    }
  }
  &.as-link {
    color:$linkcolor;
    border-bottom:1px solid transparent;
    transition:border-bottom-color $anim-short ease-in;
    &:focus,
    &:hover {
      border-bottom-color:$darkblue;
      color: $darkblue;
    }
  }
  &.block {
    display:block;
  }
}

[role=button] {
  transition:color $anim-short ease-in;
  &:focus,
  &:hover,
  &:active {
    color: $linkcolor;
  }
}
#hero:not(.no-image) {
  input[type=submit],
  input[type=button],
  input[type=reset],
  button,
  .a-button {
    &:hover,
    &:focus {
      background-color:$white;
    }
  }
}
