.carousel-container {
  position:relative;
  overflow:hidden;
  .carousel-wrapper {
    display:flex;
    width: 100%;
    max-width: 100% !important;
    .carousel-slide {
      width: auto;
      max-width: 100%;
      flex: 1 0 auto;
      margin: 0;
    }
  }
  .carousel-pagination {
    flex:0 1 auto;
    display:flex;
    margin:$spacing auto auto;
    .swiper-pagination-bullet {
      width:.75rem;
      height:.75rem;
      border:1px solid $midblue;
      border-radius:50%;
      display:inline-block;
      margin-left:1.875rem;
      &:first-child {
        margin-left:0;
      }
      &-active {
        background-color:$darkblue;
        @media print {
          background-color:black;
        }
      }
    }
  }
}

.carousel-slide {
  @extend table;
  margin-top:$spacing;
  &:first-child {
    margin-top:0;
  }
  .carousel-box {
    @extend table;
    font-size:1rem;
    line-height:1.875rem;
    padding:$spacing;
    @media all and (min-width:$md) {
      width: 94%;
      height: 100%;
      margin: 0 auto;
    }
  }
  .spot-text {
    @media all and(min-width:$sm) {
      flex:1 1 calc(50% - 1.25rem);
      width:calc(50% - 1.25rem);
    }
    // height:100%;
    margin-left:1.25rem;
  }
  &.no-image {
    .spot-text {
      flex:1 1 100%;
      width:100%;
      margin-left:0;
    }
  }
  .spot-image {
    flex-basis:calc(50% - 1.25rem);
    width:calc(50% - 1.25rem);
    margin-right:1.25rem;
    @media all and(max-width:$md) {
      display:none;
    }
  }
  .spot-content {
    width:100%; // make IE11 happy
    :first-child {
      margin-top:0;
      margin-bottom:0;
    }
  }
}
.carousel-title {
  font-family:$sans;
  color:$darkblue;
  font-size:1.625rem;
  font-weight: 300;
  margin-top:0;
  margin-bottom:1rem;
  @media all and(max-width:$sm) {
    text-align:center;
  }
}

@media all and (max-width:$md) {
  .carousel-slide .carousel-box {
    box-shadow: none;
    background-color:transparent;
  }
}

@media all and (min-width:$md) {
  .carousel-slide {
    box-shadow: none;
    background-color:transparent;
  }
}