#case-related-info {
  @media all and(min-width:$sm) {
    .row:not(:first-of-type) {
      margin-top:0;
      &::before {
        content:"";
        display:block;
        width:100%;
        height:1px;
        background-image:$dot-svg;
        background-position:0 0;
        background-repeat:repeat-x;
        background-size:auto 1px;
        margin-top:-$spacing;
      }
    }
  }
  h3 {
    font-size:1.625rem;
    font-family:$sans;
    color:$darkblue;
    margin:0 0 2.5rem;
    font-weight:normal;
  }
  .doc-tags {
    color:$darkgrey;
    margin-top:1.5rem;
  }
}
