.custom-checkbox {
  display:block;
  position:relative;
  font-family:$sans;
  color:$darkblue;
  input[type=checkbox] {
    @extend .sr-only; // hide the default radio element
  }
  input[type=checkbox] + label::before {
    content:"";
    color:$darkblue;
    display:inline-block;
    height:1em;
    width:1em;
    background-color:$skyblue;
    border:1px solid $darkblue;
    vertical-align:text-top;
    margin:.125em .5em -.125em 0;
    //border-radius:.15em;
  }
  input[type=checkbox]:checked + label::before {
    background-image:url('data:image/svg+xml;base64,' + base64Encode('<svg xmlns="http://www.w3.org/2000/svg" width="64.783" height="46.889" viewBox="0 0 64.783 46.889"><path fill="' + $darkblue + '" d="M.002 21.217l7.776-7.78L25.674 31.33 57.008 0l7.775 7.778-39.11 39.11L.004 21.22zM0 21.215l.002.002L0 21.215z"/></svg>'));
    background-repeat:no-repeat;
    background-size:80% auto;
    background-position:center;
  }
  input[type=checkbox]:focus + label::before,
  input[type=checkbox]:focus:checked + label::before,
  input[type=checkbox]:active + label::before,
  input[type=checkbox]:active:checked + label::before {
    box-shadow: $focusshadow;
  }
}
