.circular-button-wrapper {
  display:flex;
  line-height:1.875;
  @at-root {
    a#{&} {
      border-bottom:none;
    }
  }
  flex-direction:column;
  align-items:center;
  margin:0 auto;
}
.circular-button {
  display:block;
  background-color:#e3e3e3;
  box-shadow:0 .1875rem .5625rem rgba(0,0,0,.05); // 0 3px 9px shadow, 5% black
  width:3.5rem;
  height:3.5rem;
  line-height:3.5rem;
  text-align:center;
  border-radius:50%;
  padding:0;
  font-size:1.5rem;
  position:relative;
  color:$darkblue;
  transition:background-color $anim-short ease-in;
  cursor:pointer;
  &::before {
    content:"";
    display:block;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
  }
  & + .label {
    font-family:$sans;
    color:$darkblue;
    font-size:.875rem;
    text-shadow:0 .125rem .5rem rgba(0,0,0,.18); // 0 2px 8px, 18% black
    padding-top:.25rem;
    display:block;
  }
}
.pdf-link {
  .circular-button {
    &::before {
      @extend .badge-document;
      background-color:transparent;
      transition:background-color $anim-short ease-in, color $anim-short ease-in;
    }
  }
  .doctype-gridside & {
    display:inline-flex;
    margin-top:2.5rem + 3.75rem; // plus 3.75rem because sticky toggle wrapper has negative bottom margin which we need for the sticky calculation
    @media all and(max-width:$sm) {
      position:absolute;
      margin-top:0;
      padding-top: 3.125%;
      top: -3.125vw;
      right:calc(3.5rem + 3.125vw * 2);
      transform:translate(0,-50%);
      z-index:11;
    }
  }
}
.external-link {
  .circular-button {
    &::before {
      @extend .badge-document;
      background-image:$external-svg;
      background-color:transparent;
      transition:background-color $anim-short ease-in, color $anim-short ease-in;
    }
  }
}
.html-link {
  .circular-button {
    &::before {
      @extend .badge-document;
      background-image:$html-svg;
      background-color:transparent;
      transition:background-color $anim-short ease-in, color $anim-short ease-in;
    }
  }
}
.circular-button-wrapper:hover,
.circular-button-wrapper:focus {
  outline:none;
  &.pdf-link .circular-button::before {
    background-color:$darkblue;
    background-image:$doc-svg-white;
    color:$white;
    @media print {
      background-color:#666;
    }
  }
  &.external-link .circular-button::before {
    background-color:$darkblue;
    background-image:$external-svg-white;
    color:$white;
    @media print {
      background-color:#666;
    }
  }
  &.html-link .circular-button::before {
    background-color:$darkblue;
    background-image:$html-svg-white;
    color:$white;
    @media print {
      background-color:#666;
    }
  }
}
