.content-type-header {
  text-align:center;
  font-family:$sans;
  color:$darkblue;
  font-size:1.25rem;
  margin-bottom:3.875rem;
  &:not(.no-icon)::before {
    @extend .badge-document;
    width:4.375rem;
    height:4.375rem;
    display:block;
    margin-bottom:1.875rem;
    background-size:35%;
  }
  h2 {
    margin: 0;
  }
}
