.doctype-form {
  fieldset {
    margin-top:2rem;
  }
  fieldset,
  #content #formsubmitteddata .fieldsetbox {
    border:1px solid lighten($darkgrey, 60);
    padding: 0.35em 0.75em 0.625em;
  }
  legend,
  .fieldtitle.fieldset {
    font-size:1.625rem;
    font-family:$sans;
    color:$darkblue;
  }
  .is-paginated,
  #content #formsubmitteddata.is-paginated {
    .numbered-heading + fieldset,
    .valuebox.page + .fieldtitle.fieldset + .fieldsetbox {
      border:none;
      padding:0;
      margin:0 0 1.5rem;
    }
    .numbered-heading + fieldset > legend,
    .valuebox.page + .fieldtitle.fieldset {
      @extend .sr-only;
    }
  }
  .form-page {
    margin-top:0;
    &.sr-only {
      display: none;
    }
  }
  .formfield {
    margin-bottom:1.5rem;
    &:last-child {
      margin-bottom:0;
    }
    &.has-error {
      background-color:$mistyrose;
      padding:.9375 * $grid-gutter-width;
      margin:0 -.9375 * $grid-gutter-width 1.5rem;
      @media all and(min-width:$grid-max-width-effective) {
        padding:1.5rem;
        margin:0 -1.5rem 1.5rem;
      }
    }
  }
  .label-content {
    display:flex;
    .mandatory {
      margin-left:.5em;
    }
  }
  .inputfield {
    input[type=text],
    textarea {
      display:block;
      max-width:100%;
    }
    &.upload {
      @extend table;
      padding:2rem;
      display:flex;
      flex-wrap:wrap;
      justify-content:space-between;
      align-items:center;
      position:relative; // bring box-shadow to front
      > .label-content {
        font-size:.875rem;
        text-transform:uppercase;
        color:$midblue;
        font-family:$sans;
        letter-spacing:.0625rem;
        align-self:center;
      }
    }
  }
  .custom-file-fields {
    label,
    .a-button {
      display:inline-block;
    }
    label.custom-file {
      &:not(.empty){
        @extend .sr-only; // hide fields that already have a value
      }
      &.empty ~ label.custom-file.empty { // only show the first .empty
        @extend .sr-only;
        display: none;
      }
      input[type=file] {
        @extend .sr-only;
      }
      span {
        @extend .a-button;
      }
      input[type=file]:focus + span {
        box-shadow:$focusshadow;
      }
    }
    label:not(.custom-file) {
      span {
        @extend .sr-only; // hide redundant "vælg fil" labels when we don't have the .custom-file class (i.e. when no JS is available)
      }
      input[type=file] {
        margin-top:1rem;
        font-family:$sans;
      }
    }
  }
  .custom-file-list {
    flex:0 0 calc(100% + 4rem); // account for negative margin
    width:calc(100% + 4rem);
    margin:2rem -2rem -2rem;
    padding:0;
    list-style:none;
    li {
      background-color:$bluewhite;
      display:flex;
      align-items:flex-start;
      padding:2rem;
      background-image:$dot-svg;
      background-position:0 0;
      background-repeat:repeat-x;
      background-size:auto 1px;
      &:first-child {
        border-top:1px solid $darkblue;
        background-image:none;
      }
      .filename {
        font-family:$sans;
        flex: 1 1 80%;
        width:80%;
        padding-right:2rem;
      }
      .filesize {
        flex: 1 1 10%;
        padding-right:2rem;
      }
      button {
        font-size:1.25rem;
        color:$darkblue;
        display:inline-block;
        cursor:pointer;
        margin:-2rem;
        padding:2rem;
        &:focus {
          span {
            border-bottom:1px solid $darkblue;
          }
        }
      }
    }
  }
  .has-float-label {
    display:flex;
    align-items:center; // center vertically
    > * {
      flex:0 1 auto; // set explicitly so IE11 can keep up
    }
    input {
      line-height:1.875em; // corresponds to base line height on body element
      height:1.875em; // some browsers have an !important line-height rule, making necessary an explicitly set height instead
      box-sizing:content-box;
    }
    input,
    select,
    textarea {
      &:placeholder-shown:not(:focus) + * {
        opacity: 1;
        color: $lightkhaki;
      }
    }
  }
  .pager {
    display:flex;
    flex-wrap:wrap;
    background-image:$dot-svg;
    background-repeat:repeat-x;
    background-position:0 0;
    background-size:auto 1px;
    padding-top:2rem;
    margin-top:0;
    > * {
      flex:0 1 auto; // set explicitly so IE11 can keep up
    }
    button {
      cursor:pointer;
    }
    .page-numbers {
      button:focus {
        border-bottom:1px solid $darkblue;
      }
    }
    .hidden {
      visibility:hidden; // we still want the button to take up space in the layout
    }
    .disabled {
      pointer-events:none;
      color:$darkgrey;
      cursor:default;
      &:hover {
        border-bottom-color:transparent;
      }
    }
  }
  .obviusform {
    div.error > .row-center {
      margin-top:$spacing - 1rem;
    }
  }
  #submit_div {
    > #submit_button {
      display:block;
      margin:0 auto;
    }
    $base-margin: .9375 * $grid-gutter-width / ((100% - .9375 * $grid-gutter-width * 2) / 100%); // need to correct because container is not 100% wide
    margin:0 #{-$base-margin};
    padding-left:$base-margin;
    padding-right:$base-margin;
    @media all and(min-width:$sm) {
      $margin: ((100% - ($grid-col-width * 8 + $grid-gutter-width * 7))/2 + $base-margin)/(($grid-col-width * 8 + $grid-gutter-width * 7)/100%); // this magic number corresponds to the negative margin required to counteract the max width of a .col-8 column, which #submit_div resides within
      margin:0 #{-$margin};
      padding-left:$margin;
      padding-right:$margin;
    }
    @media all and(min-width:$grid-max-width-effective) {
      $margin: ((100% - ($grid-col-width * 8 + $grid-gutter-width * 7))/2)/(($grid-col-width * 8 + $grid-gutter-width * 7)/100%);
      margin:0 calc((100vw - #{$grid-max-width}) / -2 - #{$margin}); // this magic number corresponds to the negative margin required to counteract the max width of a .col-8 column, which #submit_div resides within
      padding-left:calc((100vw - #{$grid-max-width}) / 2 + #{$margin}); // this magic number corresponds to the negative margin required to counteract the max width of a .col-8 column, which #submit_div resides within
      padding-right:calc((100vw - #{$grid-max-width}) / 2 + #{$margin}); // this magic number corresponds to the negative margin required to counteract the max width of a .col-8 column, which #submit_div resides within
    }
  }
}
#formsubmitteddata {
  counter-reset:receipt-pages;
  .fieldtitle:not(.page):not(.fieldset) {
    color:mix($darkgrey,$white,40%); // match opacity: .4 on float labels in actual form
    margin-bottom:0;
  }
  .fieldtitle.page {
    @extend h1;
    @extend .numbered-heading;
    margin-top:2.5rem;
    counter-increment:receipt-pages;
    span[id^=page]::before {
      content:counter(receipt-pages);
    }
  }
}
