.doc-tags {
  @extend .clearfix;
  list-style:none;
  padding:0;
  margin:0;
  li {
    float:left;
    line-height:1.375rem;
    a {
      display:inline-block;
      font-size:.75rem;
      height:1.375rem;
      padding:0 1rem;
      border:1px solid $lightkhaki;
      margin-right:.625rem;
      margin-top:.5rem;
      font-family:$sans;
      transition:border-color $anim-short ease-in;
      &:hover,
      &:focus {
        border-bottom-color:$darkblue;
      }
    }
  }
  li.sag-doc-tag {
    margin-right: 0.5rem;
  }
}
