%line {
  position:absolute;
  content:"";
  height:1px;
  background-image:$dot-svg;
  background-repeat:repeat-x;
  background-size:auto 1px;
  background-position:0 0;
}

.doc-preview {
  @extend .col-12;
  display:flex;
  flex-direction:column;
  padding:2.5rem 0;
  position:relative;
  @media all and(max-width:$sm) {
    margin-bottom:0;
  }
  &::after {
    @extend %line;
    bottom:0;
    left:0;
    right:0;
  }
  a {
    display:block;
    transition:none;
    border-bottom:none;
    margin-bottom:auto;
  }
  .doc-metadata,
  .doc-title {
    color:$darkblue;
    font-family:$sans;
  }
  .doc-metadata {
    &, * {
      font-size:.875rem;
      margin:0;
    }
    small {
      margin-bottom:.25rem;
    }
  }
  .doc-title {
    @extend .link-inverse;
    @extend .link-noborder;
    font-size:1.25rem;
    padding:1.25rem 0;
    margin:0;
    position:relative;
    font-weight:normal;
    &::after {
      content:"";
      bottom:0;
      left:0;
      display:block;
      position:absolute;
      width:5rem;
      height:1px;
      background-color:$darkblue;
      @media print {
        background-color:#666;
      }
    }
  }
  .doc-type {
    margin-right:.25rem;
  }
  .doc-fob {
    padding:.25rem .5rem;
    background-color:$skyblue;
    white-space:nowrap;
  }
  .doc-excerpt {
    color:$darkgrey;
    font-weight:300;
    margin:1.25rem 0 0;
    > p {
      margin:0;
    }
  }
  .doc-tags {
    margin-top:1.875rem;
    li {
      margin-top:.625rem;
    }
  }
  &.highlight {
    margin:2.5rem 0;
    background-color:$skyblue;
    &::after {
      left:$grid-gutter-width;
      right:$grid-gutter-width;
      bottom:-2.5rem;
    }
    @media all and(max-width:$sm){
      padding-left:$grid-gutter-width;
      padding-right:$grid-gutter-width;
      margin-left:-$grid-gutter-width;
      margin-right:-$grid-gutter-width;
      box-sizing:content-box;
    }
  }
  &:last-child {
    margin-bottom:0;
    // &::after {
    //   content:none;
    // }
  }
}
.list .doc-preview {
  @media all and(min-width:$sm) {
    //padding:2.5rem 0;
    &.highlight {
      padding:2.5rem;
      &::after {
        left:0;
        right:0;
      }
    }
    a {
      //width:67%;
      max-width:60ch;
    }
    .doc-excerpt {
      font-size:1.25rem;
      line-height:2rem;
      margin:1.75rem 0;
    }
  }
}
.grid .doc-preview {
  @extend .col-4;
  &:not(.highlight) {
    @extend .with-margin;
  }
  &:nth-child(3n+1)::after {
    @extend %line;
  }
  @media all and(max-width:$sm) {
    margin-bottom:0;
    &:nth-last-child(1)::after { // disable dotted line on last item
      content:none;
    }
  }
  @media all and(min-width:$sm) {
    padding-top:1.25rem;
    padding-bottom:1.25rem;
    margin-top:2.5rem;
    margin-bottom:2.5rem;
    .doc-excerpt {
      max-height:5.625rem; // 3 lines of text;
      position:relative;
      overflow:hidden;
      &::after {
        content:"";
        display:block;
        position:absolute;
        top:0;
        left:0;
        right:0;
        height:5.625rem; // same height as container, so the gradient part becomes invisible if we have less than 3 lines of text
        background:linear-gradient(180deg, transparentize($white, 1) 3.3125rem, $white 5.1875rem); // begins right after descenders of line 2, ends right after descenders of line 3
        pointer-events:none;
      }
    }
    &.highlight {
      padding-left:$grid-gutter-width/2;
      padding-right:$grid-gutter-width/2;
      margin-left:0;
      margin-right:0;
      box-sizing:content-box;
      &:nth-child(3n) {
        margin-right:#{-$grid-gutter-width/2};
      }
      &:nth-child(3n+1) {
        margin-left:#{-$grid-gutter-width/2};
      }
      .doc-excerpt::after {
        background:linear-gradient(180deg, transparentize($skyblue, 1) 3.3125rem, $skyblue 5.1875rem); // begins right after descenders of line 2, ends right after descenders of line 3
      }
    }
    &::after {
      content:none;
    }
    &:nth-child(3n+1)::after {
      bottom:-2.5rem;
      content:"";
      width:100vw;
      max-width:$grid-max-width;
    }
    &:nth-last-child(-n+3)::after { // disable dotted line on last row
      content:none;
    }
  }
  @media all and(max-width:$grid-max-width-effective) {
    &:nth-child(3n+1)::after {
      width:calc(100vw - 2 * (0.9375vw * #{$grid-gutter-width / 1%})); // account for the padding that rows get on devices < 1280px. Divide by 1% to get unit-less value
    }
  }
}
