.doctype-find {
  #above-content {
    background-color:$bluewhite;
  }
  #content {
    margin-top:0;
  }
}
%fade {
  pointer-events:none;
  content:"";
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  width:$grid-gutter-width/((100% + 2 * $grid-gutter-width) / 100%); // account for the fact that the containers are wider than 100% due to negative margin
  background:linear-gradient(-90deg, $bluewhite, transparentize($bluewhite, 1));
}
form[name=fullsearch]{
  width:100%;
  .row {
    margin-top:0;
    padding-top:0;
    padding-bottom:2rem;
  }
  select[disabled]{
    display:none;
  }
  fieldset {
    border:none;
    margin:0;
    padding:0;
    min-width:auto; // override browser-defined min-width
  }
  legend {
    @extend .sr-only;
  }
  label:not([for=query]) {
    position:relative;
  }
  
}
#search-query {
  @extend .clearfix;
  #search-help {
    font-family:$sans;
    float:right;
    cursor:pointer;
    font-size:.875rem;
    button {
      @extend .link-inverse;
    }
    a {
      margin-left:1em;
    }
  }
  button:not(#reset-all),
  #query {
    float:left;
    color:$darkblue;
    border-width:0 0 2px;
    border-color:$darkblue;
    background-color:transparent;
    border-style:solid;
    outline:none;
    height:4.3125rem;
    line-height:4.3125rem;
    padding:0;
    font-size:1.875rem;
    &:focus {
      background-color:$white;
    }
  }
  button:not(#reset-all) {
    width:3rem;
    transition:none;
    background-color:transparent;
    font-size:1.375rem;
    cursor:pointer;
    &:hover {
      color: $darkblue;
    }
  }
  #query {
    font-family:$serif;
    width:calc(100% - 6rem);
    &::ms-clear { // remove Microsoft's own clear field thingy
      width:0;
      height:0;
      display:none;
    }
  }
}
#search-doctype {
  font-size:2.5rem;
  line-height:3.125rem;
  height:0;
  overflow:hidden;
  margin:0;
  transition:height $anim-short ease-in;
  &.visible {
    height:auto;
  }
}
#search-facets {
  margin-top:1.25rem;
  label[for=aarstal],
  label[for=myndighed],
  label[for=inspektionstype],
  label[for=inspektionsomraade],
  label[for=forvretemne],
  label[for=sagsomraade] {
    @extend .sr-only;
  }
}
#search-contenttype {
  font-family:$sans;
  font-size:.875rem;
  line-height:2rem;
  
  margin-bottom:.5rem;
  position:relative;
  overflow:hidden;
  margin:0;
  .custom-radio {
    display:inline-block;
    margin-right:2.25rem;
    &:last-child {
      margin-right:0;
    }
    label::before {
      margin-right:.25rem;
    }
  }
}
#search-contextual-facets {
  text-align:right;
  position:relative;
  overflow:hidden;
  margin:1.5rem 0 .25rem;
  .custom-select {
    display:none;
    margin:0 0 1.25rem 1rem;
    &:first-of-type {
      margin-left: 0;
    }
    select {
      width:auto; // need this to make the wrapper horizontally scrollable
    }
  }
}
#search-filter-submit input {
  float: right;
}
#topic-browser {
  display:none;
  padding-bottom:0;
}
#wrapper-search-topic {
  overflow:hidden;
  &.overflow-visible {
    overflow:visible;
  }
}
#search-topic-navbar {
  position:relative;
  &::after {
    content:"";
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:2px;
    background-color:$darkblue;
    @media print {
      background-color:#666;
    }
  }
}
#search-topic-toggle {
  position:relative;
  display:inline-block;
  text-align:left;
  padding:1.25rem 0;
  color:$darkblue;
  font-family:$sans;
  font-size:1.25rem;
  background:$white;
  transition:padding $anim-short ease-in;
  cursor:pointer;
  .icon-arrow-down-circle {
    display:inline-block;
    margin-left:1px; // otherwise the icon is cut off for some reason
    margin-right:1.25rem;
    transition:transform $anim-short ease-in;
  }
  &:hover,
  &:active,
  &:focus {
    padding: 1.25rem;
    background-color: $skyblue;
  }
}
#topics-breadcrumb {
  @extend .clearfix;
  display:inline-block;
  margin:0 0 .9rem 2rem;
  background-color:$mistyrose;
  color:lighten($darkgrey, 20%);
  font-family:$sans;
  font-size:.875rem;
  line-height:2.1375rem;
  padding:0 0 0 .75rem;
  vertical-align:bottom;
  transition:color $anim-short ease-in;
  &, ul {
    list-style:none;
  }
  ul {
    padding-left:0;
    margin:0;
    display:inline;
    vertical-align:bottom;
  }
  li {
    vertical-align:bottom;
    display:inline;
    padding:0;
    button {
      margin-right:.63rem;
    }
    ul li {
      vertical-align:bottom;
      &::before {
        content:"";
        width:1em;
        height:calc(1em + .5rem);
        padding-bottom:.5rem;
        margin:.5rem .5rem 0 0;
        display:inline-block;
        transform:rotate(-90deg);
        background-image:caret-svg(3, lighten($darkgrey, 20%));
        background-repeat:no-repeat;
        background-position:50% 20%;
        background-size:75% auto;
        vertical-align:middle;
        transform-origin:.5em .5em;
        transition:background-image $anim-short ease-in;
      }
    }
  }
}
#search-topic-navbar.open {
  #search-topic-toggle .icon-arrow-down-circle {
    transform:rotate(180deg);
  }
  #topics-breadcrumb {
    color:$darkblue;
    li {
      ul li {
        &::before {
          background-image:caret-svg(3, $darkblue);
        }
      }
    }
  }
}
#search-topic {
  position:relative;
  display: none;
  #wrapper-search-topic.transition & {
    display: block;
    height: auto;
    transition-property:transform;
    transition-timing-function:ease-in;
    transition-duration:$anim-short;
    transform: scaleY(0);
    transform-origin: top;
  }
  #wrapper-search-topic.open & {
    transform: scaleY(1);
  }
  &::after { // dummy element to add "manual" padding. if we add regular padding, the first line of content within the box will become visible due to the vertical padding.
    content:"";
    width:100%;
    flex:0 0 100%;
    height:1.25rem;
    display:block;
  }
}
#search-topictype {
  display:none;
  font-size: 1.625rem;
  line-height: 2.5rem;
}
#search-results-count {
  font-family:$sans;
  color:$darkblue;
  margin-bottom:0;
  float:left;
  line-height:1rem;
}
#topic-list,
#topic-list ul {
  list-style:none;
  padding-left:0;
}
#topic-list {
  margin:0;
  display:flex;
  justify-content: flex-start;
  flex-wrap:wrap;
  font-family:$sans;
  color:$darkblue;

  > li > ul ul {
    display:none;
  }
  label {
    cursor:pointer;
    transition:border-color $anim-short ease-in;
    border-bottom: solid 1px transparent;
    &:focus,
    &:hover {
      border-bottom-color: $linkcolor;
    }
    input[type="radio"] {
      height:0;
      width:0;
      visibility:hidden;
    }
  }
  li.selected > ul {
    display:block;
  }
  li.selected,
  li.unselected {
    > label,
    > .letter {
      display:none;
    }
  }
  li.unselected {
    width:0;
    flex-basis:0;
  }
  .col-4 {
    transition:none;
    &:not(.selected):not(.unselected) {
      padding:2.5rem 0;
      border-bottom:2px solid $darkblue;
      word-break:break-word;
      @extend .with-margin;
    }
    .letter {
      font-size:6.25rem;
      line-height:1em;
      margin: 0;
      font-weight: 300;
    }
  }
}
#search-topic-actions {
  text-align:right;
  position:fixed;
  right:0;
  bottom:0;
  left:0;
  background-color:$white;
  padding-top:.75rem;
  padding-bottom:2rem;
  display:none;
  z-index:40;
  box-shadow:0 -.75rem 5rem rgba(0,0,0,.15);
  &.open {
    display:block;
  }
  button {
    margin:1.25rem 0 0 1.25rem;
    &:first-child {
      margin-left:0;
    }
  }
}
form[name=fullsearch].submitting {
  #search-query,
  #search-facets,
  #topic-browser #search-topic-navbar,
  #topic-browser #search-topic > *:not(#search-topic-actions),
  #topic-browser #search-topic-reset,
  #topic-browser #search-topic-use { // handle the reset/use buttons separately, because if we just set the entire container to a lower opacity, the content behind will show through
    opacity:.4;
  }
}
#fullsearch-view-mode {
  text-align:right;
  display:block;
  padding-top:2.5rem;
  position:relative;
  padding-bottom:2.5rem;
  line-height:.666667rem; // corresponding to button height
  &::after {
    content:"";
    background-image:$dot-svg;
    background-size:auto 1px;
    background-repeat:repeat-x;
    display:block;
    margin-top:2.5rem;
    width:100vw;
    max-width:$grid-max-width;
    height:1px;
    @media all and(max-width:$grid-max-width-effective) {
      width:calc(100vw - 2 * (0.9375vw * #{$grid-gutter-width / 1%})); // account for the padding that rows get on devices < 1280px. Divide by 1% to get unit-less value
    }
  }
  @media all and(max-width:$sm) {
    display:none;
  }
}
#fullsearch-results {
  margin-top:0;
  justify-content:flex-start;
  &.no-results {
    margin-top:3.75rem;
    font-family:$sans;
  }
  .doc-preview {
    transition:none;
  }
}
