.subscriptions {
  &::before {
    content:"";
    width:100px;
    height:5px;
    background-color:$darkblue;
    display:block;
    margin-bottom:1.25rem;
    @media print {
      background-color:#666;
    }
  }
  fieldset {
    padding:0;
    margin:0;
  }
  input[type=submit] {
    display:inline-block;
    margin-top:3rem;
  }
  h2 {
    margin-top:3rem;
  }
}
