.example {
  margin:2.5rem 0;
  background-image:$dot-svg;
  background-repeat:repeat-x;
  background-size:auto 1px;
  background-position:0 0;
  overflow:hidden; //prevent margin collapsing between .example and child h3
  h3 {
    font-family:$sans;
    color:$darkblue;
    cursor:pointer;
    font-weight:normal;
    font-size:1.25rem;
    line-height:1.75rem;
    padding-left:2rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin-bottom: 0;
    margin-top: 0;
    position:relative;
    transition:opacity $anim-short ease-in;
    border-bottom: solid $mistyrose .75rem;
    &::before {
      content:"";
      width:1rem;
      height:1rem;
      position:absolute;
      left:0;
      top:50%;
      transform:translate(0,-50%);
      background-image: caret-svg(2, $darkblue);
      display:block;
      background-repeat:no-repeat;
      background-size:100%;
      background-position:50%;
      opacity:.6;
      transition: transform $anim-short ease-in;
    }
    span {
      display:block;
    }
  }
  .example-content {
    display: none;
    background-color: $mistyrose;
    padding:0 2rem;
    &::before,
    &::after { // dummy elements to add "manual" padding. if we add regular padding, the first line of content within the box will become visible due to the vertical padding.
      content:"";
      width:100%;
      height:2rem;
      display:block;
    }
  }
}
.example.transition .example-content {
  display: block;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 150ms ease-in;
  height: auto;
}
.example.open {
  h3 {
    border-bottom: none;
    &::before {
      transform:translate(0,-50%) rotate(180deg);
    }
  }
  .example-content {
    //height:auto;
    transform: scaleY(1);
  }
}
