.facts {
  overflow:hidden; //prevent margin collapsing between .example and child h3
  .spot-title {
    margin-bottom:0;
  }
  .facts-content {
    display:none;
    margin-top:$spacing;
    &::before { // dummy element to add "manual" padding. if we add regular padding, the first line of content within the box will become visible due to the vertical padding.
      content:"";
      width:100%;
      height:$spacing;
      display:block;
    }
  }
  .accordion-toggle {
    font-size:0;
    width:2.5rem;
    height:2.5rem;
    border-radius:50%;
    position:absolute;
    left:50%;
    border:1px solid transparentize($darkblue, .94);
    box-shadow:0 0 .625rem rgba(0,0,0,.05);
    transform:translate(-50%,100%);
    background-color:$skyblue;
    background-image:caret-svg(2, $darkblue);
    display:block;
    background-repeat:no-repeat;
    background-size:40%; // corresponding to 1rem because total width is 2.5rem
    background-position:50%;
    transition:transform $anim-short ease-in, background-color $anim-short ease-in, background-image $anim-short ease-in;
    cursor:pointer;
    &:hover,
    &:focus {
      opacity:1;
      background-color:$midblue;
      background-image:url('data:image/svg+xml;base64,' + base64Encode('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="9" viewBox="0 0 16 9"><path fill="none" stroke="' + $white + '" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M15 1L8 8 1 1"/></svg>'));
    }
  }
}
.facts.open {
  .facts-content {
    display: block;
  }
  .accordion-toggle {
    transform:translate(-50%,100%) rotate(180deg);
  }
}
