#header-controls-toggle {
  font-family:$sans;
  font-size:.875rem;
  display:inline-block;
  position:relative;
  z-index:16;
  color:$darkblue;
  cursor:pointer;
  border: solid 1px transparent;
  border-radius: .25rem;
  padding: .5rem;
  margin-right: -.5rem;
  @media all and(min-width:$sm){
    display:none;
  }
  &::after {
    margin-bottom:-.5rem;
    display:inline-block;
    vertical-align:sub;
    font-size:1rem;
    padding-left:.25rem;
    content:"\e601";
    font-family:"simple-line-icons";
    background-image:none;
  }
  &:hover,
  &:active,
  &:focus {
    color: $linkcolor;
    border-color: $linkcolor;
  }
}

#header-controls {
  background-color: $bluewhite;
  list-style:none;
  font-family:$sans;
  margin:0;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow: auto;
  padding: 3.75rem 3.75rem 2.75rem;

  .open & {
    display: flex;
    flex-flow: column nowrap;
  }

  #search-toggle,
  #nav-top-toggle {
    display: none;
  }

}


@media all and(min-width:$sm){

  #header-controls {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    position: static;
    width: auto;
    padding: 0;
    background-color: transparent;

    & > li:nth-child(1) {
      order: 3;
    }

    & > li:nth-child(2) {
      order: 2;
    }

    & > li:nth-child(3) {
      order: 1;
    }

    #search-toggle,
    #nav-top-toggle {
      color:$darkblue;
      cursor: pointer;
      user-select:none;
      display: block;
    }

    #nav-top-toggle {
      border: solid 1px transparent;
      border-right-color: transparentize($darkblue, .85);
      padding: .25rem 1rem;
      vertical-align:middle;
      line-height:inherit;
      height:inherit;
      
      &:hover,
      &:active,
      &:focus {
        color: $linkcolor;
        border-color: $linkcolor;
        border-radius: .25rem;
      }
    }

    #nav-top-toggle {
      font-size:.875rem;
      &::after {
        margin-bottom:-.5rem;
        display:inline-block;
        vertical-align:sub;
        font-size:1rem;
        padding-left:.5rem;
        content:"\e601";
        font-family:"simple-line-icons";
      }
    }
    
    #search-toggle {
      @extend .dropdown-toggle !optional;
      background:$skyblue;
      width:2.5rem;
      height:2.5rem;
      border-radius:50%;
      text-align:center;
      line-height:1rem;
      padding:.75rem 0;
      margin-left: 1rem;
      transition: background-color $anim-short ease-in;
      &:hover,
      &:active,
      &:focus {
        background-color: $darkblue;
        color: $white;
      }
    }
  }
}
