#search {
  @extend .row;
  position:relative;
  @media all and(min-width:$sm) {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    top: 4rem;
    background-color: $white;
    overflow:hidden;
    margin:0;
    display: none;
    transition: height 150ms ease-in;
    form {
      transition: transform 150ms ease-in;
      transform: scaleY(0);
      transform-origin: top;
    }
    &.transition {
      z-index: 11;
      display: block;
      height: 0;
    }
    &.open {
      height: auto;
      form {
        transform: scaleY(1);
      }
    }
  }
  @media all and(max-width:$sm) {
    padding: 0;
    margin: 0;
    background-color:$bluewhite;
  }
  &.overflow-visible {
    overflow:visible;
  }
  form {
    margin:0;
  }
  form > .form-controls {
    margin:0;
    position:relative;
    z-index:13;
    transition-property:height;
    transition-duration:$anim-short;
    transition-timing-function:ease-in;
    background-color:$bluewhite;
    @media all and(min-width:$sm) {
      height:0;
      background-color:$white;
      &::after {
        content:"";
        width:100%;
        flex:0 0 100%;
        height:.5rem;
        display:block;
      }
    }
    &::before { // dummy elements to add "manual" padding. if we add regular padding, the first line of content within the box will become visible due to the vertical padding.
      content:"";
      width:100%;
      flex:0 0 100%;
      height:1.25rem;
      display:block;
    }
  }

  &.open form > .form-controls {
    height:auto;
  }
  > form > .form-controls > button,
  #header-search-input {
    color:$darkblue;
    border-width:0 0 2px;
    border-color:$darkblue;
    border-style:solid;
    outline:none;
    height:4.3125rem;
    line-height:4.3125rem;
    padding:0;
    display:inline-block;
    vertical-align:middle;
    &:focus {
      background-color:$skyblue;
    }
  }
  > form > .form-controls > button {
    width:3rem;
    @media all and(min-width:$sm) {
      width:6%;
    }
    transition:none;
    background-color:transparent;
    font-size:4vw;
    @media all and(min-width:$sm) {
      font-size:1.375rem;
    }
    cursor:pointer;
    &:hover {
      color: $darkblue;
    }
  }
}
#header-search-input {
  font-family:$serif;
  width:calc(100% - 6rem);
  @media all and(min-width:$sm) {
    width:88%;
  }
  font-size:1.875rem;
  @media all and(max-width:$sm) {
    background-color:transparent;
  }
  &::ms-clear { // remove Microsoft's own clear field thingy
    width:0;
    height:0;
    display:none;
  }
}
#search-typeahead {
  position:absolute;
  z-index:12;
  background-color: $white;
  color:$darkblue;
  padding:0 $spacing;
  top: 100%;
  width:100%;
  box-shadow:$boxshadow;
  overflow:hidden;
  display: none;
  height:0;
  @media all and(max-width:$grid-max-width-effective){
    padding-left:5%; // corresponding to $spacing = 3.75rem at viewport 1280px
    padding-right:5%;
  }
  @media all and(min-width:$sm) {
    margin-top:-.5rem; // counteract ::after element on wrapper
  }
  &::before,
  &::after { // dummy elements to add "manual" padding. if we add regular padding, the first line of content within the box will become visible due to the vertical padding.
    content:"";
    width:100%;
    flex:0 0 100%;
    height:1.25rem;
    display:block;
  }
  &::after {
    height:$spacing;
  }
  &.transition {
    transition: transform 150ms ease-in;
    display: block;
    transform: scaleY(0);
    transform-origin: top;
  }
  &.open {
    transform: scaleY(1);
  }
  &.overflow-visible {
    overflow:visible;
    height:auto;
  }
}
#search-num-results {
  font-family:$sans;
  font-size:.875rem;
  margin-bottom:1.25rem;
  display:inline-block;
}
#search-results {
  max-height:50vh;
  overflow:auto;
  margin-bottom:$spacing;
  height:0;
  transition-property:height;
  transition-timing-function:ease-in;
  transition-duration:$anim-short;
  position:relative;
  #search-typeahead.open & {
    height:auto;
  }
}
.search-results-section {
  background-image:$dot-svg;
  background-repeat:repeat-x;
  background-size:auto 1px;
  background-position:0 2.5rem;
  padding:5rem 0 0;
  &:first-of-type {
    padding:0
  }
  &:first-of-type {
    background-image:none;
  }
  > h4 {
    font-size:1.625rem;
    font-weight:400;
    line-height:2.5rem;
    margin:0;
    &::before {
      content:"";
      display:block;
      width:100px;
      height:5px;
      background-color:$darkblue;
      margin-bottom:.75rem;
      @media print {
        background-color:#666;
      }
    }
  }
}
.search-result {
  padding:2.5rem 0 0;
  @media all and(min-width:$sm) {
    margin:0 40% 0 0; // make lines not too long
  }
  position:relative;
  font-family:$sans;
  font-size:1.25rem;
  line-height:1.75rem;
  small {
    font-size:.875rem;
    line-height:1rem;
    display:block;
    padding-bottom:.625rem;
  }
  &::after {
    content:"";
    position:absolute;
    left:0;
    top:1.25rem;
    width:5rem;
    height:1px;
    background-color:$darkblue;
    @media print {
      background-color:#666;
    }
  }
  &:first-of-type::after {
    content:none;
  }
  a {
    display:block;
    border-bottom:none;
    transition:color $anim-short ease-in;
    &:hover {
      color: $darkblue;
    }
  }
}
#search-button-show-all {
  width:auto;
  @media all and(min-width:$sm) {
    width:25%; // corresponding to 270 px at viewport >= 1200px
  }
  display:block;
  margin:0 auto;
}
