//TODO delete

#header-content {
  width:100%;
  z-index:15;
  @media all and(max-width:$sm) {
    transition: transform 150ms ease-in;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    overflow: auto;
    display: none;
    flex-direction: column;
    padding:$spacing $spacing $spacing - 1rem; // minus the margin-bottom on last element
    background-color:$bluewhite;
    .transition & {
      display: flex;
      transform:translate(-100%);
    }
    .open & {
      display: flex;
      transform:translate(0%);
    }
  }
}