.helplink {
  width:1.5em;
  height:1.5em;
  line-height:1em;
  font-size:.75em;
  border-radius:50%;
  border:1px solid $darkblue;
  font-family:$sans;
  transition:color $anim-short ease-in;
  text-align:center;
  margin:auto 0 auto 2em;
  display:flex;
  &:hover {
    color: $darkblue;
    border-color: $linkcolor;
  }
  &::before {
    content:"i";
    flex:0 1 auto;
    width:100%;
    margin:auto;
    display:inline-block; // make IE align "i" properly
  }
}
