#hero {
  overflow:hidden;
  position:relative;
  display:flex;
  background-color:$bluewhite;
  color:$darkblue;
  $max-height: 31.25rem;
  $min-height: 19.75rem;
  $ratio: 1600/500;
  &.no-image {
    $ratio: 1600/345;
  }
  &.align-left {
    text-align:left;
  }
  @media all and(min-width:$sm){
    text-align:center;
    // height:100vw / $ratio;
    min-height:$min-height;
    // max-height:$max-height; // height & max-height disabled to accommodate longer headings
  }
  img {
    min-width:100%;
    min-height:100%;
    width:auto;
    max-width:none;
    height:auto;
    display:block;
    position:absolute;
    top:0;
    left:50%;
    transform:translate(-50%,0);
    @media all and(min-width:$sm){
      top:50%; // center the image with these two lines
      transform:translate(-50%,-50%);
    }
  }
  &.dark-hero,
  &:not(.no-image) {
    background-color:$midblue;
    color:$white;
  }
  &:not(.no-image) #page-heading {
    background-color: hsla(0,0%,0%,.2);
  }
  &:not(.no-image)::after { // black semi-transparent overlay to dim down photos
    content:"";
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:rgba(0,0,0,.2);
    z-index:5;
  }
}
#page-heading {
  flex:1 0 100%;
  min-width:100%;
  width:100%; // ensure that heading fills up entire space
  max-width:100%;
  text-align:inherit;
  padding-bottom:3.75rem;
  padding-top:3.75rem;
  margin-top:0;
  z-index:10;
  position:relative;
  color:inherit;
  @media all and(min-width:$sm){
    display:flex;
    flex-direction:column;
    justify-content:center;
    flex-wrap:nowrap;
  }
  > .a-button {
    display:block;
    margin:2.5rem auto 0 0;
    @media all and(min-width:$sm) {
      margin-left:auto;
    }
    .align-left & {
      margin-left:0;
    }
  }
}

#page-title {
  #hero & {
    font-size:2.5rem;
    font-weight:700;
    align-self:flex-start;
    margin-bottom:1rem;
    @media all and(min-width:$sm){
      align-self:center;
    }
    max-width:$grid-max-width * .75;
    color:inherit;
    line-height:1.17;
    position:relative;
    text-align:inherit;
    @media all and(max-width:$sm){
      max-width: 100%;
    }
    &::before {
      content:"";
      display:block;
      width:100px;
      height:5px;
      background-color:$darkblue;
      margin:0 auto 1rem 0;
      @media all and(min-width:$sm){
        margin:0 auto 1rem;
      }
      @media print {
        background-color:#666;
      }
    }
  }
  #hero.align-left & {
    align-self:flex-start;
  }
  #hero.align-left &::before {
    margin-left:0;
  }
  #hero.dark-hero &::before,
  #hero:not(.no-image) &::before {
    background-color:$white;
  }
}
#page-description {
  @media all and(min-width:$sm){
    margin:0 auto;
    max-width:$grid-max-width*.6;
  }
  .align-left & {
    margin-left:0;
  }
  font-family:$sans;
  line-height:#{(25/14)};
  width:100%;
  color:$midblue;
  .dark-hero &,
  :not(.no-image) & {
    color:inherit;
  }
  * {
    font-family:inherit;
    margin:0;
  }
}
