.lang-switcher-link {
  @extend .link-inverse;
  
  padding: .25rem 0;
  vertical-align:middle;
  line-height:inherit;
  height:inherit;
  
  &:hover,
  &:active,
  &:focus {
    color: $linkcolor;
    border-color: $linkcolor;
    border-radius: .25rem;
  }

  .lang-switcher-label {
    margin-left: .25rem;
  }

  .icon-globe {
    font-size: 1rem; 
  }
}

@media all and(max-width:$sm) {
  
  #lang-switcher {
    margin-top: 2.5rem;
    padding-top: 1.25rem;
    border-top: 1px solid transparentize($darkblue, .85);

    .lang-switcher-link {
      border-bottom-color: transparent;
    }
  }

}

@media all and(min-width:$sm) {

  .lang-switcher-link {
    padding: .25rem 1rem;
    border: solid 1px transparent;
    border-right-color: transparentize($darkblue, .85);
    font-size: .875rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .lang-switcher-label {
      margin-left: .33rem;
    }
  }

}