#legal-code {
  button.slide-in-toggle { // specificity hack
    &:hover,
    &:focus {
      opacity:1;
    }
  }
  @media all and(max-width:$sm) {
    position:static;
    height:auto;
    margin-top:$spacing;
    .slide-in-toggle {
      display:none;
    }
    .slide-in-content {
      margin-bottom:0;
    }
  }
}
#legal-code-toggle {
  margin-left:0;
  margin-top:2.5rem;
  position:relative;
  z-index:10;
  @media all and(max-width:$sm){
    display:none;
  }
  .circular-button {
    &::before {
      background-image:none;
      content:"\00a7";
      font-size:1.25rem;
    }
  }
}
#legal-code-toggle:hover,
#legal-code-toggle:focus {
  opacity:1;
  .circular-button::before {
    background-image:none;
    transform:rotate3d(0, 1, 0, 0);
    color:$white;
  }
}
