#nav-top {
  list-style:none;
  color:$darkblue;
  background-color:$bluewhite;
  margin-top:0;
  overflow: auto;
  @media all and(min-width:$sm) {
    position: absolute;
    left:0;
    right:0;
    top:4.25rem;
    z-index:15;
    > .col-8 {
      display: none;
      height:0;
      transition: height 150ms ease-in;
    }
    &.transition > .col-8 {
      display: block;
      height:0;
    }
    &.open > .col-8 {
      display: block;
      height: calc(100vh - 3rem);
    }
  }
  @media all and(max-width:$sm){
    display:block;
    overflow:visible;
    padding:0;
    order:2;
  }
  ul {
    list-style:none;
    a {
      @extend .link-inverse;
      @extend .link-noborder;
    }
  }
  .row,
  .row-center {
    margin-top:0;
  }
  > .col-8 {
    transition-property: height;
    transition-duration: 150ms;
    transition-timing-function: ease-in;
    &::before,
    &::after { // manual padding trick for use with accordion
      content:"";
      display:block;
      width:100%;
      height:$spacing;
    }
    &::after {
      height:$spacing - 2.5rem;
    }
  }

  @media all and(min-width:$md) {
    top: 4rem;
  }

  @media all and(min-width:$lg) {
    top: 4.25rem;
  }
}
.nav-level-1 {
  margin-bottom:2.5rem;
  font-family:$serif;
  font-size:1.625rem;
  position:relative;
  font-weight:400;
  padding-top:.75rem;
  line-height:2.5rem;
  &::before {
    content:"";
    display:block;
    width:100px;
    height:5px;
    background-color:$darkblue;
    margin-top:calc(-.75rem - 5px);
    margin-bottom:.75rem;
    @media print {
      background-color:#666;
    }
  }
  > ul {
    line-height:2.5rem;
    padding-top:.75rem;
    font-size: 1rem;
    font-family:$sans;
    padding-left:0;
  }
}
