.newsletter-info {
  background-color:$white;
  box-shadow:$boxshadow;
  padding:$spacing;
  margin:-$spacing * 1.5 0; // times 1.5 because containing row has a background color and therefore padding equal to $spacing
  text-align:center;
  position:relative;
  z-index:2;
  > h3 {
    font-family:$sans;
    color:$darkblue;
    font-size:1.625rem;
    margin-top:0;
    font-weight:normal;
  }
  > .a-button {
    margin-top:$spacing - 1rem;
    display:inline-block;
  }
  @media all and(min-width:$sm) {
    &::before {
      content:"";
      position:absolute;
      top:$spacing;
      bottom:$spacing;
      right:100%;
      width:100%;
      background-image:$envelope;
      background-repeat:no-repeat;
      background-position:right center;
      background-size:auto 100%;
      pointer-events: none;
      opacity:.1;
    }
  }
}
