.ombud-process {
  counter-reset:omb-step;
  position:relative;
  &,
  .step .col-12 > ul,
  .left,
  .right {
    margin:0;
    padding:0;
    list-style:none;
  }
  @media all and(min-width:$md) {
    &::after { // vertical line
      content:"";
      position:absolute;
      top:0;
      right:50%;
      bottom:0;
      width:1px;
      background-color:$darkblue;
      z-index:1;
    }
  }
  @media print {
    &::after {
      background-color:#666;
    }
  }
  .step {
    margin-top:0;
    counter-increment: omb-step;
    color:$darkblue;
    text-align:center;
    position:relative;
    display:block;
    &::before { // large digit
      font-size:9.375rem;
      line-height:1;
      font-weight:700;
      padding-top:2rem;
      padding-bottom:1.25rem;
      color:#ebebeb;
      content:counter(omb-step);
      display:block;
      background-color:inherit;
      position:relative;
      z-index:2;
    }
    &:nth-child(even) {
      background-color:$lightgrey;
    }
    &:nth-child(odd) {
      background-color:$white
    }
    &:last-child {
      .left,
      .right {
        margin-bottom:0;
      }
      @media all and(min-width:$md) {
        .col-12 > ul::after { // cover up the remainder of the vertical line
          content:"";
          position:absolute;
          bottom:0;
          top:calc(((100vw - 2 * 3.125vw) / 2) / 2); // half height of .left/.right
          left:calc(50% - 1rem);
          right:calc(50% - 1rem);
          background-color:inherit;
          z-index:2;
        }
      }
      @media all and(min-width:$grid-max-width-effective) {
        .col-12 > ul::after {
          top:calc((#{$grid-max-width} / 2) / 2); // half height of .left/.right
        }
      }
    }
    .col-12 > ul {
      float:left;
      clear:both;
      width:100%;
      position:relative;
      background-color:inherit;
      @media all and(min-width:$md) {
        display:flex;
        justify-content:space-between;
        align-items:flex-start;
        &::before { // circular bullets between boxes
          content:"";
          width:2.875rem;
          height:2.875rem;
          border-radius:50%;
          border:1px solid $darkblue;
          background-color:$white;
          position:absolute;
          left:50%;
          top:calc(((100vw - 2 * 3.125vw) / 2 - 5.25rem) / 2 + 3.5rem);
          transform:translate(-50%, -50%);
          z-index:3;
        }
      }
      @media all and(min-width:$grid-max-width-effective) {
        &::before {
          top:calc((#{$grid-max-width} / 2 - 5.25rem) / 2 + 3.5rem);
        }
      }
    }
    .col-12 {
      @extend .clearfix;
      background-color:inherit;
    }
  }
  h3 {
    margin:0 auto;
    font-weight:300;
    width:50%;
    line-height:2rem;
    font-size:1.625rem;
    background-color:inherit;
    padding-bottom:2.5rem;
    position:relative;
    z-index:2;
    &::before {
      content:"";
      width:100px;
      height:5px;
      background-color:$darkblue;
      display:block;
      margin:-5px auto 1.25rem;
      position:relative;
      z-index:2;
      @media print {
        background-color:#666;
      }
    }
  }
  h4 {
    font-size:1rem;
    line-height:1.375rem;
    color:$darkblue;
    font-weight:700;
    margin:0 0 1rem;
  }
  .left,
  .right {
    overflow:hidden;
    color:$darkgrey;
    text-align:left;
    padding:0;
    width:100%;
    margin:0 0 3.5rem;
    transition:height $anim-short ease-in;
    @media all and(min-width:$md){
      width:calc(50% - 5.25rem);
      margin:3.5rem 0;
      min-height:calc((100vw - 2 * 3.125vw) / 2 - 5.25rem); // height equal to width based on viewport size, the 5.25 rem is the distance from edge of box to vertical center line
    }
    @media all and(min-width:$grid-max-width-effective) {
      min-height:calc(#{$grid-max-width} / 2 - 5.25rem); // height equal to width based on viewport size, the 5.25 rem is the distance from edge of box to vertical center line
    }
    &.open {
      height: auto;
    }
  }
  .left {
    float:left;
    background-color:$mistyrose;
    @media all and(min-width:$md) {
      margin-right:auto;
      &::after { // horizontal line connecting to the circular bullet in the middle
        content:"";
        position:absolute;
        right:50%;
        width:5.25rem;
        top:calc(((100vw - 2 * 3.125vw) / 2 - 5.25rem) / 2 + 3.5rem); // half height of .left/.right, plus margin-top of .left/.right
        height:1px;
        background-color:$darkblue;
        @media print {
          background-color:#666;
        }
      }
    }
    @media all and(min-width:$grid-max-width-effective) {
      &::after {
        top:calc((#{$grid-max-width} / 2 - 5.25rem) / 2 + 3.5rem); // half height of .left/.right, plus margin-top of .left/.right
      }
    }
    .step-content::after,
    .step-text::after {
      background-color:$mistyrose;
    }
  }
  .right {
    float:right;
    background-color:$bluewhite;
    @media all and(min-width:$md) {
      margin-left:auto;
      &::after {
        content:"";
        position:absolute;
        top:calc(((100vw - 2 * 3.125vw) / 2 - 5.25rem) / 2 + 3.5rem); // half height of .left/.right, plus margin-top of .left/.right
        left:50%;
        width:5.25rem;
        height:1px;
        background-image:$dot-svg;
        background-repeat:repeat-x;
        background-size:auto 1px;
      }
    }
    @media all and(min-width:$grid-max-width-effective) {
      &::after {
        top:calc((#{$grid-max-width} / 2 - 5.25rem) / 2 + 3.5rem); // half height of .left/.right, plus margin-top of .left/.right
      }
    }
    .step-content::after,
    .step-text::after {
      background-color:$bluewhite;
    }
  }
  .step-content {
    background-color:inherit;
    padding:$spacing;// $spacing $spacing * 2;
    position:relative;
    z-index:1;
    min-height:100%;
    &::after {
      content:"";
      position:absolute;
      bottom:0;
      left:0;
      right:0;
      height:$spacing;
    }
  }
  .step-text {
    position:relative;
    &::after {
      content:"";
      display:block;
      position:absolute;
      top:100%;
      right:-$spacing;
      left:-$spacing;
      height:100%;
      z-index:1;
    }
    .open &::after {
      z-index:0;
    }
    > ul {
      padding-left:.75rem;
    }
    > :last-child {
      padding-bottom:0;
      margin-bottom:0;
    }
  }
}
