.pager {
  @extend .clearfix;
  font-family:$sans;
  align-items:center;
  justify-content:center;
  margin-top:2.5rem;
  .page-numbers {
    font-size:.875rem;
    list-style:none;
    padding:0;
    margin:0;
    text-align:center;
    flex:1 0 auto;
    li {
      display:inline-block;
      padding:0 .5rem;
      button {
        color:$darkblue;
      }
    }
  }
  .prev,
  .next {
    display:inline-block;
    flex:0 1 auto;
  }
  .prev {
    margin-right:.5rem;
  }
  .next {
    margin-left:.5rem;
  }
  @media all and(max-width:57rem) {
    .page-numbers {
      flex:1 0 100%;
      order:-1;
      padding-bottom:2.5rem; // same as total height of button
    }
    .prev,
    .next {
      flex:1 1 0;
      max-width:12.5rem;
    }
  }
}
