.picture {
  margin:0 calc(-.5 * (100vw - #{$grid-max-width}));
  @media all and(max-width:$grid-max-width-effective){
    margin:0 (-.5 * $grid-gutter-width * $grid-max-width/$grid-max-width-effective);
  }
  img {
    width:100%;
    height:auto;
    max-width:none;
    display:block;
  }
}
