button.preview-mode-selector-grid,
button.preview-mode-selector-list { // need button specificity to overrule .no-styling class
  width:2.5rem;
  height:2.5rem;
  background-size:50%;
  background-repeat:no-repeat;
  background-position:center;
  border: solid 1px transparent;
  border-radius: 2px;
}
button.preview-mode-selector-grid {
  background-image:url('data:image/svg+xml;base64,' + base64Encode('<svg width="22" height="22" xmlns="http://www.w3.org/2000/svg"><path fill="' + $darkblue + '" d="M0 0h10v10H0zM12 0h10v10h-10zM0 12h10v10H0zM12 12h10v10h-10z"/></svg>'));
}
button.preview-mode-selector-list {
  background-image:url('data:image/svg+xml;base64,' + base64Encode('<svg width="21" height="21" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="undefined" stroke-linejoin="undefined" stroke="' + $darkblue + '" fill="none" d="M0 0.5h21M0 20.5h21M0 7h21M0 14h21"/></svg>'));
}

button.preview-mode-selector-grid:hover,
button.preview-mode-selector-grid:active,
button.preview-mode-selector-grid:focus {
  background-image:url('data:image/svg+xml;base64,' + base64Encode('<svg width="22" height="22" xmlns="http://www.w3.org/2000/svg"><path fill="' + $linkcolor + '" d="M0 0h10v10H0zM12 0h10v10h-10zM0 12h10v10H0zM12 12h10v10h-10z"/></svg>'));
  border-color: $linkcolor;
}

button.preview-mode-selector-list:hover,
button.preview-mode-selector-list:active,
button.preview-mode-selector-list:focus {
  background-image:url('data:image/svg+xml;base64,' + base64Encode('<svg width="21" height="21" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="undefined" stroke-linejoin="undefined" stroke="' + $linkcolor + '" fill="none" d="M0 0.5h21M0 20.5h21M0 7h21M0 14h21"/></svg>'));
  border-color: $linkcolor;
}