.custom-radio {
  display:block;
  position:relative;
  font-family:$sans;
  color:$darkblue;
  input[type=radio] {
    @extend .sr-only; // hide the default radio element
  }
  input[type=radio] label {
    position:relative;
  }
  input[type=radio] + label::before {
    content:"";
    color:$darkblue;
    display:inline-block;
    height:1em;
    width:1em;
    background-color:$skyblue;
    border:1px solid $darkblue;
    border-radius:50%;
    vertical-align:text-top;
    margin:.125em .5em -.125em 0;
  }
  input[type=radio]:checked + label::before {
    box-shadow:inset 0 0 0 .2em $skyblue; // use this as "secondary border"
    background-color:$darkblue; // emulate the blue dot in the middle
  }
  input[type=radio]:focus + label::before {
    box-shadow: $focusshadow;
  }
  input[type=radio]:focus:checked + label::before {
    box-shadow:inset 0 0 0 .2em $skyblue, $focusshadow;
  }
}
