.slide-in {
  background-color:$bluewhite;
  padding:2.5rem;
  color:$darkblue;
  position:fixed;
  top:0;
  overflow-x:hidden;
  overflow-y:auto;
  z-index:-1;
  height:100%;
  width:100%;
  transition:transform $anim-short ease-in, z-index 0s linear $anim-short; // use 0 seconds to animate z-index, but wait the duration of the slide animation
  display:none;
  flex-direction:column;
  @media all and(min-width:$sm){
    width:$flyout-width;
    max-width:$flyout-max-width-px;
  }
  &.push-from-left {
    right:100%;
  }
  &.push-from-right {
    left:100%;
  }
  &.transition {
    display:flex;
    transition:transform $anim-short ease-in; // use 0 seconds to animate z-index, but wait the duration of the slide animation
    transform:translate(0,0);
  }
  &.open {
    z-index:300; // cover menu toggle in header
    transform:translate(100%, 0);
  }
  .slide-in-title,
  .slide-in-toggle {
    flex:0 0 auto;
  }
}
.slide-in-title {
  font-size:1.75rem;
  line-height:3.125rem;
  margin:0 0 2.5rem 0;
  font-weight:400;
}
.slide-in-content {
  margin:0 -1rem 2.5rem 0;
  padding:0 1rem 0 0;
  font-family:$sans;
  flex:0 1 auto;
  overflow-y:auto;
}
.slide-in-toggle {
  @extend .circular-button-wrapper;
  .circular-button {
    &::before {
      background-image:url('data:image/svg+xml;base64,' + base64Encode('<svg width="10" height="10" xmlns="http://www.w3.org/2000/svg"><path fill="none" stroke="' + $darkblue + '" d="M0 0l10 10M10 0L0 10"/></svg>'));
      background-repeat:no-repeat;
      background-position:center;
      transition:transform $anim-short ease-in, background-image $anim-short ease-in;
    }
  }
}
body.flyout-open #toc-nav-toggle,
body.flyout-open #legal-code-toggle {
  display: none;
}
.slide-in-toggle:hover,
.slide-in-toggle:focus {
  .circular-button {
    background-color:$darkblue;
    &::before {
      background-image:url('data:image/svg+xml;base64,' + base64Encode('<svg width="10" height="10" xmlns="http://www.w3.org/2000/svg"><path fill="none" stroke="' + $white + '" d="M0 0l10 10M10 0L0 10"/></svg>'));
      transform:rotate(90deg);
    }
    @media print {
      background-color:#666;
    }
  }
}
#toggle-wrapper {
  @media all and(min-width:$sm) {
    z-index:20;
    top:-$spacing;
    margin-top:$spacing;
    margin-bottom:-$spacing;
  }
  @media all and(max-width:$sm){
    right:0.9375 * $grid-gutter-width;
    z-index:11;
    padding-top:0.9375 * $grid-gutter-width; // ensures proper sticky spacing
    top:-0.9375 * $grid-gutter-width/1% * 1vw; // ensures proper sticky spacing
    &:not(.is_stuck) {
      position:absolute;
      margin-top: -3rem;
    }
  }
}

@media all and(min-width:$sm) {
  body.flyout-open #container {
    margin-left: $flyout-width;
  }
}

@media all and(min-width:$lg) {
  body.flyout-open #container {
    margin-left: $flyout-max-width-px;
  }
}
