.spot-box {
  display:flex;
  flex-direction:column;
  @media all and(min-width:$sm) {
    justify-content: space-between;
    align-items:stretch;
    flex-direction:row;
    flex-wrap:wrap;
    &:only-child {
      // height:100%; // only do this if no other siblings are present. Otherwise the siblings would fall out of the containing element
    }
  }
  .spot-text {
    display:flex;
    flex-direction:column;
    align-items:center;
    @media all and(max-width:$sm) {
      margin-bottom:0;
    }
    .spot-content {
      flex-grow:1;
      max-width:100%; // IE11 needs this explicitly to prevent overflow
      @media all and(max-width:$sm) {
        text-align:center;
      }
    }
  }
  .spot-image {
    position:relative;
    overflow:hidden;
    img {
      min-height: 100%;
      min-width: 100%;
      width: auto;
      height: auto;
      max-width: none;
      display: block;
      @media all and(min-width:$sm) {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    @media all and(max-width:$sm) {
      $width: calc(100% / ((100 - .9375 * #{$grid-gutter-width/1%} * 2) / 100)); // (.9375 * $grid-gutter-width) is standard padding on small displays
      width: $width;
      max-width: $width;
      flex-basis: $width;
      margin-top:3.125rem;
      margin-left: calc(-1 * (.9375 * #{$grid-gutter-width} / ((100 - .9375 * #{$grid-gutter-width/1%} * 2) / 100)));
    }
  }
  .ul-arrow {
    flex:0 1 auto;
    margin-left:auto;
    margin-right:auto;
    // @TODO: If we're the last item in a container, we shouldn't have a margin-bottom.
    // Can we do this just with :last-child? We can't be sure that TinyMCE doesn't
    // append another element after the .ul-arrow
  }
  .spot-content + .a-button {
    margin-top:2.125rem;
  }
  &.row-reverse {
    @media all and(min-width:$sm) {
      flex-direction:row-reverse;
    }
  }
  &.text-align-left {
    @media all and(min-width:$sm) {
      .spot-text {
        align-items:flex-start;
      }
      .spot-title {
        //@extend .spot-title-align-left;
        text-align:left;
        justify-content:left;
      }
      .ul-arrow {
        margin-left:0;
      }
    }
  }
  &.no-letter {
    .spot-title {
      @extend .spot-title-no-letter;
    }
  }
  &.no-letter.text-align-left {
    .spot-title {
      @extend .spot-title-no-letter;
      @extend .spot-title-align-left;
      .spot-title-text::before {
        @media all and(min-width:$sm) {
          left:0;
          margin-left:0;
        }
      }
    }
  }
}
// @TODO: Spot boxes with images *can* be inserted in col-6, but they should be inserted in col-12
// @TODO: On template level: If we have an image, then wrap the text in a .col-6 and the image in
// another .col-6, both within a .row inside the .col-xx.spot-box. Otherwise, wrap the text in a .col-12
// @TODO: On widget level: We need a setting to choose if .spot-text should be aligned left.
