.spot-title {
  font-family:$serif;
  color:$darkblue;
  font-weight:400;
  text-align:center;
  margin-top:0;
  margin-left:0;
  margin-right:0;
  margin-bottom:3.125rem;
  font-size:1.625rem;
  position:relative;
  //width:100%;
  //height:7.35rem;
  @extend .clearfix;
  .spot-title-text {
    display:block;
    float:left;
    width:100%;
    // margin-top:5rem;
    // line-height:1;
    margin-top:4.8rem;
    line-height:2rem; // make multi-line headings look nicer
    margin-bottom:.9rem;
    &::before {
      content:"";
      display:block;
      width:100px;
      height:5px;
      background-color:$darkblue;
      position:absolute;
      left:50%;
      top:2.25em;
      margin-left:-50px;
      @media print {
        background-color:#666;
      }
    }
  }
  .spot-title-letter {
    color:$darkkhaki;
    line-height:.76em; // corresponding to actual letter height
    margin-top:.075em; // centering the character on the line
    margin-bottom:-.075em;
    font-size:9.375rem;
    opacity:.05;
    position:absolute;
    left:50%;
    top:0;
    transform:translate(-50%,0);
    pointer-events:none; // make text unselectable
    text-transform:uppercase;
  }
  // @TODO: Maybe the .letter should be made as a pseudo element instead, so we can apply the .spot-title class without changing markup?
  // e.g. when we go to a small screen and need to display a list of related areas (sectionforside-myndighed mobile)
}

.spot-title-align-left {
  @extend .spot-title;
  text-align:left;
  display:flex;
  justify-content:left;
  width:auto;
  .spot-title-text {
    margin-right:auto;
    width:auto;
    @media all and(max-width:$sm) {
      text-align:center;
    }
  }
}

.spot-title-no-letter {
  @extend .spot-title;
  //height:3.875rem;
  margin-bottom:0;
  .spot-title-text {
    margin-top:1.75rem;
    &::before {
      top:0;
    }
  }
}

#heading-inspektionsrapporter,
#heading-egne-driftsager {
  margin-top:$spacing;
}
