.subdocs {
  justify-content:flex-start;
  margin-top:0;
  .subdoc {
    &:last-of-type::after { // remove bottom border of last row
      content:none;
    }
    @media all and(max-width:$sm) {
      &:first-of-type {
        padding-top:0;
      }
      &:last-of-type {
        padding-bottom:0;
      }
    }
    @media all and(min-width:$sm) { // dirty override of rule from _doc-preview.scss
      padding-top:0;
      margin-top:0;
      margin-bottom:2.5rem;
      padding-bottom:2.5rem;
      &.last-row { // last row shouldn't have the bottom spacing on large devices
        //margin-bottom:0;
        padding-bottom:0;
      }
      &.last-row::after {
        content:none;
      }
    }
    &:nth-child(n)::after { // again, override what is happening inside _doc-preview.scss
      bottom:0;
    }
  }
}
.subdoc {
  @extend .with-margin;
  .doctype-navigationsside &:nth-child(n+7) { // only show first 6 items
    display:none;
  }
  a {
    transition:none;
    border-bottom:none;
    display:block;
    #subdocsbox &,
    .doctype-combosearch & {
      h3 {
        padding-top:1.25rem;
        transition:opacity $anim-short ease-in;
      }
    }
  }
  h3 {
    font-family:$sans;
    font-weight:normal;
    margin:0;
    font-size:1.25rem;
    overflow:hidden; //make text not wrap underneath icon
    &::before {
      @extend .badge-document;
      display:block;
      float:left;
      vertical-align: middle;
      margin-right:1rem;
    }
  }
  .excerpt {
    color:$darkgrey;
    transition:opacity $anim-short ease-in;
    margin:.5rem 0 0;
    font-weight:300;
  }
}
.subdoc a:hover {
  .excerpt {
    color: $linkcolor;
  }
}
.subdoc:not(.no-content) {
  a {
    &::after {
      @extend .icon-arrow;
      font-size:1.25rem;
      margin-top:1.25rem;
      display:block;
    }
  }
  .excerpt {
    padding:.5rem 0 0;
    #subdocsbox &,
    .doctype-combosearch & {
      padding:0;
    }
    &::before {
      content:"";
      width:5rem;
      height:1px;
      background-color:$darkblue;
      display:block;
      @media print {
        background-color:#666;
      }
    }
    #subdocsbox &::before,
    .doctype-combosearch &::before {
      content:none;
    }
  }
}
.show-all-subdocs {
  display:block;
  margin:3rem auto 0;
}
