body.doctype-specifikkesagsomraader {
  #page-title {
    margin:0 0 2.5rem;
    flex:1 0 100%; // don't wrap
    &::before {
      content:"";
      display:block;
      width:100px;
      height:5px;
      background-color:$darkblue;
      margin-bottom:.5rem;
      @media print {
        background-color:#666;
      }
    }
  }
}
#subject-areas {
  padding-left:0;
  padding-right:0;
  margin:0;
  list-style:none;
  font-family:$sans;
  color:$darkblue;
  flex:1 0 100%; // don't wrap
  li {
    @extend .col-4;
    @extend .with-margin;
    padding-bottom:1rem;
    @media all and(max-width:$sm) {
      margin-bottom:0;
    }
    &.selected {
      color:$darkgrey;
    }
  }
}
#reset-all-wrapper {
  @media all and(min-width:$sm) {
    margin-top:$spacing/2;
  }
  #reset-all {
    font-family:$sans;
  }
}
