.summary-listitem {
  background-color:#fdfdfd;
  padding:2.5rem 3.375rem;
  margin-top:.625rem;
  &:first-child {
    margin-top:0;
  }
  .summary-heading {
    counter-increment:summary-list;
    position:relative;
    color:$darkblue;
    font-family:$sans;
    font-size:1.25rem;
    font-weight:400;
    padding-bottom:1rem;
    margin:0 0 1rem;
    &::before {
      content:counter(summary-list) ". ";
    }
    &::after {
      display:block;
      position:absolute;
      left:0;
      bottom:0;
      content:"";
      height:1px;
      width:5rem;
      background-color:$darkblue;
      @media print {
        background-color:#666;
      }
    }
  }
}
