.teaser {
  @extend .col-4;
  color:$darkblue;
  font-family:$sans;
  position:relative;
  .doc-meta-info {
    font-size:.875rem;
    margin-top:0;
    margin-bottom:1.25rem;
    display:block;
  }
  .doc-title {
    @extend .link-inverse;
    @extend .link-noborder;
    font-weight:normal;
    font-size:1.25rem;
    line-height:1.75rem;
    display:block;
    transition:color $anim-short ease-in;
    &::before {
      content:"";
      display:block;
      width:5rem;
      height:1px;
      background-color:$darkblue;
      margin-bottom:0.625rem;
      @media print {
        background-color:#666;
      }
    }
    &::after {
      @extend .icon-arrow;
      display:block;
      margin-top:1.25rem;
      color:$darkblue;
    }
    
  }
  .doc-summary {
    &,
    > * {
      font-family:$serif;
      color:$darkgrey;
    }
  }
  &::after {
    @extend %line;
    content:none;
  }
  @media all and(min-width:$sm) {
    float:left; // even though .teaser class extends .col-4, we need to set up the grid with floats, because we can't be sure that the containing column has a .row class.
    $margin: 1.666666%; // remainder of horizontal space when the three columns have used 31.111% each. Do it like this instead of calc(10% / 6) because MSEdge can't round properly
    margin:0 $margin;
    &:nth-of-type(3n) {
      margin-right:0;
    }
    &:nth-of-type(3n+1) {
      clear:left;
      margin-left:0;
      &::after {
        content:"";
        top:0;
        left:0;
        $width_relative: unquote('(100 / 3 - #{$margin} * 4 / 3 )/100'); // need to do loads of interpolation because we want to use this expression in a calc() statement
        width:calc(100% / (#{$width_relative}));
      }
    }
    &:nth-of-type(1)::after {
      content:none;
    }
    &:nth-of-type(n+4) {
      margin-top:2.5rem;
      padding-top:2.5rem;
    }
  }
  @media all and(max-width:$sm) {
    &:not(:last-of-type) {
      margin-bottom:2.5rem;
      padding-bottom:2.5rem;
      &::after {
        content:"";
        bottom:0;
        left:0;
        right:0;
      }
    }
  }
}

.teaser + :not(.teaser) { // anything that may come after a .teaser in the same grid column should clear float. this is most likely a <p> tag coming from a TinyMCE field. That's why we can use padding-top (margin-top collapses and is not usable here)
  clear:both;
  padding-top:3rem;
}
