input[type=text],
input[type=email],
textarea {
  border-width:0 0 1px;
  border-style:solid;
  border-color:$darkblue;
  font-family:$serif;
  color:$darkgrey;
  line-height:inherit;
  &::placeholder {
    opacity:.6;
  }
}
textarea {
  padding:.5em;
  border:1px solid $darkblue;
}
