#toc-nav {
  button.slide-in-toggle { // specificity hack
    &:hover,
    &:focus {
      opacity:1;
    }
  }
}
#toc-nav ol {
  text-align:right;
  counter-reset:toc-nav-ol;
  list-style:none;
  padding-left:0;
  min-height: 10rem;
  li {
    counter-increment:toc-nav-ol;
    position:relative;
    font-size:.875rem;
    margin-bottom:1rem;
    padding-left:20%; // to make sure we always have a leading line
    color: $linkcolor; //transparentize($darkblue, .75);
    transition:color $anim-short ease-in, font-size $anim-short ease-in;
    &.active {
      color:$darkblue;
      font-size:1.25rem;
    }
    &:hover {
      color:$darkblue;
    }
    a {
      @extend .link-noborder;
      color:inherit;
      &:hover {
        opacity:1;
        color:inherit;
      }
    }
    span {
      background-color:$bluewhite; // has to be the same as the containing background color to cover up the leading line
      padding: .4375rem 0 .4375rem .4375em; // .4375rem corresponds to the difference between text height and line height divided by two (1.875rem - 1rem)/2
      position: relative;
      z-index:1;
      color:inherit;
    }
    &:last-child {
      margin-bottom:0;
      span {
        padding-bottom:0;
      }
    }
    &::after { // the leading line
      content:"";
      display: block;
      position:absolute;
      top:1.2578125em; //(.4375rem from padding-top + one line-height worth of text) scaled down to .875rem font-size
      left:.4375rem;
      right:0;
      border-bottom: 1px solid #d8d8d8;
      opacity:.6;
      margin-top:-1px;
    }
    &::before { // the number
      content:counter(toc-nav-ol) ". ";
      background-color:$bluewhite; // has to be the same as the containing background color to cover up the leading line
      position:absolute;
      z-index:1;
      left:0;
      padding-right:.4375em;
    }
  }
}
#toc-nav-toggle {
  margin-left:0;
  .circular-button {
    &::before {
      background-image:url('data:image/svg+xml;base64,' + base64Encode('<svg xmlns="http://www.w3.org/2000/svg" width="23.001" height="20.999" viewBox="0 0 23.001 20.999"><path fill="' + $darkblue + '" d="M2.462 8.377L4.085 10H0v.999h4.082l-1.62 1.621.706.705 2.829-2.827L3.168 7.67l-.706.707zM10 10.999h13.001v-1H10v1zm0 4h13.001v-1H10v1zM10 7h13.001V6H10v1zm0-5v1h13.001V2H10zm0 16.999h9.999v-1H10v1zm-3 2h1V0H7v20.999z"/></svg>'));
      background-size:41.5%; // results in roughly native svg size for 1rem == 16px
    }
  }
}
#toc-nav-toggle:hover,
#toc-nav-toggle:focus {
  opacity:1;
  .circular-button::before {
    background-image:url('data:image/svg+xml;base64,' + base64Encode('<svg xmlns="http://www.w3.org/2000/svg" width="23.001" height="20.999" viewBox="0 0 23.001 20.999"><path fill="' + $white + '" d="M2.462 8.377L4.085 10H0v.999h4.082l-1.62 1.621.706.705 2.829-2.827L3.168 7.67l-.706.707zM10 10.999h13.001v-1H10v1zm0 4h13.001v-1H10v1zM10 7h13.001V6H10v1zm0-5v1h13.001V2H10zm0 16.999h9.999v-1H10v1zm-3 2h1V0H7v20.999z"/></svg>'));
    transform:rotate3d(0, 1, 0, 180deg);
  }
}

@media all and(max-width:$sm) {
  
  #toc-nav-toggle {
    margin-top: 3.5rem;
  }

  #toc-nav h3.slide-in-title {
    margin-top: 3rem;
  }
}