.ul-arrow {
  list-style:none;
  font-size:1.25rem;
  font-family:$sans;
  color:$darkblue;
  //float:left; // make box shrink to fit
  //clear:both;
  padding-left:0;
  @extend .clearfix;
   li {
    line-height:1.2;
    margin-top:1em;
    float:left;
    clear:both;
    position:relative;
    padding-left:calc(1.875rem + 1em);
    &::before {
      @extend .icon-arrow;
      position:absolute;
      left:0;
      color:$midblue;
    }
    &:first-child {
      margin-top:0;
    }
    a {
      display:inline-block;
      #content & {
        border-bottom:none;
        transition:color $anim-short ease-in;
        &:hover,
        &:active,
        &:focus {
          color: $darkblue; // we can't just do opacity as there's another arrow beneath from the <li>
        }
      }
      &::before { // override the ::before on the parent <li>, so we also get the :hover effect on the arrow.
        @extend .icon-arrow;
        position:absolute;
        left:0;
        color:inherit;
        background-color:$white;
      }
      .bg-mistyrose &::before {
        background-color:$mistyrose;
      }
      .bg-bluewhite &::before,
      table tbody tr &::before { // also handle .ul-arrows inside tables, as these have blue background-color
        background-color:$bluewhite;
      }
      .bg-greywhite &::before {
        background-color:$greywhite;
      }
      .bg-lightgrey &::before {
        background-color:$lightgrey;
      }
      .bg-midgrey &::before {
        background-color:$midgrey;
      }
    }
  }
}
