<div class="errors">
    <h3>Der opstod følgende fejl:</h3>
    <ul class="error-list">
%   foreach my $error (@$errors) {
        <li class="error-item"><% $error %></li>
%   }
    </ul>
</div>\
<%args>
$errors
</%args>\
<%init>
if(!$errors || !@$errors) {
    return '';
}
</%init>
