/* 
    ==================================     
    BØRNEKONTORET CSS FOR COOKIE POPUP
    ==================================

    - Copyright (C) 2021 Magenta ApS, http://magenta.dk.
    - Contact: info@magenta.dk.
    -
    - This Source Code Form is subject to the terms of the Mozilla Public
    - License, v. 2.0. If a copy of the MPL was not distributed with this
    - file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

#cookie-popup {
    background-color: #282828;
    color: #999;
    padding: 2.5rem;
    z-index: 999;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    box-sizing: border-box;
    bottom: 0;
    max-height: 100vh;
    overflow: auto;
}

#cookie-popup a,
#cookie-popup a:link,
#cookie-popup a:visited {
    text-decoration: none;
    transition: color .3s;
    color: #36cf40;
}

#cookie-popup a:hover,
#cookie-popup a:active,
#cookie-popup a:focus {
    color: #fff;
}

#cookie-popup div[role="document"] {
    max-width: 45rem;
    margin: 0 auto;
}

.cp-title {
    font-size: 1.625rem;
    line-height: 2.5rem;
    margin-bottom: 1.25rem;
    color: #36cf40;
}

.cp-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cp-list-item {
    margin: 0;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjEiIHZpZXdCb3g9IjAgMCA1IDEiPjxjaXJjbGUgZmlsbD0iIzAwMmQ2NSIgY3g9Ii41IiBjeT0iLjUiIHI9Ii41Ii8+PC9zdmc+");
    background-repeat: repeat-x;
    background-size: auto 1px;
    background-position: 0 0;
    overflow: hidden;
}

.cp-category-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.cp-checkbox {
    margin-right: 1rem;
}

.cp-check-label { /* Only visible for screen readers */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.cp-list-item .cp-table {
    display: none;
    background-color: #fff;
    color: #757575;
    width: 100%;
}

.cp-list-item-open .cp-table {
    display: table;
}

button.cp-select {
    display: block;
    width: 100%;
    background: url(/images/bornekontoret/arrow-down-grey.png) no-repeat right center #3c3c3c;
    padding: 0.85em 5em 0.85em 1.15em;
    color: #fff;
    border: none;
    text-align: left;
    line-height: 1.4;
    box-sizing: border-box;
    margin-bottom: .5rem;
}

button.cp-select:hover,
button.cp-select:focus {
    background-color: #999;
}

.cp-list-item-open button.cp-select {
    background-image: url(/images/bornekontoret/arrow-up-grey.png);
}

.cp-table {
    margin: 0 0 1rem;
    box-shadow: none;
}

.cp-table th,
.cp-table td {
    text-align: left;
    padding: 1rem;
}

.cp-table th {
    border-bottom: solid 1px #282828;
    background-color: #999;
    color: #fff;
}

.cp-table,
.cp-category-description {
    text-align: left;
}

.cp-buttons {
    margin: 1rem 0 0;
}

.cp-btn {
    margin: 0 .75rem 1rem 0;
}

.cp-table caption {
    display: none;
}

#cp-reject-all,
#cp-accept-all,
#cp-accept-selected {
    background-color: #29A831; /* ensure proper contrast to white text */
    color: #fff;
    padding: 1rem 1.5rem;
    margin-right: .75rem;
    margin-bottom: 1rem;
    border: none;
    transition: all .3s;
    font-size: 1.5rem;
    font-family: 'Frankfurter W01 Medium', "Comic Sans", sans-serif;
    font-weight: normal;
    box-shadow: inset 0 0 0 3px transparent;
}

#cp-reject-all {
    background-color: #c1272d;
}

#cp-accept-all:hover,
#cp-accept-all:focus,
#cp-accept-all:active,
#cp-accept-selected:hover,
#cp-accept-selected:focus,
#cp-accept-selected:active {
    background-color: #757575;
    box-shadow: inset 0 0 0 3px #29A831;

}

#cp-reject-all:hover,
#cp-reject-all:focus,
#cp-reject-all:active {
    background-color: #757575;
    box-shadow: inset 0 0 0 3px #c1272d;
}

.cookie-popup-toggle {
    background-color: transparent;
    border: none;
    color: #36cf40;
    padding: 0;
    text-align: left;
    line-height: 1.4;
    font-weight: inherit;
}

.cookie-popup-toggle:hover,
.cookie-popup-toggle:focus {
    color: #fff;
    text-decoration: underline;
}

.cc-no-video {
    display: flex;
    height: 315px;
    width: 100%;
    border: solid 1px #fff;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}

@media screen and (max-width: 39.99rem) {
    .cp-list-item .cp-category-description {
        display: none;
    }

    .cp-list-item-open .cp-category-description {
        display: block;
    }
}

@media screen and (min-width: 40rem) {
    button.cp-select {
        margin-bottom: 0;
        font-weight: bold;
    }
    .cp-list-item .cp-category-description {
        color: #fff;
        padding: 1rem 3rem;
        margin: 0 0 .5rem;
    }
    .cp-checkbox {
        margin: .5rem 1rem;
    }
}