@import url(bornekontoret_base.css) screen;
@import url(bornekontoret_0.css) screen and (max-width: 699px);
@import url(bornekontoret_700.css) screen and (min-width: 700px) and (max-width: 959px);
@import url(bornekontoret_960.css) screen and (min-width: 960px);
