
/* ==|== Styles for Ombudsmandens Børnekontor: Small screens ================
   Author: Frank Thomsen @ Magenta, 2012
   ========================================================================== */

.nav-primary {display: none;}
.nav-primary li {float: none; width: 100%; text-align: left;}
.nav-primary li a, .nav-primary li:first-child a {margin: 0 0.625em 0.25em 0;}

.newsbox {margin-bottom: 0.25em;}

#asides {margin-top: 1em;}

/* Frontpage */
.doctype-forside .nav-primary {display: block;}

@media screen and (min-width: 321px) {
  .nav-primary li {width: 50%; float: left;}
  .nav-primary li a, .nav-primary li:first-child a {margin: 0 0.5em 0.5em 0;}
}
