
/* ==|== Styles for Ombudsmandens Børnekontor: Tablet size screens ================
   Author: Frank Thomsen @ Magenta, 2012
   ========================================================================== */

/* Logo overrides */
#logo {width:auto;height:auto;position:static;margin:2em 2em 0;}
#logo a {height:auto;}

.nav-primary {display: none;}
.nav-primary ul {margin: 2em 1.5em 0 1em;}
.nav-primary li a, .nav-primary li:first-child a {margin-right: 0.25em;}

.nav-secondary {position: static; margin-top: 0.25em;}

#asides {padding: 1em 2em 1em;}

/* Frontpage */
.doctype-forside .nav-primary {display: block;}
#features {padding: 0 2em 1em;}



/* === Colors =============================================================== */
body {background: #3C3C3C;}
#container {background: url(/images/bornekontoret/illu_1920x1600.gif) no-repeat center top #b9b1ca; background-attachment:fixed; background-size: 100% Auto;}
.splash #features {background-color: transparent;}
