
/* ==|== Styles for Ombudsmandens Børnekontor: Small screens ================
   Author: Frank Thomsen @ Magenta, 2012
   ========================================================================== */

/* Utility */
.hidden-small { display: none; }

/* Logo overrides */
#logo {height:auto;border-top:none;background:none;}
#logo a {background:none;text-indent:0;display:inline-block;width:auto;height:auto;}
#logo img {width:300px;max-width:100%;}

/* Nav-primary */
.nav-primary ul {margin: 1em 0 0 0;}
.nav-primary a {padding-right: 0;}
.nav-primary li:first-child a {margin-right: 0.5em;}

/* News */
#frontpage .newsbox .date {display: none;}
a.moreNews span {width: 10em;}

/* Header */
.chatIsOpen {display: none;}

/* Content */
#chatIframe {width: 100%; height: 340px; padding: 1em 0 0; margin: 0;}

/* Rightboxes */
.aside h2 {margin: -0.85em -0.85em 0.85em; padding: 0.85em;}

/* Footer */
.footer h2 a {background-position: 5em center;}

/* Frontpage */
#frontpage #features {margin-top: 1em;}
#frontpage #videobox {padding: 1em; margin-bottom: 1em;}
#frontpage .tabcontainer ul {list-style: none; margin: 0; padding: 0;}
#frontpage .tabcontainer li {float: left; display: block; width: 8em; padding: 0.5em;}
#frontpage .tabcontainer li span {display: block;}
#frontpage .newsbox h3 {margin: 0;}
.textcontainer p:first-child {margin-top: 0;}


/* ==|== Typography ========================================================= */

h1, h2, h3, .h3, h4, .nav-primary ul li a, #ringTilOs a, .newsboxhead, #feature2, .nav h2 button {font-family:'Frankfurter W01 Medium', "Comic Sans", sans-serif; font-weight: normal;}
.h3 {margin:1em 0;display:block;}
.videoNotice {font-family: 'Arial', sans-serif;}
.newsboxhead, #feature2 {font-size: 1.2em;}


/* ==|== Colors ============================================================= */

body {background: url(/images/bornekontoret/illu_1920x1600.gif) no-repeat center top #b9b1ca; background-attachment:fixed; background-size: 100% Auto;}
.nav-primary {display: block;}
.help, #breadcrumbs, #tipenven, #subsitefpsearch {display: none;}

.content, .nav-secondary, .aside, .headergroup {border: none;}

.nav li a {background-image: url("/images/bornekontoret/arrow-right-green.png");}
.nav li.backlink a {background-image: url("/images/bornekontoret/arrow-left-green.png");}
.nav-primary a .top-padding {background-image: url("/images/icons/arrow-right-white.png")}
.download a {background-image: url("/images/bornekontoret/download-green.png");}

a, a:link, a:visited, a:hover, a:active {color: #208326;} /* contrast for small text on whitish background should be 4.5:1 or greater */
.footer a, .footer a:visited, .footer a:active {color: #36cf40;} /* footer has another background color */
.nav a, .nav li.backlink a, h1, h2, h3, .h3, legend, .newsboxhead {color: #28A430;} /* contrast for large text on whitish background should be 3:1 or greater */
.aside h1,
.aside h3,
.aside .h3,
.aside legend,
.formIntro h1,
.formIntro h2,
.formIntro h3,
.formIntro .h3,
.formIntro legend,
.obviusform h1,
.obviusform h2,
.obviusform h3,
.obviusform .h3,
.obviusform legend {color: #208326;} /* container element has a non-#fff background, so darken the green color accordingly */
.nav-primary ul li a, a.moreNews, #frontpage .tabcontainer li, .aside h2 {color: #fff;}
a:hover, a:active, a:focus {color: #208326; text-decoration: underline}

.nav-primary a, .nav .menuclose, a.morebtn, #frontpage .tabcontainer li, input[type="submit"] {background-color: #28A430;}
.aside a.morebtn,
.aside input[type="submit"],
.formIntro a.morebtn,
.formIntro input[type="submit"],
.obviusform a.morebtn,
.obviusform input[type="submit"] {background-color:#208326;} /* container element has a non-#fff background, so darken the green color accordingly */
.aside h2 {background-color: #3c3c3c;}
.nav h2, .nav h2:hover { background-color: transparent; }
.nav h2 button { background-color: #28A430; }
.nav h2 button:hover, .nav h2 button:focus { background-color: #333; outline: none; }

/* Nav-primary */
.nav-primary {margin-left: 1em;}
.nav-primary li {float: left; width: 50%; margin: 0; padding: 0;}
.nav-primary a {margin: 0 0.5em 0.25em 0;}
.nav-primary a:hover {color: #000; background-color: #28A430; text-decoration: none;}
.nav-primary a:hover .top-padding {background-image:url(/images/icons/arrow-right-grey.png)}
.nav-primary a.selected, .nav-primary a:active, .nav-primary a:focus {color: #fff; background-color: #3c3c3c;}

/* Nav-secondary */
.nav .backlink a:hover {color: #292929; background-image: url(/images/icons/arrow-left-grey.png);}
.nav .menuclose a {background-color: #3c3c3c;}
.nav .menuclose a:hover {background-color: #28A430;}
.nav li {border: none;}

.nav a:hover, .navlist a:hover { text-decoration: none; color: #292929; }

/* Buttons */
a.morebtn {color: #fff;}
a.morebtn:active, a.morebtn:focus {color: #fff;}

/* Content */
#chatIframe {background-color: #f9f9f8;}
#container {color:#292929;}

/* Footer */
.footer {background: #3c3c3c;}
.footer, #feature2 .videoNotice {color: #cecece;}
.footer h2 a:hover, .footer h2 a:active {color: #36cf40; background-image:url(/images/bornekontoret/arrow-right-green.png)}

/* News */
.news .headergroup a {padding: 0;}
.newsbox {color: #292929;}

/* Frontpage */
#ringTilOs a {background: url(/images/bornekontoret/ring.png) no-repeat 0.25em center transparent; font-weight: bold; color: #fff; padding-left: 1.3em;}
#ringTilOs a:hover, #ringTilOs a:active, #ringTilOs a:focus {color: #36cf40; text-decoration: none; cursor: pointer;}
#frontpage #videobox, #ringTilOs a {background-color: #3c3c3c; color: #fff;}
#frontpage #videobox iframe {max-width: 100%;}
#frontpage .tabcontainer li.selected {background-color: #fff; color: #292929;}
#frontpage .tabcontainer li span {background: url(/images/bornekontoret/miniarrow-down-white.png) no-repeat right center transparent;}
#frontpage .tabcontainer li.selected span {background-image: url(/images/bornekontoret/miniarrow-down-black.png);}
#frontpage .tabcontainer div {display: none;}
#frontpage .tabcontainer div.selected {display: block;}
#frontpage .newsbox .article-trigger {text-align: left; border: none; background-color: transparent; border-radius: 0; width: 100%; display: block; background: url(/images/bornekontoret/arrow-down-grey.png) no-repeat right center transparent; padding: 0.85em 4em 0.85em 0.85em;}
#frontpage .newsbox .article-trigger[aria-expanded="true"] {background-image: url(/images/bornekontoret/arrow-up-grey.png);}
#frontpage .newsbox .article-trigger:hover,
#frontpage .newsbox .article-trigger:focus {background-color: #3c3c3c; outline: none; color: #36cf40;}
#frontpage .newsbox .article-content > :first-child {margin-top: 0; padding-top: 0;}
#frontpage .newsbox .article-content > :last-child {margin-bottom: 0; padding-bottom: 0;}
#frontpage .morebtn span {width: 10em;}

/* Accordion foldin/foldout */
.acc-trigger {background-color: #36cf40; border-color: #36cf40;}
.acc-trigger:hover, .acc-trigger:active {background-color: #3c3c3c; border-color: #3c3c3c;}

/* Form doctype */
.has-float-label {
  /* Main site has advanced floating label setup,
     which means that input fields precede labels.
     Revert that for the boernekontor */
  display: flex;
  flex-direction: column-reverse;
}
.has-float-label > input,
.has-float-label > span {
  /* Provide sensible flex defaults */
  flex: 0 1 auto;
}
#submit_div .spot-title .spot-title-letter {
  display: none;
}

/* Global skip link */
.sr-skip-link {
  position: absolute;
  top: 0;
  left: -10rem;
  transition: all .2s ease-in-out;
  opacity: 0;
  z-index: 1000;
  display: inline-block;
  text-decoration: none;
  padding: .85em;
}
.sr-skip-link:hover,
.sr-skip-link:focus {
  opacity: 1;
  left: 0;
  top: 0;
  outline-color: transparent;
  background-color: #28A430 !important;
  color: #fff !important;
}