
/* ==|== Styles for Ombudsmandens Børnekontor: Larger screens (960px +) =====
   Author: Frank Thomsen @ Magenta, 2012
   ========================================================================== */

/* ==|== Typography ========================================================= */

.nav-primary a, #ringTilOs a, .splash .nav-primary a, .nav-primary a.selected {font-size: 48px; letter-spacing: -1px; line-height: 1;}
h2, .aside h2, .headergroup h2, .newsboxhead, .nav .backlink a {font-size: 25px; line-height: 1;}
#feature2, .nav a, .navlist a {font-size: 20px;}
#feature2 {line-height: 1.2;}
.footer {background-color: #282828;}
.nav a, .navlist a {font-family: 'Frankfurter W01 Medium', "Comic Sans", sans-serif;}



/* ==|== Colors ============================================================= */
#logo {background-color: transparent;}
.nav-primary a .top-padding {background-image: url(/images/bornekontoret/bigarrow-right-white.png);}
.nav-primary a:hover .top-padding {background-image: url(/images/bornekontoret/bigarrow-right-grey.png);}
.nav-secondary li a {background-image: none;}
h1 {color: #333;}



/* ==|== Layout ============================================================= */

/* Header */
#logo {margin:50px 0 80px;width:auto;background-size:auto;}
#logo a {height:auto;}
.chatIsOpen {display: block; position: absolute; top: 140px; right: 50%; margin-right: -370px; width: 105px; height: 107px;}
.header {margin-bottom: 29px;}

/* Navigation nav-primary */
.nav-primary {margin: 0;}
.nav-primary ul {width: 960px; margin: 0 0 0 -20px; padding: 0;}
.nav-primary ul li {float: left; margin: 0; width: 300px; margin: 0 0 20px 20px;}
.nav-primary li:hover {width: 300px;}
.nav-primary a {margin: 0; padding: 12px 20px;}
.splash .nav-primary a, .nav-primary a.selected {padding: 12px 20px;}
.nav-primary li:first-child a {margin-right: 0;}
.nav-primary a.selected, .nav-primary a:hover, .splash .nav-primary a:hover {width: auto;}

/* Navigation nav-secondary */
.nav-secondary a {padding: 0 20px 10px;}
#secondary-navigation.hidden-small {display: block;}

/* Content */
#chatIframe {max-width: 580px; height: 190px; padding: 20px; margin: 0;}
h1.title, .teaser, #article, #tmp_right {padding: 20px;}
h1.title {padding-bottom: 0;}

/* Rightboxes */
.aside h2 {margin: -20px -20px 20px; padding: 20px;}

/* News */
.news .headergroup {padding: 20px; margin-bottom: 5px;}
.newsbox {margin-bottom: 5px;}

/* Frontpage */
#ringTilOs a {padding-left: .8em;}
#frontpage {margin-top: 0;}
#frontpage #features {float: none; clear: both; width: 940px; margin-top: 8px;}
#frontpage #feature2 {width: 940px;}
#frontpage #videobox {padding: 20px; margin-bottom: 50px;}
#frontpage #videobox .textcontainer {float: left; width: 280px;}
#frontpage #videobox .tabcontainer {float: right; width: 600px;}
#frontpage .news {float: left; width: 640px;}
#frontpage .newsbox {height: auto; width: auto; float: none;}
#frontpage .morebtn {margin: 0 0 20px 20px;}
#frontpage #asides {padding: 0;}
.navlist a {padding: 5px 20px 5px;}
